<div id="block_notice_play_template_selling_format" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Selling Format Template'); ?>">
    <?php echo Mage::helper('M2ePro')->__('Selling Format Template contains price-related data and quantity for the items, which will be listed on Play.com.<br/><br/>
Next to each price options dropdown there is a box for Price Change. Price Change is a value you want the Magento Price to be modified while listing on Play.com.<br/><br/>
<b>Examples:</b><br/>
If you want the price on Play.com to be greater by 15% than the price in Magento, you should set +15% in the Price Change field.<br/>
<i>Play.com Price = Magento Price + Magento Price * 0.15</i>
<br/>
If you want the price on Play.com to be less by 10 currency units than the price in Magento, you should set -10 in the Price Change field.<br/>
<i>Play.com Price = Magento Price - 10</i>
<br/>
If you want the price on Play.com to be multiplied by coefficient 1.2, you should set 1.2 in the Price Change field.
<br/>
<i>Play.com Price = Magento Price * 1.2.</i>
<br/><br/>
<b>Note:</b> If the Special Price is chosen in the <span style="text-decoration: underline;">Item Price</span> option, but it is not set in Magento Product settings or it is set but it has already expired, the Product Price is used instead.
<br/><br/>
<b>Note:</b> Attributes must contain only numeric values.'); ?>
</div>

<?php
$formData = Mage::helper('M2ePro/Data_Global')->getValue('temp_data') ? Mage::helper('M2ePro/Data_Global')->getValue('temp_data')->toArray() : array();

$paramsAttributeSetId = $this->getRequest()->getParam('attribute_sets');
!is_null($paramsAttributeSetId) && $formData['attribute_sets'] = explode(',', $paramsAttributeSetId);

$default = array(
    'title' => '',
    'attribute_sets' => array(),

    'qty_mode' => Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_PRODUCT,
    'qty_custom_value' => 1,
    'qty_custom_attribute' => '',
    'qty_max_posted_value_mode' => Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MAX_POSTED_MODE_ON,
    'qty_max_posted_value' => Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MAX_POSTED_DEFAULT_VALUE,

    'price_gbr_mode' => Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_PRODUCT,
    'price_gbr_coefficient' => '',
    'price_gbr_custom_attribute' => '',

    'price_euro_mode' => Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_PRODUCT,
    'price_euro_coefficient' => '',
    'price_euro_custom_attribute' => '',

    'price_variation_mode' => Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_VARIATION_MODE_PARENT,
);

$formData = array_merge($default, $formData);

$isEdit = !!$this->getRequest()->getParam('id');
?>

<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Play_Template_SellingFormat'); ?>,
        'Ess_M2ePro_Model_Play_Template_SellingFormat'
    );

    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Play'); ?>,
        'Ess_M2ePro_Helper_Component_Play'
    );

    M2ePro.url.add(<?php echo json_encode(array(
        'formSubmit'    => $this->getUrl('M2ePro/adminhtml_common_play_template_sellingFormat/save', array('id' => $this->getRequest()->getParam('id'))),
        'formSubmitNew' => $this->getUrl('M2ePro/adminhtml_common_play_template_sellingFormat/save'),
        'deleteAction'  => $this->getUrl('M2ePro/adminhtml_common_template_sellingFormat/delete', array('id' => $this->getRequest()->getParam('id')))
    )); ?>);

    M2ePro.translator.add(<?php echo json_encode(array(
        'Price for selling in the UK.' => $this->__('Price for selling in the UK.'),
        'Price for selling in Europe.' => $this->__('Price for selling in Europe.'),
        'The price of products in Play.com listing(s).<br/><b>Note:</b> The Final Price is only used for Simple Products.' => $this->__('The price of products in Play.com listing(s).<br/><b>Note:</b> The Final Price is only used for Simple Products.'),

        'Add Selling Format Template.' => $this->__('Add Selling Format Template.'),
        'The specified title is already used for other template. Template title must be unique.' => $this->__('The specified title is already used for other template. Template title must be unique.'),
        'You should select Attribute Sets first and press Confirm button.' => $this->__('You should select Attribute Sets first and press Confirm button.'),
        'Coefficient is not valid.' => $this->__('Coefficient is not valid.'),

        'Wrong value. Only integer numbers.' => $this->__('Wrong value. Only integer numbers.')
    )); ?>);

    M2ePro.formData.id = '<?php echo $this->getRequest()->getParam('id'); ?>';

    M2ePro.formData.qty_mode = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['qty_mode']); ?>';
    M2ePro.formData.qty_max_posted_value_mode = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['qty_max_posted_value_mode']); ?>';

    M2ePro.formData.qty_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['qty_custom_attribute']); ?>';
    M2ePro.formData.price_gbr_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['price_gbr_custom_attribute']); ?>';
    M2ePro.formData.price_euro_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['price_euro_custom_attribute']); ?>';

    Event.observe(window, 'load', function() {

        AttributeSetHandlerObj = new AttributeSetHandler();

        PlayTemplateSellingFormatHandlerObj = new CommonPlayTemplateSellingFormatHandler();
        PlayTemplateSellingFormatHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Play_Template_SellingFormat'); ?>');

        $('attribute_sets').observe('change', AttributeSetHandlerObj.changeAttributeSets);
        $('attribute_sets').value && PlayTemplateSellingFormatHandlerObj.attribute_sets_confirm();

        $('qty_mode')
            .observe('change', PlayTemplateSellingFormatHandlerObj.qty_mode_change)
            .simulate('change');

        $('qty_max_posted_value_mode')
            .observe('change', PlayTemplateSellingFormatHandlerObj.qtyMaxPostedMode_change)
            .simulate('change');

        $('price_gbr_mode')
            .observe('change', PlayTemplateSellingFormatHandlerObj.price_gbr_mode_change)
            .simulate('change');

        $('price_euro_mode')
            .observe('change', PlayTemplateSellingFormatHandlerObj.price_euro_mode_change)
            .simulate('change');

        editForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl(); ?>');
    });
    //-----------------------------

</script>

<style type="text/css">
    .coef {
        padding-left: 5px !important;
        padding-top: 5px !important;
    }
    .coef input {
        text-align: right;
        width: 36px;
    }
    .form-list td.label {
        width: 275px;
    }
</style>

<form id="<?php echo $this->getForm()->getId(); ?>" action="<?php echo $this->getForm()->getData('action'); ?>" method="post" enctype="multipart/form-data">

<input name="form_key" value="<?php echo $this->getFormKey(); ?>" type="hidden" />

<div class="entry-edit" id="magento_block_play_template_selling_format_general">

<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('General'); ?></h4>
</div>

<div class="fieldset">
    <div class="hor-scroll">

        <table class="form-list" cellspacing="0" cellpadding="0">

            <tr>
                <td class="label">
                    <label for="title"><?php echo Mage::helper('M2ePro')->__('Title'); ?>: <span class="required">*</span></label>
                </td>
                <td class="value">
                    <input id="title" name="title" value="<?php echo $this->escapeHtml($formData['title']); ?>" type="text" class="input-text required-entry M2ePro-price-tpl-title"/>
                    <p class="note">
                        <span><?php echo Mage::helper('M2ePro')->__('Short meaningful template title for your internal use.'); ?></span>
                    </p>
                </td>
            </tr>

            <tr>
                <td class="label">
                    <label for="attribute_sets"><?php echo Mage::helper('M2ePro')->__('Product Attribute Sets'); ?>: <span class="required">*</span></label>
                </td>
                <td class="value">
                    <div id="attribute_sets_container" <?php if ($this->attribute_set_locked): ?>style="display: none;"<?php endif; ?>>
                        <?php $this->attribute_set_locked ? $attributeSetPostfix = '_fake' : $attributeSetPostfix = ''; ?>
                        <select id="attribute_sets<?php echo $attributeSetPostfix; ?>" name="attribute_sets<?php echo $attributeSetPostfix; ?>[]" multiple="multiple" class="<?php if (!$this->attribute_set_locked): ?>M2ePro-validate-attribute-sets<?php endif; ?>">
                            <?php foreach ($this->getData('attributes_sets') as $set): ?>
                            <option value="<?php echo $set['attribute_set_id']; ?>"<?php if (in_array($set['attribute_set_id'], $formData['attribute_sets'])): echo ' selected="selected"'; endif;?>><?php echo $set['attribute_set_name'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>

                    <?php if ($this->attribute_set_locked): ?>
                    <div id="attribute_sets_breadcrumb" style="width: 280px;">
                        <?php $breadcrumb = array(); foreach ($this->getData('attributes_sets') as $set): ?>
                        <?php if (in_array($set['attribute_set_id'], $formData['attribute_sets'])): $breadcrumb[] = $set['attribute_set_name']; endif; ?>
                        <?php endforeach; ?>
                        <strong><?php echo implode(', ', $breadcrumb); ?></strong>
                    </div>
                    <input id="attribute_sets" name="attribute_sets" value="<?php echo $this->escapeHtml(implode(',', $formData['attribute_sets'])); ?>" type="hidden" />
                    <?php endif; ?>

                    <div id="attribute_sets_buttons_container" style="padding-top: 5px; <?php if ($this->attribute_set_locked): ?>display: none;<?php endif; ?>">
                        <?php echo $this->getChildHtml('attribute_sets_select_all_button'); ?>
                        <?php echo $this->getChildHtml('attribute_sets_confirm_button'); ?>
                    </div>
                    <p class="note">
                        <span><?php echo Mage::helper('M2ePro')->__('Attribute Sets of products which will be listed on Play.com<br />using this template.'); ?></span>
                    </p>
                </td>
            </tr>

        </table>

    </div>
</div>

<div class="entry-edit" id="magento_block_play_template_selling_format_qty">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Quantity'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr class="requirie-attribute-set">
                    <td class="label">
                        <label for="qty_mode"><?php echo Mage::helper('M2ePro')->__('Item Quantity'); ?>: </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="qty_mode" name="qty_mode">
                            <option id="qty_mode_product" value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_PRODUCT; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_PRODUCT == $formData['qty_mode']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Product QTY'); ?></option>
                            <option id="qty_mode_single" value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_SINGLE; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_SINGLE == $formData['qty_mode']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Single Item'); ?></option>
                            <option id="qty_mode_cv" value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_NUMBER; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_NUMBER == $formData['qty_mode']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom QTY Number'); ?></option>
                            <option id="qty_mode_ca" value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_ATTRIBUTE; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MODE_ATTRIBUTE == $formData['qty_mode']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom QTY Attribute'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Products quantity in Play.com listing(s).'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="qty_custom_value_tr" style="display: none;">
                    <td class="label">
                        <label for="qty_custom_value"><?php echo Mage::helper('M2ePro')->__('Custom QTY Number'); ?>: </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input id="qty_custom_value" name="qty_custom_value" value="<?php echo $this->escapeHtml($formData['qty_custom_value']); ?>" type="text" class="input-text M2ePro-required-when-visible validate-digits" />
                    </td>
                </tr>

                <tr id="qty_custom_attribute_tr" style="display: none;">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Custom QTY Attribute'); ?>: </label>
                    </td>
                    <td id="qty_custom_attribute_td" class="value" style="width: auto;"></td>
                </tr>

                <!-- Max Posted QTY-->
                <tr id="qty_max_posted_value_mode_tr" style="display: none;">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Conditional Quantity'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="qty_max_posted_value_mode" name="qty_max_posted_value_mode" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MAX_POSTED_MODE_OFF; ?>" <?php if ($formData['qty_max_posted_value_mode'] == Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MAX_POSTED_MODE_OFF): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Disabled'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MAX_POSTED_MODE_ON; ?>" <?php if ($formData['qty_max_posted_value_mode'] == Ess_M2ePro_Model_Play_Template_SellingFormat::QTY_MAX_POSTED_MODE_ON): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Enabled'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('<i>Enables</i> to set the quantity that will be sent on Play.com.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="qty_max_posted_value_tr" style="display: none;">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Max Quantity to Be Listed'); ?>: <span class="required">*</span></label>
                    </td>
                    <td id="qty_max_posted_value_td" class="value" style="width: auto;">
                        <input id="qty_max_posted_value" name="qty_max_posted_value" value="<?php echo $this->escapeHtml($formData['qty_max_posted_value']); ?>" type="text" class="input-text validate-qty M2ePro-required-when-visible" />
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('If you have 5 pieces in stock but set a max qty of 2 to be listed, a qty of 2 will be listed on Play.com.<br/>
                                                                         If you have 1 piece in stock but max qty is set to 3, only 1 will be listed on Play.com.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_play_template_selling_format_price">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Item Price'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <div id="block_notice_play_template_selling_format_shipping" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Price'); ?>">
                <?php echo Mage::helper('M2ePro')->__('You are required to set both prices for the UK and Europe delivery regions.
                <br/>Depending on Delivery Region, chosen in Listing Channel settings necessary price will be used for the items you list.'); ?>
            </div>

            <table id="price_table" cellspacing="0" class="form-list">

                <tr>
                    <td class="label">
                        <label for="price_gbr_mode"><?php echo Mage::helper('M2ePro')->__('Price, GBP'); ?>:</label>
                    </td>
                    <td class="value">
                        <select id="price_gbr_mode" name="price_gbr_mode" class="select-main required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_PRODUCT; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_PRODUCT == $formData['price_gbr_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Product Price'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_SPECIAL; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_SPECIAL == $formData['price_gbr_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Special Price'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_ATTRIBUTE; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_ATTRIBUTE == $formData['price_gbr_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute'); ?></option>
                        </select>
                        <p class="note">
                            <span id="price_gbr_note"></span>
                        </p>
                    </td>
                    <td id="price_gbr_coefficient_td" class="coef">
                        <div style="font-size: 11px; float: right; padding-left: 10px;">
                            <img src="<?php echo $this->getSkinUrl('images/note_cell_bg.gif'); ?>" />
                            <span style="padding-left: 5px;"><?php echo Mage::helper('M2ePro')->__('Absolute figure (+8,-3), percentage (+15%, -20%) or currency rate (1.44)'); ?>.</span>
                        </div>
                        <input id="price_gbr_coefficient" name="price_gbr_coefficient" value="<?php echo $this->escapeHtml($formData['price_gbr_coefficient']); ?>" type="text" class="M2ePro-validate-price-coefficient input-text" />
                    </td>
                </tr>

                <tr id="price_gbr_custom_attribute_tr" style="display: none;">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Custom Price Attribute, GBP'); ?>: <span class="required">*</span></label>
                    </td>
                    <td id="price_gbr_custom_attribute_td" class="value"></td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="price_euro_mode"><?php echo Mage::helper('M2ePro')->__('Price, EUR'); ?>:</label>
                    </td>
                    <td class="value">
                        <select id="price_euro_mode" name="price_euro_mode" class="select-main required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_PRODUCT; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_PRODUCT == $formData['price_euro_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Product Price'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_SPECIAL; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_SPECIAL == $formData['price_euro_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Special Price'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_ATTRIBUTE; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_ATTRIBUTE == $formData['price_euro_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute'); ?></option>
                        </select>
                        <p class="note">
                            <span id="price_euro_note"></span>
                        </p>
                    </td>
                    <td id="price_euro_coefficient_td" class="coef">
                        <div style="font-size: 11px; float: right; padding-left: 10px;">
                            <img src="<?php echo $this->getSkinUrl('images/note_cell_bg.gif'); ?>" />
                            <span style="padding-left: 5px;"><?php echo Mage::helper('M2ePro')->__('Absolute figure (+8,-3), percentage (+15%, -20%) or currency rate (1.44)'); ?>.</span>
                        </div>
                        <input id="price_euro_coefficient" name="price_euro_coefficient" value="<?php echo $this->escapeHtml($formData['price_euro_coefficient']); ?>" type="text" class="M2ePro-validate-price-coefficient input-text" />
                    </td>
                </tr>

                <tr id="price_euro_custom_attribute_tr" style="display: none;">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Custom Price Attribute, EUR'); ?>: <span class="required">*</span></label>
                    </td>
                    <td id="price_euro_custom_attribute_td" class="value"></td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="price_variation_mode"><?php echo Mage::helper('M2ePro')->__('Variation Price Source'); ?>:</label>
                    </td>
                    <td class="value" colspan="2">
                        <select id="price_variation_mode" name="price_variation_mode" class="select-main">
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_VARIATION_MODE_PARENT; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_VARIATION_MODE_PARENT == $formData['price_variation_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Main Product'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_VARIATION_MODE_CHILDREN; ?>" <?php if (Ess_M2ePro_Model_Play_Template_SellingFormat::PRICE_VARIATION_MODE_CHILDREN == $formData['price_variation_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Associated Products'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Determines where the price for Configurable and Bundle products options should be taken from.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

</form>
