<form method="post" enctype="multipart/form-data" action="<?php echo $this->getUpdateUrl();?>">
<?php echo $this->getBlockHtml('formkey')?>

<div class="entity-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('customstockstatus')->__('Manage Statuses') ?></h4>

        <div class="form-buttons">
            <button style="" type="submit" class="scalable save" type="button"><span><?php echo Mage::helper('customstockstatus')->__('Update')?></span></button>
        </div>
    </div>
    <?php if ($mess=$this->getMessage()):?>
        <div>
            <ul class="messages">
                <li class="error-msg">
                    <ul>
                        <?php foreach($mess as $v):?>
                            <li><?php echo $v;?></li>
                        <?php endforeach;?>
                    </ul>
                </li>
            </ul>
        </div>
    <?php endif;?>
    <div class="box">
            <div class="hor-scroll">
            <table cellspacing="5">
                <tr>
                    <th width="200"><?php echo Mage::helper('customstockstatus')->__('Status Label') ?></th>
                    <th width="10"></th>
                    <th width="30"><?php echo Mage::helper('customstockstatus')->__('Quantity Min')?></th>
                    <th width="10"></th>
                    <th width="30"><?php echo Mage::helper('customstockstatus')->__('Quantity Max')?></th>
                    <th width="10"></th>
                    <th><?php echo Mage::helper('customstockstatus')->__('Upload icon image') ?></th>
                    <th width="10"></th>
                    <th><?php echo Mage::helper('customstockstatus')->__('Preview') ?></th>
                    <th width="10"></th>
                    <th><?php echo Mage::helper('customstockstatus')->__('Check for delete icon') ?></th>
                </tr>

                <?php foreach ($this->getOptions() as $option): ?>
                <tr>
                    <td><?php echo $option->getValue(); ?></td>
                    <td></td>
                    <td><input type="text" name="qty[<?php echo $option->getOptionId();?>][from]" value="<?php echo $option->getQtyFrom()?>" style="width: 60px;"></td>
                    <td></td>
                    <td><input type="text" name="qty[<?php echo $option->getOptionId();?>][to]" value="<?php echo $option->getQtyTo()?>" style="width: 60px;"></td>
                    <td></td>
                    <td><input type="file" name="icon[<?php echo $option->getOptionId(); ?>]"></td>
                    <td></td>
                    <td align="center">
                        <?php
                        $imageUrl = $this->getImageUrl($option->getOptionId());
                        if ($imageUrl):
                        ?>
                            <img src="<?php echo $imageUrl; ?>" alt="">
                        <?php else: ?>
                            <?php echo Mage::helper('customstockstatus')->__('[none]') ?>
                        <?php endif; ?>
                    </td>
                    <td></td>
                    <td align="center">
                    <?php if ($imageUrl):?>
                        <input type="checkbox" value="1" name="delete[<?php echo $option->getOptionId(); ?>]"></td>
                    <?php endif;?>
                </tr>
                <?php endforeach; ?>

            </table>
            </div>
    </div>
</div>

</form>