<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.2.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()): ?>
<div id="aw-onestepcheckout-review-referafriend">
    <?php if ($this->isDiscountSectionAvailable()) : ?>
        <div class="refer-a-friend-message-container" style="overflow:hidden;height:0px;"></div>
        <div class="refer-a-friend-form">
            <label for="raf_discount_amount"><?php echo $this->__('Referred Friends Discount') ?></label>
            <div class="field-row">
                <input class="input-text" id="raf_discount_amount" name="raf_discount_amount" value="<?php echo (float)$this->getAppliedAmount(); ?>" />
                <div class="raf-details">
                    <?php echo $this->__('of %s available balance', $this->getAvailableAmount(true)); ?>
                </div>
            </div>
            <?php if($this->getMaxDiscountPercent()): ?>
                <label class="raf-maximum-discount"><?php echo $this->__('Maximum allowed discount to order is %d%%', $this->getMaxDiscountPercent()); ?></label>
            <?php endif; ?>
        </div>
        <script type="text/javascript">
            var awOSCReviewReferafriend = new AWOnestepcheckoutReviewReferAFriend({
                containerSelector: '.refer-a-friend-form',
                msgContainerSelector: '.refer-a-friend-message-container',
                discountAmountInput: 'raf_discount_amount',
                applyDiscountUrl: '<?php echo $this->getApplyDiscountAjaxUrl(); ?>',
                successMessageBoxCssClass: 'aw-onestepcheckout-success-msg',
                errorMessageBoxCssClass: 'aw-onestepcheckout-error-msg',
                jsErrorMsg: <?php echo Zend_Json::encode($this->__("Oops something's wrong")); ?>,
                jsSuccessMsg: <?php echo Zend_Json::encode($this->__("Ok")); ?>,
                amountValidationError: '<?php echo $this->__('You can use up to %s with this total', $this->getMaxDiscount(true)); ?>',
                isDiscountApplied: <?php echo ($this->getAppliedAmount() ? 'true' : 'false'); ?>,
                discountLimit: <?php echo Mage::app()->getStore()->convertPrice($this->getMaxDiscount()) ?>
            });
        </script>
    <?php endif; ?>
</div>
<?php endif; ?>