<div class="category-products">
<?php 
	$prodottipersonali = $this->getProdottiPersonali();
	$i=0;
	$itemnumber = count($prodottipersonali);
	if ($itemnumber) :
		foreach ($prodottipersonali as $prod) :
		if ($i++%4==0): ?>
		<ul class="products-grid">
		<?php endif ?>
            <li class="item <?php if(($i-1)%4==0): ?>first <?php elseif($i%4==0): ?>last<?php endif; ?>">
                <a href="<?php echo Mage::helper('dotcom_catalog')->getUrlProdotto($prod) ?>" title="<?php echo $this->stripTags($this->getImageLabel($prod, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($prod, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($prod, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name"><a href="<?php echo Mage::helper('dotcom_catalog')->getUrlProdotto($prod) ?>" title="<?php echo $this->stripTags($prod->getName(), null, true) ?>"><?php echo $prod->getName(); ?></a></h2>
                <div><?php echo $prod->getSku() ?></div>
                <?php echo $prod->getPrice(); ?>
            </li>
		<?php if ($i%4==0 || $i==$itemnumber): ?>
		</ul>
		<?php 
		endif; 
		endforeach;
	else :
?>
<span id="nopersonali">Nessun prodotto personale</span>
<?php endif; ?>
</div>