<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Mobile
 * @version    1.6.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/search.js') ?>"></script>
<?php echo $this->getChildHtml('topSearch') ?>
<div class="header-top">
    <div class="col2-alt-set">
        <div class="col-1">
            <h1 id="logo"><a href="<?php echo $this->getUrl('') ?>">
                    <img src="<?php echo Mage::getStoreConfig('awmobile/design/logo_src') ? Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'awmobile/'.Mage::getStoreConfig('awmobile/design/logo_src') : $this->getSkinUrl(Mage::getStoreConfig('awmobile/design/default_logo')); ?>" alt="<?php echo Mage::getStoreConfig('awmobile/design/logo_alt') ? $this->htmlEscape(Mage::getStoreConfig('awmobile/design/logo_alt')) : $this->getLogoAlt(); ?>" /></a></h1>
        </div>
        <div class="col-2">
            <div class="user-links">
                <?php echo $this->getChildHtml('user_links') ?>
            </div>
        </div>
    </div>
</div>

