
<div class="right_account_links">
	<a href="<?php echo Mage::getUrl('customer/account')?>"> <?php echo $this->__('My account')?></a>
	<?php if($this->helper('customer')->isLoggedIn()):?>
    	<a class="log-out" href="<?php echo Mage::getUrl('customer/account/logout')?>"><?php echo $this->__('Log out')?></a>
    <?php else:?>
    	<a class="register" href="<?php echo Mage::getUrl('customer/account/create')?>"> <?php echo $this->__('Register')?></a>
    <?php endif;?>
</div>
