<?php
    $attachments = $this->getResults();

    if (count($attachments) > 0):
?>
    <div class="collateral-box">
        <div class="head">
            <h4><?php echo $this->__('Found Product Attachments') ?>:</h4>
        </div>
        <div class="collateral-box attachment-specs">
            <table cellspacing="0" id="product-attachment-specs-table" class="data-table">
                <tbody>
                <?php foreach ($attachments as $attachment): ?>
                    <tr>
                        <td class="label"><?php echo $attachment['file']; ?></td>
                        <td class="data"><?php echo $attachment['content']; ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <script type="text/javascript">decorateTable('product-attachment-specs-table')</script>
        </div>
    </div>
<?php else:?>
        <div class="collateral-box">
            <div class="head">
                <h4><?php echo $this->__('Found Product Attachments') ?>:</h4>
            </div>
            <div class="collateral-box attachment-specs">
                <p class="note-msg"><?php echo $this->getNoResultText(); ?></p>
            </div>
        </div>
<?php endif; ?>