<?php
if (!function_exists('trimtodot')){
	function trimtodot($txt, $limit=120){
		$txt = strip_tags($txt);
		$txt = trim($txt, " \t\n\r\0\x0B\"'");
		$txt = str_replace('  ', ' ', $txt);
		$txt = explode(' ', $txt);
		$str = '';
		foreach($txt as $c){
			if (strlen($str) > $limit) {
				$str .= ' ...';
				break;
			}
			else {
				$str .= ' '.$c;
			}
		}
		return $str;
	}
}
?>

<?php $_storeId = Mage::app()->getStore()->getId(); ?> 
<?php $_page = Mage::getSingleton('cms/page');?>
<?php $_pageChildren = $_page->getChildren()?>

<script type="text/javascript" language="javascript">
//<![CDATA[
	jQuery.noConflict();
	jQuery(function(){
		jQuery("tbody.pagination").quickPager({
			pageSize:10,
			pagerLocation:"before"
		});
	});     
//]]>
</script>

<table class="contents_table" id="case_studies" border="0">
	<tbody>
		<tr>
			<td>
				<h1>Case Study</h1>
			</td>
		</tr>
		<tr>
			<td>
				<table class="product_family case_study" border="0">
					<tbody class="pagination">
					<?php foreach ($_pageChildren as $_casestudy):?>
						<tr>
							<td colspan="2" align="left">
								<h2><?php echo $_casestudy->getTitle()?></h2>
								<p>
									<span style="font-size: 12px; font-weight: normal;">
									<?php echo trimtodot($_casestudy->getContent(),312)?><em><strong><span class="widget-cms-link"><a href="<?php echo Mage::getUrl($_casestudy->getIdentifier())?>">leggi tutto</a></span></strong></em>
									</span>
								</p>
								<p>
									<span style="font-size: 12px; font-weight: normal;"> </span>
								</p>
								<hr /> <br />
							</td>
						</tr>
					<?php endforeach;?>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

