<div class="page-title">
<h1 title="<?php echo $this->htmlEscape($this->getTitle());?>">[#<?php echo $this->getUid()?>] <?php
    echo Mage::helper('core/string')->truncate($this->htmlEscape($this->getTitle()), 60)
    ?></h1>
</div>

<fieldset class="group-select fieldset">
    <h4 class="legend"><?php echo Mage::helper('helpdeskultimate')->__("Ticket information")?></h4>

    <!-- Common ticket info -->
    <table width="100%">
        <col width="50%"/>
        <col width="50%"/>
        <tbody>
        <tr>
            <td>
                <span class="label"><?php echo Mage::helper('helpdeskultimate')->__("Department")?>:</span>
                <?php echo $this->getDepartment()->getName();?>
            </td>
            <td>
                <span class="label"><?php echo Mage::helper('helpdeskultimate')->__("Status")?>:</span>
                <?php echo $this->getStatusText();?>
            </td>
        </tr>
        <?php if ($this->getOrder()): ?>
            <tr>
                <td>
                    <span class="label"><?php echo Mage::helper('helpdeskultimate')->__("Order")?>:</span>
                    <a href="<?php echo $this->getUrl('manager/index/view', array('id' => $this->getOrder()->getId()))?>">#<?php echo $this->getOrder()->getIncrementId();?></a>
                </td>
                <td></td>
            </tr>
        <?php endif;?>
        </tbody>
    </table>
</fieldset>