<?php
/**
 * GoMage Product Designer Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use/
 * @version      Release: 1.0.0
 * @since        Available since Release 1.0.0
 */
?>
<?php
$options = $this->getOptions();
?>
<form id="pd-card-options-form" action="#">

    <?php foreach (array('front', 'back') as $side): ?>

        <ul class="pd-card-options" id="pd-card-options-<?php echo $side ?>" <?php if ($side == 'back'): ?>style="display: none;"<?php endif; ?> >
            <li class="pd-card-option">
                <div class="pd-card-option-header">
                    <h2><?php echo $this->__('ID Technologies'); ?></h2>
                </div>
                <div class="pd-card-option-content pd-card-option-selects">
                    <div class="pd-card-option-select">
                        <?php $option = $options->getOption('bandamagnetica_' . $side); ?>
                        <label for="<?php echo $option->getKey() ?>"><?php echo $option->getLabel() ?></label>
                        <select name="<?php echo $option->getKey() ?>">
                            <?php foreach ($option->getValues() as $value => $label): ?>
                                <option <?php if ($value == $option->getValue()): ?>selected="selected"<?php endif; ?>
                                        value="<?php echo $value ?>"><?php echo $label ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="pd-card-option-select">
                        <?php $option = $options->getOption('chipcontatto_' . $side); ?>
                        <label for="<?php echo $option->getKey() ?>"><?php echo $option->getLabel() ?></label>
                        <select name="<?php echo $option->getKey() ?>">
                            <?php foreach ($option->getValues() as $value => $label): ?>
                                <option <?php if ($value == $option->getValue()): ?>selected="selected"<?php endif; ?>
                                        value="<?php echo $value ?>"><?php echo $label ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="pd-card-option-select">
                        <?php $option = $options->getOption('chipcrfid_' . $side); ?>
                        <label for="<?php echo $option->getKey() ?>"><?php echo $option->getLabel() ?></label>
                        <select name="<?php echo $option->getKey() ?>">
                            <?php foreach ($option->getValues() as $value => $label): ?>
                                <option <?php if ($value == $option->getValue()): ?>selected="selected"<?php endif; ?>
                                        value="<?php echo $value ?>"><?php echo $label ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="pd-card-option-select">
                        <?php $option = $options->getOption('barcode_' . $side); ?>
                        <label for="<?php echo $option->getKey() ?>"><?php echo $option->getLabel() ?></label>
                        <select name="<?php echo $option->getKey() ?>">
                            <?php foreach ($option->getValues() as $value => $label): ?>
                                <option <?php if ($value == $option->getValue()): ?>selected="selected"<?php endif; ?>
                                        value="<?php echo $value ?>"><?php echo $label ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            </li>

            <li class="pd-card-option">
                <div class="pd-card-option-header">
                    <h2><?php echo $this->__('Other Printing Options'); ?></h2>
                </div>
                <div class="pd-card-option-content">
                    <div class="pd-card-option-other pd-card-option-checkbox">
                        <?php $option = $options->getOption('scratch_' . $side); ?>
                        <input type="checkbox" name="<?php echo $option->getKey() ?>" value="1"/>
                        <label><?php echo $option->getLabel() ?></label>
                    </div>
                    <div class="pd-card-option-other pd-card-option-checkbox">
                        <?php $option = $options->getOption('firma_' . $side); ?>
                        <input type="checkbox" name="<?php echo $option->getKey() ?>" value="1"/>
                        <label><?php echo $option->getLabel() ?></label>
                    </div>
                    <div class="pd-card-option-other pd-card-option-checkbox">
                        <?php $option = $options->getOption('varnishing_' . $side); ?>
                        <input type="checkbox" name="<?php echo $option->getKey() ?>" value="1"/>
                        <label><?php echo $option->getLabel() ?></label>
                    </div>
                    <div class="pd-card-option-other">
                        <?php $option = $options->getOption('silkbackground_' . $side); ?>
                        <h3><?php echo $option->getLabel() ?></h3>
                        <?php foreach ($option->getValues() as $value => $label): ?>
                            <input <?php if ($value == $option->getValue()): ?>checked="checked"<?php endif; ?>
                                   type="radio"
                                   name="<?php echo $option->getKey() ?>" value="<?php echo $value ?>"/>
                            <?php if ($value == 'no'): ?>
                                <label><?php echo $label ?></label>
                            <?php else: ?>
                                <span class="color-btn" style="background-color:<?php echo $value ?>">&nbsp;</span>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                    <div class="pd-card-option-other">
                        <?php $option = $options->getOption('pantone_' . $side); ?>
                        <label><?php echo $option->getLabel() ?></label>
                        <div class="pantote-cols">
                          <div class="col">
                            <input type="text" class="input-text" name="<?php echo $option->getKey() ?>">
                          </div>
                          <div class="col">
                            <input type="text" class="input-text" name="<?php echo $option->getKey() ?>">
                          </div>
                          <div class="col">
                            <input type="text" class="input-text" name="<?php echo $option->getKey() ?>">
                          </div>
                          <div class="col">
                            <input type="text" class="input-text" name="<?php echo $option->getKey() ?>">
                          </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="pd-card-option">
                <div class="pd-card-option-header">
                    <h2><?php echo $this->__('Personalizations'); ?></h2>
                </div>
                <div class="pd-card-option-content">
                    <div class="pd-card-option-other">
                        <?php $option = $options->getOption('numbering_' . $side); ?>
                        <h3><?php echo $option->getLabel() ?></h3>

                        <div class="pd-card-option-checkbox">
                            <?php foreach ($option->getValues() as $value => $label): ?>
                                <input <?php if ($value == $option->getValue()): ?>checked="checked"<?php endif; ?>
                                       type="radio"
                                       name="<?php echo $option->getKey() ?>" value="<?php echo $value ?>"/>
                                <label><?php echo $label ?></label>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <div class="pd-card-option-other pd-card-option-checkbox">
                        <?php $option = $options->getOption('persstampafoto_' . $side); ?>
                        <input type="checkbox" name="<?php echo $option->getKey() ?>" value="1"/>
                        <label><?php echo $option->getLabel() ?></label>
                    </div>
                    <div class="pd-card-option-other pd-card-option-checkbox">
                        <?php $option = $options->getOption('punzonatura_' . $side); ?>
                        <input type="checkbox" name="<?php echo $option->getKey() ?>" value="1"/>
                        <label><?php echo $option->getLabel() ?></label>
                    </div>

                    <div class="pd-card-option-other pd-card-option-checkbox">
                        <?php $option = $options->getOption('dodinkjet_' . $side); ?>
                        <input type="checkbox" name="<?php echo $option->getKey() ?>" value="1"/>
                        <input type="text" id="<?php echo $option->getKey() ?>"
                               placeholder="<?php echo $option->getLabel() ?>" class="input-text"/>
                    </div>
                </div>
            </li>
        </ul>

    <?php endforeach ?>


</form>
<script type="text/javascript">
    document.observe('dom:loaded', function (e) {
        var CardOptions = new GoMage.CardOptions(
            <?php echo $this->getDesignConfig() ?>,
            '<?php echo $this->getPriceUrl() ?>'
        );
    }.bind(this));
</script>