<?php
/**
 * GoMage Product Designer Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use/
 * @version      Release: 1.0.0
 * @since        Available since Release 1.0.0
 */
?>
<label for="qty"><?php echo $this->__('Quantity') ?></label>
<input type="text" class="input-text qty" title="<?php echo $this->__('Quantity') ?>" value="1" maxlength="12" id="qty"
       name="qty">