<?php
/**
 * GoMage Product Designer Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use/
 * @version      Release: 1.0.0
 * @since        Available since Release 1.0.0
 */
?>
<div>
    <div id="uploadedFiles">
        <?php echo $this->getChildHtml('uploadedFiles'); ?>
    </div>
</div>
<div id="db-file-input-box">
    <form target="iframeFilesSave" id="uploadFiles" enctype="multipart/form-data"
          action="<?php echo Mage::getUrl('designer/index/uploadFiles'); ?>" method="post">
        <div class="pd-upload-input">
            <input name="dbfilesToUpload[]" id="dbfilesToUpload" type="file" multiple="multiple"/>
        </div>
        <div class="pd-upload-buttons">
            <button class="button" type="submit"><span><span><?php echo $this->__('Upload'); ?></span></span></button>
            <button class="button" id="remove-file-btn" type="button"
                    <?php if (!$this->hasFiles()): ?>style="display: none"<?php endif; ?>>
                <span><span><?php echo $this->__('Remove Files'); ?></span></span></button>
        </div>
        <iframe id="iframeFilesSave" name="iframeFilesSave" style="display:none;"></iframe>
    </form>
</div>
<script type="text/javascript">
    document.observe('dom:loaded', function (e) {
        var filesUploader = new GoMage.FileUploader(
            '<?php echo $this->getRemoveFileUrl();?>'
        );
    }.bind(this));
</script>