<?php /* @var $this Mage_Catalog_Block_Product_View_Abstract */?>

<?php $_product = $this->getProduct() ?>

<?php /* BELVG START*/?>
<?php if ($_product->isAvailable()): ?>
    <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo Mage::helper('customstockstatus')->getAvailabilityText($_product) ?></span></p>
<?php else: ?>
    <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo Mage::helper('customstockstatus')->getAvailabilityText($_product) ?></span></p>
<?php endif; ?>
<?php /* BELVG END*/?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<?php echo $this->getPriceHtml($_product) ?>