<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3>Ariete import</h3></td>
            <td class="a-right">
                <button onclick="editForm.submit()" class="scalable save" type="button"><span>Import</span></button>
            </td>
        </tr>
    </table>
</div>

<?php echo $this->getFormHtml() ?>


<script type="text/javascript">
	var editForm = new varienForm('edit_form');
</script>