<?php 
$_products = $this->getProductCollection();

/* $collection = Mage::getModel('catalog/product')
					->getCollection()
					->addAttributeToSelect('*')
					->addAttributeToFilter('song_artist_1', '124')
					;

//$_products = $collection->addAttributeToFilter('manufacturer', 'HTC'); 
echo "<pre>"; print_r($collection->getData()); exit;  */
//echo "<pre>"; var_dump(Mage::registry('current_category'));
?>

<?php
$_coreHelper = $this->helper('core');
$_taxHelper  = $this->helper('tax'); 
?>

<div class="block block-compare">
    <div class="block-title">
        <strong><?php echo $this->__('Bestselling Products') ?></strong>
    </div>
    <div class="block-content">        
	<?php if(count($_products) > 0): ?>
        <ol id="best-sidebar" class="mini-products-list">
        <?php foreach ($_products  as $_item): ?>
		<?php $_finalPrice = $_taxHelper->getPrice($_item, $_item->getFinalPrice()); ?>
	    <li class="item">
                <a class="product-image" href="<?php echo $_item->getProductUrl() ?>">
                	<img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(50) ?>" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" width="50" height="50" />
                </a>
            <div class="product-details">
	            <p class="product-name">
	                <a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a>
	            </p>    
					<?php echo $_coreHelper->formatPrice($_finalPrice); //echo $this->getPriceHtml($_item, true) ?>                   
		    </div>
        </li>
        <?php endforeach ?>
        </ol>
        <script>
        	decorateList('best-sidebar', 'none-recursive')
        </script>
        <div class="actions">
        <button onclick="setLocation('<?php echo Mage::getBaseUrl() ?>bestselling')" class="button" title="<?php echo $this->__('View All') ?>" type="button"><span><span><?php echo $this->__('View All') ?></span></span></button>
        </div>
<?php else: ?>
<div class="empty"><?php echo $this->__('No items for this category') ?></div>        
<?php endif ?>
    </div>
   </div> 
