<!-- zoorate feedaty merchant widget start -->
<div id="zoorate_widget_6ddbd72ddce70433"></div>
<script src="//widget.zoorate.com/js/feed_v3.js" type="text/javascript"></script>
<script type="text/javascript">
var zoorate_params = { 
"zoorate_site_key": "90de4b12ca547a391ff01e623c7b83e7", 
"zoorate_widget_css": "merchant_medium.css", 
"zoorate_widget_type": "merchant_medium",
"zoorate_widget_id": "6ddbd72ddce70433"+"|"+document.URL, 
"zoorate_widget_server": "widget.zoorate.com" 
}; 
do_widget(zoorate_params);
</script>
<!-- zoorate widget end -->