<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.2.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-onestepcheckout-review-comments-ddan">
    <div class="field-row">
        <label for="id-aw_deliverydate_date"><?php echo $this->__('Delivery Date') ?></label>
        <br />
        <?php echo $this->getCalendarHtml();?>
    </div>
    <?php if ($this->isTimeNoticeEnabled()): ?>
        <i><?php echo $this->__("Please note that orders after %s will be delivered the next day", $this->getFormattedTime()) ?></i>
    <?php endif; ?>
    <?php if ($this->isGeneralNoticeEnabled()):?>
        <div class="field-row">
            <label for="comments"><?php echo $this->__('Delivery Notice') ?></label>
            <br />
            <div class="input-box">
                <textarea name="comments" id="comments" rows="2"><?php echo $this->getComments(); ?></textarea>
            </div>
        </div>
    <?php endif;?>
    <?php echo $this->getChildHtml('calendar'); ?>
</div>