<!--@subject Offer print cards on infordatadealers.com@-->
<!--@vars
{"var data.contatto":"Sender Name"}
@-->

<p>Dear. {{var data.name}} {{var data.surname}}
<br>
Trieste, {{var data.today}}
<br><br><br>
Quotation for card printing “{{var data.nomeprogettocard}}”
<br></p>
Cards specifications:
<br><br>
<b>Basic specifications:</b>
<table>
	<tr>
		<td style="background:#dadada;">Quantity: </td>
		<td style="background:#dfdfdf;">{{var data.costocardquantita}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Thickness: </td>
		<td style="background:#dfdfdf;">{{var data.spessorecard}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Front side colors: </td>
		<td style="background:#dfdfdf;">{{var data.colorifronte}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Back side colors: </td>
		<td style="background:#dfdfdf;">{{var data.coloriretro}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Printing type: </td>
	    <td style="background:#dfdfdf;">{{var data.tipostampa }}</td>	
	 </tr>
</table>
<br><br>
<b>Options:</b>
<table>
	<tr>
		<td style="background:#dadada;">Magnetic stripe: </td>
		<td style="background:#dfdfdf;">{{var data.bandamagnetica}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Contact chip: </td>
		<td style="background:#dfdfdf;">{{var data.chipcontatto}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Chip RFID: </td>
		<td style="background:#dfdfdf;">{{var data.chipcrfid}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Signature pannel: </td>
		<td style="background:#dfdfdf;">{{var data.firma}}</td></tr>
	<tr>
	<tr>
		<td style="background:#dadada;">Silk colors: </td>
		<td style="background:#dfdfdf;">{{var data.coloreserigrafico}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Hot foil stamping: </td>
		<td style="background:#dfdfdf;">{{var data.stampaacaldo}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Card slot punching: </td>
		<td style="background:#dfdfdf;">{{var data.asolaturacard}}</td>
	</tr>
</table>
<br><br>
<b>Customizations:</b>
<table>
	<tr>
		<td style="background:#dadada;">Variable data: </td>
		<td style="background:#dfdfdf;">{{var data.persdativariabili}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Photo printing: </td>
		<td style="background:#dfdfdf;">{{var data.persstampafoto}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Embossing: </td>
		<td style="background:#dfdfdf;">{{var data.punzonatura}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">BM Encoding: </td>
		<td style="background:#dfdfdf;">{{var data.codificamagnetica}}</td></tr>
	<tr>
	<tr>
		<td style="background:#dadada;">Chip Encoding/Reading: </td>
		<td style="background:#dfdfdf;">{{var data.codificadatichip}}</td></tr>
</table>
<br><br>
<b>Card printing cost:</b>
<br>
<table>
	<tr>
		<td style="background:#dadada;">Unit cost: </td>
		<td style="background:#dfdfdf;">{{var data.costounitario}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Total cost*: </td>
		<td style="background:#dfdfdf;">{{var data.costototale}}</td>
	</tr>
 </table>
 <br>

<p>* The total amount does not include taxes, shipping costs and any thing is not expressly specified.</p>