<!--@subject Maga Cardò@-->
<!--@vars
{"var data.contatto":"Sender Name"}
@-->
Trieste, {{var data.today}}
<br />
<b>Quotation summary:</b>
<table>
 <tr>
 	 <td style="background:#dadada;">Quantity: </td>
 	 <td style="background:#dfdfdf;">{{var data.costocardquantita}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Thickness: </td>
 	 <td style="background:#dfdfdf;">{{var data.spessorecard}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Front side colors: </td>
 	 <td style="background:#dfdfdf;">{{var data.colorifronte}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Back side colors: </td>
	 <td style="background:#dfdfdf;">{{var data.coloriretro}}</td>
</tr>
     <tr>
     	 <td style="background:#dadada;">Printing type: </td>
    	 <td style="background:#dfdfdf;">{{var data.tipostampa }}</td>
    </tr>
 <tr>
 	 <td style="background:#dadada;">Magnetic stripe: </td>
 	 <td style="background:#dfdfdf;">{{var data.bandamagnetica}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Contact chip: </td>
	 <td style="background:#dfdfdf;">{{var data.chipcontatto}}</td>
</tr>
 <tr>
 	 <td style="background:#dadada;">RFID Chip: </td>
	 <td style="background:#dfdfdf;">{{var data.chipcrfid}}</td>
</tr>
 <tr>
     <td style="background:#dadada;">Signature panel: </td>
     <td style="background:#dfdfdf;">{{var data.firma}}</td></tr>
 <tr>
 <tr>
     <td style="background:#dadada;">Silk colors: </td>
     <td style="background:#dfdfdf;">{{var data.coloreserigrafico}}</td>
</tr>
 <tr>
     <td style="background:#dadada;">Hot foil stamp: </td>
     <td style="background:#dfdfdf;">{{var data.stampaacaldo}}</td>
</tr>
 <tr>
     <td style="background:#dadada;">Card slot punching: </td>
     <td style="background:#dfdfdf;">{{var data.asolaturacard}}</td>
</tr>
</table>
<br><br>
<b>Customizations:</b>
<table>
 <tr>
 	 <td style="background:#dadada;">Variable data: </td>
 	 <td style="background:#dfdfdf;">{{var data.persdativariabili}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Photo printing: </td>
 	 <td style="background:#dfdfdf;">{{var data.persstampafoto}}</td>
 </tr>
 <tr>
     <td style="background:#dadada;">Embossing: </td>
     <td style="background:#dfdfdf;">{{var data.punzonatura}}</td>
</tr>
 <tr>
 	 <td style="background:#dadada;">BM encoding: </td>
	 <td style="background:#dfdfdf;">{{var data.codificamagnetica}}</td></tr>
 <tr>
 <tr>
 	 <td style="background:#dadada;">Chip encoding/reading: </td>
	 <td style="background:#dfdfdf;">{{var data.codificadatichip}}</td>
</tr>
 </table>
 <br></br>
<b>Card printing cost:</b>
<table>
 <tr>
 	 <td style="background:#dadada;">Unit cost: </td>
 	 <td style="background:#dfdfdf;">{{var data.costounitario}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Total cost: </td>
 	 <td style="background:#dfdfdf;">{{var data.costototale}}</td>
 </tr>

 <tr>
 	 <td style="background:#dadada;">Customer name</td>
 	 <td style="background:#dfdfdf;">{{var data.name}} {{var data.surname}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Company name</td>
 	 <td style="background:#dfdfdf;">{{var data.company}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Phone number</td>
 	 <td style="background:#dfdfdf;">{{var data.phone}}</td>
 </tr>
  <tr>
 	 <td style="background:#dadada;">Customer email: </td>
	 <td style="background:#dfdfdf;">{{var data.addresseeemail}}</td>
</tr>
  <tr>
 	 <td style="background:#dadada;">Project name: </td>
 	 <td style="background:#dfdfdf;">{{var data.nomeprogettocard}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Notes: </td>
 	 <td style="background:#dfdfdf;">{{var data.note}}</td>
 </tr>
 </table>
