<?php
/**
 * Magpleasure Ltd.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-CE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magpleasure.com/LICENSE-CE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Magpleasure does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Magpleasure does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Magpleasure
 * @package    Magpleasure_Common
 * @version    0.6.3
 * @copyright  Copyright (c) 2012-2013 Magpleasure Ltd. (http://www.magpleasure.com)
 * @license    http://www.magpleasure.com/LICENSE-CE.txt
 */

/** @var $this Magpleasure_Common_Block_Widget_Dialog_Wrapper */
?>
<?php $dialogs = $this->getDialogs(); ?>

<?php if (count($dialogs)): ?>
<div class="mp-dialog-overlay" id="mp-dialog-overlay" style="display: none;"></div>
<div class="mp-dialog-loader" id="mp-dialog-loader" style="display: none;">
    <div class="mp-dialog-loader-wrapper">
        <div class="mp-dialog-loader-container">
            <div class="ajax-loager"></div>
            <div class="loader-message"><span><?php echo $this->__("Loading..."); ?></span></div>
        </div>
    </div>
</div>
<div class="mp-dialog-container" id="mp-dialog-container" style="display: none;">
    <div class="mp-dialog-wrapper" id="mp-dialog-wrapper">
        <div class="mp-dialog-content" id="mp-dialog-content"></div>
    </div>
</div>

<script type="text/javascript">
    <?php foreach ($dialogs as $dialog): ?>
    var <?php echo $dialog->getName(); ?> = new MpWidgetDialog({
        'overlay': 'mp-dialog-overlay',
        'loader': 'mp-dialog-loader',
        'dialog-container': 'mp-dialog-container',
        'dialog-content': 'mp-dialog-content',
        'window_url': '<?php echo $this->getWindowUrl($dialog); ?>',
        'post_url': '<?php echo $this->getPostUrl($dialog); ?>',
        'width': '<?php echo $this->getWidth($dialog); ?>',
        'height': '<?php echo $this->getHeight($dialog); ?>',
        'forward_data': '<?php echo $this->getForwardData($dialog); ?>',
        'error_message': '<ul class="messages"><li class="error-msg"><ul><li><span><?php echo $this->__("Can not load this window. Please try again later."); ?></span></li></ul></li></ul>',
        'additional_data': ''
    });
    <?php endforeach; ?>
</script>
<?php endif; ?>
