
<? foreach($this->_data['items'] AS $group):
	if(count($group['pages']) > 0): ?>
		<div class="widget_infordata pagine_correlate <?=$group['parent_page']->getIdentifier()?>">
			<h2><a href="<?=$group['parent_page']->getUrl()?>" title="<?=$this->htmlEscape($group['parent_page']->getTitle()) ?>"><?=$group['title']?></a></h2>
			<div class="box elenco_pagine">
				<? foreach($group['pages'] AS $page): ?>
					<div class="pagina">
						<a href="<?=$page->getUrl()?>" title="<?=$this->htmlEscape($page->getTitle()) ?>"><?=$page->getTitle()?></a>
					</div>
				<? endforeach; ?>
			</div>
		</div>
	<? endif; ?>
<? endforeach; ?>
