.callforprice_tooltip {
    display: none;
    position: absolute;
    border: 1px solid;
    padding: 5px;
    background-color: white;
    min-height: 18px;
    min-width: 50px;
    z-index: 1000;
    text-align: center;
}