
<div class="main-col-inner">
	<div class="content-header">
	<table cellspacing="0">
        <tbody><tr>
            <td style="width:50%;"><h3 class="icon-head head-cms-page"><?php echo $this->__('Google Analytics') ?></h3></td>
            <td class="form-buttons"><button type="button" class="" onclick="window.open('https://www.google.com/analytics/reporting/?id=<?php echo $this->getProfile(); ?>')" style=""><span><?php echo $this->__('View full report') ?></span></button></td>
        </tr>
    </tbody></table>	
	</div>
	

	<?php $today = $this->getToday(); ?>
	
	<div class="entry-edit">
        <div class="entry-edit-head"><h4><?php echo $this->__('Today') ?></h4></div>
        <fieldset class="a-center bold">
        
        <span style="float:left;font-size:18px;width:25%"><span class="price"><?php echo $today->getVisits(); ?></span><p style="font-size:12px; color:#686868;font-weight:normal;margin:0;"><?php echo $this->__('Visits') ?></p></span>
        <span style="float:left;font-size:18px;width:25%"><span class="price"><?php echo $today->getPageViews(); ?></span><p style="font-size:12px; color:#686868;font-weight:normal;margin:0;"><?php echo $this->__('Pageviews') ?></p></span>
        <span style="float:left;font-size:18px;width:25%"><span class="price"><?php echo $this->getAvgPages($today->getPageViews(), $today->getVisits()); ?></span><p style="font-size:12px; color:#686868;font-weight:normal;margin:0;"><?php echo $this->__('Pages/Visit') ?></p></span>
        <span style="float:left;font-size:18px;width:25%"><span class="price"><?php echo $this->getAvgTime($today->getTimeOnSite(), $today->getVisits()); ?></span><p style="font-size:12px; color:#686868;font-weight:normal;margin:0;"><?php echo $this->__('Avg. Time on Site') ?></p></span>

        </fieldset>
    </div>
	
	<?php $yesterday = $this->getYesterday(); ?>
	        
	<div class="entry-edit">
        <div class="entry-edit-head"><h4><?php echo $this->__('Yesterday') ?></h4></div>
        <fieldset class="a-center bold">
        
        <span style="float:left;font-size:18px;width:25%"><span class="price"><?php echo $yesterday->getVisits(); ?></span><p style="font-size:12px; color:#686868;font-weight:normal;margin:0;"><?php echo $this->__('Visits') ?></p></span>
        <span style="float:left;font-size:18px;width:25%"><span class="price"><?php echo $yesterday->getPageViews(); ?></span><p style="font-size:12px; color:#686868;font-weight:normal;margin:0;"><?php echo $this->__('Pageviews') ?></p></span>
        <span style="float:left;font-size:18px;width:25%"><span class="price"><?php echo $this->getAvgPages($yesterday->getPageViews(), $yesterday->getVisits()); ?></span><p style="font-size:12px; color:#686868;font-weight:normal;margin:0;"><?php echo $this->__('Pages/Visit') ?></p></span>
        <span style="float:left;font-size:18px;width:25%"><span class="price"><?php echo $this->getAvgTime($yesterday->getTimeOnSite(), $yesterday->getVisits()); ?></span><p style="font-size:12px; color:#686868;font-weight:normal;margin:0;"><?php echo $this->__('Avg. Time on Site') ?></p></span>

        </fieldset>
    </div>
	

	<?php $lastmonth = $this->getLastmonth(); ?>

	<div class="entry-edit">
		<div class="entry-edit-head">
		<h4><?php echo $this->__('Last month ') ?>&nbsp;&nbsp;&nbsp;(<?php echo $this->getDatespan(); ?>)</h4>
		</div>
		
		<fieldset class="np">
			<div class="grid np">
				<table cellspacing="0" style="border:0;">
				<col width="50%">
				<col width="50%">
				
				<tbody>
					
					<tr title="">
					<td class=" "><?php echo $this->graphicSparkline($lastmonth->getResults(),'visits'); ?> &nbsp;&nbsp;&nbsp;<b><?php echo $lastmonth->getVisits(); ?></b> <?php echo $this->__('Visits') ?></td>
					<td class="last"><?php echo $this->graphicSparkline($lastmonth->getResults(),'bouncerate'); ?> &nbsp;&nbsp;&nbsp;<b><?php echo $this->getBouncesPercentage($lastmonth->getBounces(),$lastmonth->getEntrances()); ?></b> <?php echo $this->__('Bounce Rate') ?></td>
					</tr>
					
					<tr title="">
					<td class=" "><?php echo $this->graphicSparkline($lastmonth->getResults(),'pageviews'); ?> &nbsp;&nbsp;&nbsp;<b><?php echo $lastmonth->getPageViews(); ?></b> <?php echo $this->__('Pageviews') ?></td>
					<td class="last"><?php echo $this->graphicSparkline($lastmonth->getResults(),'time'); ?> &nbsp;&nbsp;&nbsp;<b> <?php echo $this->getAvgTime($lastmonth->getTimeOnSite(), $lastmonth->getVisits()); ?></b> <?php echo $this->__('Avg. Time on Site') ?></td>
					</tr>
					
					<tr title="">
					<td class=" "><?php echo $this->graphicSparkline($lastmonth->getResults(),'avgpages'); ?> &nbsp;&nbsp;&nbsp;<b> <?php echo $this->getAvgPages($lastmonth->getPageViews(), $lastmonth->getVisits()); ?></b> <?php echo $this->__('Pages/Visit') ?></td>
					<?php if ($lastmonth->getPageViews() != 0):?>
					<td class="last"><?php echo $this->graphicSparkline($lastmonth->getResults(),'newvisits'); ?> &nbsp;&nbsp;&nbsp;<b> <?php echo round(($lastmonth->getNewVisits()/$lastmonth->getPageViews())*100,1).'%'; ?></b> <?php echo $this->__('New Visits') ?></td>
					<?php else:?>
					<td class="last"><?php echo $this->graphicSparkline($lastmonth->getResults(),'newvisits'); ?> &nbsp;&nbsp;&nbsp;<b> <?php echo '0.00%'; ?></b> <?php echo $this->__('New Visits') ?></td>
					<?php endif;?>
					</tr>
				</tbody>
				
				</table>
			</div>
		</fieldset>
	</div>
	
	<?php $lastmonthtopcontent = $this->getTopContent(); ?>
	
	<div class="box-left">
		<div class="entry-edit">
		<div class="entry-edit-head">
		<h4><?php echo $this->__('Top content') ?></h4>
		</div>
		
		<fieldset class="np">
			<div class="grid np">
				<table cellspacing="0" style="border:0;width:100%">
				<col width="50%">
				<col width="50%">
				<thead>
				    <tr class="headings">
				        <th class=" no-link"><span class="nobr"><?php echo $this->__('URL') ?></span></th>
				          <th class=" no-link last"><span class="nobr"><?php echo $this->__('Pageviews') ?></span></th>
				    </tr>
				</thead>			
					<tbody>
						<?php 
						foreach($lastmonthtopcontent as $result)
						{
							echo '<tr><td><div class="wrap"><a style="word-wrap: break-word" href="http://'.$result->getHostname() . $result->getPagePath().'" target="_blank">'.$result->getPagePath().'</a></div></td><td>'.number_format($result->getPageviews()).'</td></tr>';
						}
						?>
					</tbody>
				</table>
			</div>
		</fieldset>
		</div>
	</div>
	
	<?php $lastmonthtopreferrers = $this->getTopReferrers(); ?>
	
	<div class="box-right">
		<div class="entry-edit">
			<div class="entry-edit-head">
			<h4><?php echo $this->__('Top Referrals') ?></h4>
			</div>
			
			<fieldset class="np">
				<div class="grid np">
					<table cellspacing="0" style="border:0;">
					<col width="50%">
					<col width="50%">
					
					<thead>
					    <tr class="headings">
					        <th class=" no-link"><span class="nobr"><?php echo $this->__('Source') ?></span></span></th>
					          <th class=" no-link last"><span class="nobr"><?php echo $this->__('Visits') ?></span></th>
					    </tr>
					</thead>
			                    
					<tbody>
					<?php foreach($lastmonthtopreferrers as $result)
					{
						if ($result->getMedium() == 'referral') {
							echo '<tr><td><a href="http://'.$result->getSource() . $result->getReferralPath().'" target="_blank">'.$result->getSource().'</a></td>';
						}
						else
						{
							echo '<tr><td>'.$result->getSource().'</td>';
						}
						echo '<td>'.number_format($result->getVisits()).'</td></tr>';
					}
					?>
					
					<span style="float:left;width:100%;background:#fff;text-align:center;padding:10px 0">
					
					<?php 
					$chartTitles = '';
					$chartValues = '';
					$totalVisits = $lastmonth->getVisits();
					$other = $lastmonth->getVisits();
					$l = 0;
					$maxl = 10;
					
					foreach($lastmonthtopreferrers as $result){
						if(round(($result->getVisits()/$totalVisits)*100,1) < 3){
							break;
						}
						
						$l += 1;
						$chartTitles .= strip_tags ($result->getSource()).' ('.round(($result->getVisits()/$totalVisits)*100,1).'%)';
						$chartTitles .= '|';
						$chartValues .= round(($result->getVisits()/$totalVisits)*100,1);
						$other = $other - $result->getVisits();
						$chartValues .= ',';		
					}
					if ($totalVisits != 0) {
						$chartTitles .= 'Other ('.round(($other/$totalVisits)*100,1).'%)';
						$chartValues .= round(($other/$totalVisits)*100,1);
					}
					else {
						$chartTitles .= 'Other (0,00%)';
						$chartValues .= 0;
					}
						echo '<img src="http://chart.apis.google.com/chart?cht=p&chd=t:'.$chartValues.'&chs=500x170&chl='.$chartTitles.'"/>';
					
					?>
					</span>
					</tbody>
					
					</table>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="clear"></div>

</div> <!-- END div main-col-inner -->