<?php
/**
 * Magpleasure Ltd.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-CE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magpleasure.com/LICENSE-CE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Magpleasure does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Magpleasure does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Magpleasure
 * @package    Magpleasure_Common
 * @version    0.6.3
 * @copyright  Copyright (c) 2012-2013 Magpleasure Ltd. (http://www.magpleasure.com)
 * @license    http://www.magpleasure.com/LICENSE-CE.txt
 */
?>
<?php
if(Mage::app()->getRequest()->getControllerName() == 'catalog_product_action_attribute') {
    $attributeName = "attributes[{$this->getName()}]";
} else {
    $attributeName = $this->getName();
}
?>
<div id="<?php echo $this->getHtmlId(); ?>_container" class="mp_dropdown_container">
    <div class="ui-widget">
        <input type="hidden" class="<?php echo $this->getClass(); ?>" name="<?php echo $attributeName; ?>" id="<?php echo $this->getHtmlId(); ?>"   <?php if ($this->getCanUseDefaultValue() || $this->getCanUseWebsiteValue()) { echo ' disabled'; } ?> value="<?php echo $this->getValue(); ?>">
    </div>
</div>
<script type="text/javascript">
    <?php if (!$this->isAjax()): ?>
    document.observe("dom:loaded", function(){
    <?php endif; ?>
        jQuery( "#<?php echo $this->getHtmlId(); ?>" ).ajaxcombobox({
            <?php if ($label = $this->getResolvedValue()): ?>
            default_label: '<?php echo $this->escapeHtml($label); ?>',
            <?php endif; ?>
            url_pattern: '<?php echo $this->getUrlPattern(); ?>',
            limit: <?php echo $this->getLimit() ? $this->getLimit() : 12; ?>
        });
    <?php if (!$this->isAjax()): ?>
    });
    <?php endif; ?>
</script>