.btyp-section {  }

.btyp-order-information-section { text-align: center; }

.btyp-social-sharing-section { text-align: center; margin-top: 12px; }

.btyp-cms-block-section { margin-top: 12px; text-align: center; }

.btyp-cross-sell-block-section { margin-top: 24px; }
.btyp-cross-sell-block-section .products-grid { display: inline-block; width: auto; border-bottom: 0; }
.btyp-cross-sell-block-section .title { font-weight: bold; font-size: 15px; color: #666; }
.btyp-cross-sell-block-section .products-grid li.item { position: relative; /* height: 250px; */ }
.btyp-cross-sell-block-section .products-grid li.item .actions { /* position: absolute; bottom: 30px; */}

.btyp-newsletter-section { margin-top: 12px; }
.btyp-newsletter-section .validation-advice { position: absolute; }
.btyp-newsletter-section .buttons-set .actions { display: inline-block; float: left; padding: 1px 0 0 0; }
.btyp-newsletter-section .buttons-set .actions .block-subtitle { float: left; margin-right: 8px; padding-top: 2px; }
.btyp-newsletter-section .buttons-set .actions .input-box { float: left; padding-right: 20px; }