<h1 class="page-title"><?php echo $this->__('Maga Cardò')?></h1>

<h2><?php echo $this->__('Il preventivo è stato spedito, riceverai una copia al tuo indirizzo email.')?></h2>
<br>
<b><?php echo $this->__('Caratteristiche base:')?></b>
<table class="card-quotation-preview-rep">
    <tr>
         <td class="label_td"><?php echo $this->__('Quantità')?></td>
         <td class="value"><?=$this->postedParams["costoCardQuantita"];?></td>
     </tr>
     <tr class="stabilizzatore">
         <td class="label_td"><?php echo $this->__('Spessore')?></td>
         <td class="value"><?=$this->postedParams["spessoreCard"];?></td>
     </tr>
     <tr  class="stabilizzatore">
         <td class="label_td"><?php echo $this->__('Colori Fronte')?></td>
         <td class="value"><?=$this->postedParams["colorifronte"] == 'blnk' ? 'no' : $this->postedParams["colorifronte"] == 'mono' ? $this->__('Monocromia') : $this->__('Quadricromia');?></td>
     </tr>
     <tr  class="stabilizzatore">
         <td class="label_td"><?php echo $this->__('Colori Retro')?></td>
         <td class="value"><?=$this->postedParams["coloriretro"] == 'blnk' ? 'no' : $this->postedParams["coloriretro"] == 'mono' ? $this->__('Monocromia') : $this->__('Quadricromia');?></td>
     </tr>
     <tr class="stabilizzatore">
         <td class="label_td"><?php echo $this->__('Tipo stampa')?></td>
         <td class="value"><?php
             switch ($this->postedParams["tipostampa"]){case 'off': echo $this->__('Offset'); break;case 'dir': echo $this->__('Termografica Diretta'); break;case 'ind': echo $this->__('Termografica Indiretta'); break;}?>
        </td>
    </tr>
    </table>
<br><br>
<b><?php echo $this->__('Opzioni:')?></b>
<table class="card-quotation-preview-rep">
    <tr>
     <td class="label_td"><?php echo $this->__('Banda Magnetica')?></td>
     <td class="value"><?=$this->postedParams["bandamagnetica"];?></td>
     </tr>
    <tr class="stabilizzatore">
     <td class="label_td"><?php echo $this->__('Chip contatto/RFID')?></td>
     <td class="value"><?=$this->postedParams["chipcontatto"];?>/<?=$this->postedParams["chipcrfid"];?></td>
    </tr>
    <tr class="stabilizzatore">
     <td class="label_td"><?php echo $this->__('Pannello Firma')?></td>
     <td class="value"><?=$this->postedParams["firma"] == 'true' ? $this->__('si') : $this->__('no');?></td>
     </tr>
    <tr class="stabilizzatore">
     <td class="label_td"><?php echo $this->__('Colore Serigrafico')?></td>
     <td class="value"><?=$this->postedParams["coloreserigrafico"] == 'true' ? $this->__('si') : $this->__('no');?></td>
     </tr>
    <tr class="stabilizzatore">
     <td class="label_td"><?php echo $this->__('Stampa a caldo')?></td>
     <td class="value"><?=$this->postedParams["stampaacaldo"] == 'true' ? $this->__('si') : $this->__('no');?></td>
     </tr>
    <tr class="stabilizzatore">
	  <td class="label_td"><?php echo $this->__('Asolatura')?></td>
	  <td class="value"><?=$this->postedParams["asolaturacard"] == 'true' ? $this->__('si') : $this->__('no');?></td>
	  </tr>
</table>
<br><br>
<b><?php echo $this->__('Personalizzazioni:')?></b>
<table class="card-quotation-preview-rep">
 <tr>
     <td class="label_td"><?php echo $this->__('Dati Variabili')?></td>
     <td class="value"><?=$this->__($this->postedParams["persdativariabili"]);?></td>
 </tr>
 <tr class="stabilizzatore">
     <td class="label_td"><?php echo $this->__('Stampa foto')?></td>
     <td class="value"><?=$this->__($this->postedParams["persstampafoto"]);?></td>
 </tr>
 <tr class="stabilizzatore">
  <td class="label_td"><?php echo $this->__('Punzonatura')?></td>
  <td class="value"><?=$this->postedParams["punzonatura"] == 'true' ? $this->__('si') : $this->__('no');?></td>
  </tr>
 <tr class="stabilizzatore">
  <td class="label_td"><?php echo $this->__('Codifica magnetica')?></td>
  <td class="value"><?=$this->postedParams["codificamagnetica"] == 'true' ? $this->__('si') : $this->__('no');?></td>
  </tr>
 <tr class="stabilizzatore">
  <td class="label_td"><?php echo $this->__('Codifica/Lettura dati chip')?></td>
  <td class="value"><?=$this->postedParams["codificadatichip"] == 'true' ? $this->__('si') : $this->__('no');?></td>
  </tr>
 <?php /*
 <tr>
     <td class="label_td"><?php echo $this->__('Foto')?></td>
     <td><?=$this->postedParams["foto"];?></td>
 </tr>
 */?>
 </table>
<br><br>
<b><?php echo $this->__('Costo stampa card:')?></b>
<br>
<table class="card-quotation-preview-rep">
    <tr>
     <td class="label_td"><?php echo $this->__('Costo Unitario')?></td>
     <td class="value"><?=$this->postedParams["costounitario"];?></td>
    </tr>
    <tr class="stabilizzatore">
     <td class="label_td"><?php echo $this->__('Costo Totale')?><em>*</em></td>
     <td class="value"><?=$this->postedParams["costototale"];?></td>
    </tr>
    </table>
 <br>

<p>* <?php echo $this->__("Il costo totale esclude l'Iva, il trasporto e tutto quanto non espressamente indicato.")?></p>