<?php
/**
 * GoMage Product Designer Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use/
 * @version      Release: 1.0.0
 * @since        Available since Release 1.0.0
 */
?>
<?php $files = $this->getUploadedFiles(); ?>
<?php if (count($files)): ?>
    <ul>
        <?php foreach ($files as $file): ?>
            <li>
                <a href="<?php echo $this->getFileUrl($file['file']); ?>"
                   target="_blank"><?php echo $file['original_name']; ?></a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
<div id="upload-file-error" <?php if (!$this->getError()): ?>style="display: none" <?php endif; ?>>
    <?php if ($text = $this->getError()): ?>
        <p><?php echo $text; ?></p>
    <?php endif; ?>
</div>
