<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Callforprice
 * @version    1.0.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$rule = $this->getCallforpriceRule();
?>
<div class="callforprice_product_text" id="callforprice-<?php echo $rule->getId()?>">

<?php if($rule->getTooltip()):?>
        <div class="callforprice_tooltip">
            <?php echo nl2br(Mage::helper('cms')->getBlockTemplateProcessor()->filter($rule->getTooltip()));?>
        </div>
    <?php endif; ?>
    <?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($rule->getProductText()); ?>
</div>