<!--@subject {{var store.getFrontendName()}}: {{var subject}} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<p>Dear {{var request.getCustomerName()}}!<p>
    {{var content}}
    {{depend request.getNotifyHasComment()}}
    {{var depname}}:<br />
    {{var request.getNotifyCommentText()}}
    {{/depend}}
<p>You can view RMA by following the link <a href="{{var request.getUrl()}}">{{var request.getUrl()}}</a>.</p>
<p>Thank you for using our RMA service.</p>
