<?php
/**
 *
 * @category    design
 * @package     default_default
 * @author     Fsite
 */
?>
<?php
/**
 * Create account form template
 *
 * @see Mage_Customer_Block_Form_Register
 */
?>
<div class="account-create">
    <div class="page-title">
        <h1><?php echo $this->__('Create an Account') ?></h1>
    </div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
        <div class="fieldset">
            <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
            <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
            <h2 class="legend"><?php echo $this->__('Personal Information') ?></h2>
            <ul class="form-list">
                <li class="fields">
                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->toHtml() ?>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="email" id="email_address" value="<?php echo $this->htmlEscape($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="group_id" class="required"><?php echo $this->__('Categoria, se hai i requisiti scegli rivenditore') ?><em>*</em></label>
                        <div class="input-box">
                    		<select name="group_id" id="group_id" title="<?php echo $this->__('Categoria utente') ?>" class="validate-group required-entry input-text">
                    			<option value=""><?php echo $this->__('Seleziona la categoria utente') ?></option>
                    			<option <?php if($this->getFormData()->getGroupId() == Dotcom_Customer_Helper_Data::GRUPPO_PRIVATI) echo " selected='selected' "?> value="<?=Dotcom_Customer_Helper_Data::GRUPPO_PRIVATI;?>"><?php echo $this->__('Privato') ?></option>
                    			<option <?php if($this->getFormData()->getGroupId() == Dotcom_Customer_Helper_Data::GRUPPO_AZIENDE_APPROVARE) echo " selected='selected' "?>value="<?=Dotcom_Customer_Helper_Data::GRUPPO_AZIENDE_APPROVARE;?>"><?php echo $this->__('Azienda') ?></option>
                    			<option <?php if($this->getFormData()->getGroupId() == Dotcom_Customer_Helper_Data::GRUPPO_RIVENDITORI_APPROVARE) echo " selected='selected' "?>value="<?=Dotcom_Customer_Helper_Data::GRUPPO_RIVENDITORI_APPROVARE;?>"><?php echo $this->__('Rivenditore') ?></option>
                    		</select>
                		</div>
            		</div>
                </li>
                <?php if ($this->isNewsletterEnabled()): ?>
                <li class="control">
                    <div class="input-box">
                        <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                    </div>
                    <label for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
                </li>
                <?php endif ?>
            <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
            <?php if ($_dob->isEnabled()): ?>
                <li><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li>
            <?php endif ?>
            <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <li class="fields">
                <div class="field">
                    <?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?>
                </div>
                <div class="field">
					<label for="cf"><?php echo $this->__('Codice fiscale') ?></label><br />
					<input type="text" name="cf" id="cf"
						value="<?php echo $this->htmlEscape($this->getFormData()->getCf()) ?>"
						title="<?php echo $this->__('Codice fiscale') ?>" class="input-text" />
				</div>
                </li>
            <?php endif ?>
            <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
            <?php if ($_gender->isEnabled()): ?>
                <li><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
            <?php endif ?>
            </ul>
        </div>
        <div class="fieldset">
            <input type="hidden" name="create_address" value="1" />
            <h2 class="legend"><?php echo $this->__('Address Information') ?></h2>
            <ul class="form-list">
                <li class="wide">
                    <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                    <div class="input-box">
                        <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet(0)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text required-entry" />
                    </div>
                </li>
            <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
                <li class="wide">
                    <div class="input-box">
                        <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i?>" class="input-text" />
                    </div>
                </li>
            <?php endfor ?>
                <li class="fields">
                    <div class="field">
                        <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <input type="text" name="city" value="<?php echo $this->htmlEscape($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="specialwrapper" id="field_region">
                            <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                            <div class="input-box">
                                <select onchange="updateProvince(this)" id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                </select>
                                <script type="text/javascript">
                                //<![CDATA[
                                    $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                                //]]>
                                </script>
                                <input type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                            </div>
                        </div>
                        
                        <div class="specialwrapper" id="field_provincia" style="display:none;">
                            <label for="provincia"><?php echo $this->__('Provincia') ?></label>
                            <div class="input-box">
                                <input maxlength="2" type="text" name="provincia" value="<?php echo $this->htmlEscape($this->getFormData()->getProvincia()) ?>"  title="<?php echo $this->__('Provincia') ?>" class="input-text" id="provincia" />
                            </div>
                        </div>
                        
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box">
                            <input type="text" name="postcode" value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international required-entry" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect() ?>
                        </div>
                    </div>
                </li>
            </ul>
            <input type="hidden" name="default_billing" value="1" />
            <input type="hidden" name="default_shipping" value="1" />
        </div>
        <div class="fieldset">
            <h2 class="legend"><?php echo $this->__('Login Information') ?></h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
        
        <div class="fieldset">
			<h2 class="legend"><?php echo $this->__('Privacy Information') ?></h2>
			<ul class="form-list">
				<li class="wide">
					<br/>
					<h2><?php echo Mage::helper('contacts')->__('Consenso al trattamento dei dati personali') ?></h2>
					<div id="privacy_text">
						<?php echo Mage::helper('contacts')->__('privacy_text') ?>
					</div>
					<br/>
				</li>	
						
				<li class="wide privacyoreq">
					<div class="area">
						<label for="privacy1" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Finalità essenziali (per consentirti l\'uso del sito, per poterti contattare ed inviare documenti)')?> </label>
						<div class="options-inline">
							<input type="radio" name="privacy1" id="privacy1-0" value="0" checked="checked">
							<label class="privacylabel" for="privacy1-0"><?php echo Mage::helper('contacts')->__('Non accetto')?></label>
							<span>&nbsp;&nbsp;</span>
							<input type="radio" name="privacy1" id="privacy1-1" value="1" class="required-entry"><label class="privacylabel" for="privacy1-1"><?php echo Mage::helper('contacts')->__('Accetto')?></label>
						</div>
					</div>				
				</li>
				<li class="wide">
					<div class="area">
						<label for="privacy2"><?php echo Mage::helper('contacts')->__('Finalità ulteriori ed eventuali (comunicazioni commerciali e pubblicitarie)')?></label>
						<div class="options-inline">
							<input type="radio" name="privacy2" id="privacy2-0" value="0" checked="checked"><label class="privacylabel" for="privacy2-0"><?php echo Mage::helper('contacts')->__('Non accetto')?></label>
							<span>&nbsp;&nbsp;</span>
							<input type="radio" name="privacy2" id="privacy2-1" value="1"><label class="privacylabel" for="privacy2-1"><?php echo Mage::helper('contacts')->__('Accetto')?></label>
						</div>
					</div>
				</li>
				<li class="wide">
					<div class="area">
						<label for="privacy3"><?php echo Mage::helper('contacts')->__('invio elettronico dei documenti (per e-mail o tramite il sito web di conferme d\'ordine, ddt, fatture, ecc.)')?></label>
						<div class="options-inline">
							<input type="radio" name="privacy3" id="privacy3-0" value="0" checked="checked"><label class="privacylabel" for="privacy3-0"><?php echo Mage::helper('contacts')->__('Non accetto')?></label>
							<span>&nbsp;&nbsp;</span>
							<input type="radio" name="privacy3" id="privacy3-1" value="1"><label class="privacylabel" for="privacy3-1"><?php echo Mage::helper('contacts')->__('Accetto')?></label>
						</div>
					</div>
				</li>			
        	</ul>
		</div>
        
        <div class="buttons-set">
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
            <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
            <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');

        
        var groupAziende = <?=Dotcom_Customer_Helper_Data::GRUPPO_AZIENDE_APPROVARE;?>;
        var groupClienti = <?=Dotcom_Customer_Helper_Data::GRUPPO_PRIVATI;?>;
        var groupRivenditore = <?=Dotcom_Customer_Helper_Data::GRUPPO_RIVENDITORI_APPROVARE;?>;
        $('group_id').observe('change', function(evt){
        	select = evt.findElement("select");
        	if( (select[select.selectedIndex].value == groupAziende || select[select.selectedIndex].value == groupRivenditore) && <?=Mage::helper("core")->jsonEncode(Mage::helper("dotcom_customer")->getEuCountries(true));?>.indexOf($('country')[$('country').selectedIndex].value) != -1 ){
        		setRequired(["taxvat"], "required-entry");
            }
        	else if(select[select.selectedIndex].value == groupClienti && $('country')[$('country').selectedIndex].value == "IT"){
        		setRequired(["cf"], "required-entry");
            }
        	else {
        		setRequired([], "required-entry");
            }
        });

        $('country').observe('change', function(evt){
        	fireEvent($('group_id'), 'change');
        });
           

        function setRequired(requiredfields, validationType){
        	["taxvat","cf"].each(function(el){
            	Validation.reset($(el));
            	$(el).removeClassName(validationType);
            	var toRemove = $(el).up(1).select("em")[0];
            	if(typeof toRemove !== "undefined"){
            	    toRemove.remove();
            	}
        	});
            for(var i=0;i<requiredfields.length;i++) {
                $(requiredfields[i]).addClassName(validationType);
                $$('label[for="'+requiredfields[i]+'"]')[0].addClassName("required").insert("<em>*</em>");
            }
        }



        document.observe("dom:loaded", function() {

        	fireEvent($('group_id'), 'change');

            
        	if($("billing:country_id").value == "IT"){
            	showProvince(true);
            }
            $('billing:country_id').observe('change', function(el){
                if(el.value == "IT"){
                	showProvince(true);
                }
                else {
                	showProvince(false);
                }
            });
      	});
        
        function updateProvince(el){
            var arrayProvince = <?php echo $this->helper('ariete')->getProvinceJson() ?>;
            if(arrayProvince.indexOf(el.value) != -1){
            	showProvince(true);
            }
            else{
            	showProvince(false);
            }
        }
        
        function showProvince(cond){
            if(cond){
            	$("field_provincia").show();
            	["#field_region #region", "#field_region #region_id", "#field_region .input-box"].each(function(elem){ 
                	$$(elem)[0].style.width = "175px";
            	});
            }
            else {
            	$("field_provincia").hide();
            	$("provincia").value = "";
            	["#field_region #region", "#field_region #region_id", "#field_region .input-box"].each(function(elem){ 
                	$$(elem)[0].style.width = "260px";
            	});
            }
        }
         
    //]]>
    </script>
</div>
