<?php 
$customer = Mage::getSingleton('customer/session')->getCustomer();
$codpor = $customer->getCodpor();
$codspe = $customer->getCodspe();
$metodoSelezionato = "";
if(isset($codpor) && isset($codspe)): 
    $spedizione = $codpor."-".$codspe;
    $arrayAssociazioni = array(
            "001-EXEC" => "s_method_flatrate2_flatrate3",
            "001-TNT"  => "s_method_flatrate2_flatrate2",
            "004-DHL"  => "s_method_flatrate4_flatrate9",
            "004-ART"  => "s_method_flatrate4_flatrate11",
            "004-SDA"  => "s_method_flatrate4_flatrate8",
            "004-UPS"  => "s_method_flatrate4_flatrate7",
            "004-EXEC" => "s_method_flatrate4_flatrate5",
            "004-BART" => "s_method_flatrate4_flatrate6",
            "004-TNT"  => "s_method_flatrate4_flatrate4"
            );
    
    if (array_key_exists($spedizione, $arrayAssociazioni)) :
        $metodoSelezionato = $arrayAssociazioni[$spedizione];
?>

    <script type="text/javascript">
    jQuery(document).ready(function(){
        console.log('$metodoSelezionato = ', <?php echo $metodoSelezionato?>);
    	jQuery(".sp-methods #<?php echo $metodoSelezionato?>").prop('checked', true);


    	jQuery(".sp-methods input").change(function(){
        	var id = jQuery(this).attr("id");
            console.log('id = ', id);
        	id = id.split("_");
        	if(id[2] == "flatrate4"){
            	jQuery(".sp-methods").prepend("<input id='num_abbonamento' type='text' name='numabbonamento' class='required-entry' />")
        	}
        	else {
                console.log('inp-exist = ',jQuery("#num_abbonamento"));
            	if(jQuery("#num_abbonamento")){
            	    jQuery("#num_abbonamento").remove();
            	}
        	}
    	});
    	
    });
    </script>
    <?php endif;?>
<?php endif;?>

<script type="text/javascript">

    
    jQuery(document).ready(function(){

    	if(jQuery("#num_abbonamento").length > 0){
    	    jQuery("#num_abbonamento").remove();
    	}

    	var valore = jQuery(".sp-methods input:checked").val();
    	if(valore){
        	valore = valore.split("_");
        	if(valore[0] == "flatrate4"){
        		jQuery("<div id='num_abbonamento'><label for='num_abbonamento' class='required'><?php echo $this->__("Numero abbonamento:")?> <em style='font-style: normal; color: #eb340a'>*</em></label><input style='float: none; clear: both' type='text' name='numabbonamento' class='required-entry validate-length minimum-length-3' /></div>").insertAfter("#aw-onestepcheckout-shipping-method");
            }
    	}
        
    	jQuery(".sp-methods input").change(function(){
        	var id = jQuery(this).attr("id");
        	id = id.split("_");
        	if(id[2] == "flatrate4" && jQuery("#num_abbonamento").length == 0){
        		jQuery("<div id='num_abbonamento'><label for='num_abbonamento' class='required'><?php echo $this->__("Numero abbonamento:")?> <em style='font-style: normal; color: #eb340a'>*</em></label><input style='float: none; clear: both' type='text' name='numabbonamento' class='required-entry validate-length minimum-length-3' /></div>").insertAfter("#aw-onestepcheckout-shipping-method");
        	}
        	if(jQuery("#num_abbonamento").length > 0 && id[2] != "flatrate4"){
        	    jQuery("#num_abbonamento").remove();
        	}
    	});
    	
    });
    </script>