<?php 
$customer = Mage::getSingleton('customer/session')->getCustomer();
$codpor = $customer->getCodpor();
$codspe = $customer->getCodspe();
$metodoSelezionato = "";
if(isset($codpor) && isset($codspe)): 
    $spedizione = $codpor."-".$codspe;
    $arrayAssociazioni = array(
            "001-EXEC" => "s_method_flatrate2_flatrate3",
            "001-TNT"  => "s_method_flatrate2_flatrate2",
            "004-DHL"  => "s_method_flatrate4_flatrate9",
            "004-ART"  => "s_method_flatrate4_flatrate11",
            "004-SDA"  => "s_method_flatrate4_flatrate8",
            "004-UPS"  => "s_method_flatrate4_flatrate7",
            "004-EXEC" => "s_method_flatrate4_flatrate5",
            "004-BART" => "s_method_flatrate4_flatrate6",
            "004-TNT"  => "s_method_flatrate4_flatrate4"
            );
    
    if (array_key_exists($spedizione, $arrayAssociazioni)) :
        $metodoSelezionato = $arrayAssociazioni[$spedizione];
?>

    <script type="text/javascript">

    
    jQuery(document).ready(function(){
    	jQuery(".shipment-methods #<?=$metodoSelezionato?>").prop('checked', true);


    	jQuery(".shipment-methods input").change(function(){
        	var id = jQuery(this).attr("id");
        	id = id.split("_");
        	if(id[2] == "flatrate4"){
            	jQuery("#shipping-method-buttons-container").prepend("<input id='num_abbonamento' type='text' name='numabbonamento' class='required-entry' />")
        	}
        	else {
            	if(jQuery("#num_abbonamento")){
            	    jQuery("#num_abbonamento").remove();
            	}
        	}
    	});
    	
    });
    </script>
    <?php endif;?>
<?php endif;?>

<?php if (!($_shippingRateGroups = $this->getShippingRates())): ?>
    <strong><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></strong>
<?php else: ?>
<dl class="shipment-methods">
    <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
        <dt><?php echo $this->getCarrierName($code) ?></dt>
        <dd>
            <ul>
            <?php foreach ($_rates as $_rate): ?>
                <li>
                   <?php if ($_rate->getErrorMessage()): ?>
	                <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
                   <?php else: ?>
                        <input class="" name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?>/>
                        <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $_rate->getMethodTitle() ?>
                        <strong>
                        <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                        <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                        <?php echo $_excl; ?>
                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                        <?php endif; ?>
                        </strong>
                        </label>
                   <?php endif ?>
                </li>
            <?php endforeach; ?>
            </ul>
			<?php if ($infoText = $this->getInfoText($code)) { ?>
			<div class="shipment-info">
				<?php echo $infoText ?>
			</div>
			<?php } ?>
        </dd>
    <?php endforeach; ?>
</dl>
<?php endif; ?>


<script type="text/javascript">

    
    jQuery(document).ready(function(){

    	if(jQuery("#num_abbonamento").length > 0){
    	    jQuery("#num_abbonamento").remove();
    	}

    	var valore = jQuery(".shipment-methods input:checked").val();
    	if(valore){
        	valore = valore.split("_");
        	if(valore[0] == "flatrate4"){
        		jQuery("<div id='num_abbonamento'><label for='num_abbonamento' class='required'><?php echo $this->__("Numero abbonamento:")?> <em style='font-style: normal; color: #eb340a'>*</em></label><input style='float: none; clear: both' type='text' name='numabbonamento' class='required-entry validate-length minimum-length-3' /></div>").insertBefore("#shipping-method-buttons-container");   	
            }
    	}
        
    	jQuery(".shipment-methods input").change(function(){
        	var id = jQuery(this).attr("id");
        	id = id.split("_");
        	if(id[2] == "flatrate4" && jQuery("#num_abbonamento").length == 0){
        		jQuery("<div id='num_abbonamento'><label for='num_abbonamento' class='required'><?php echo $this->__("Numero abbonamento:")?> <em style='font-style: normal; color: #eb340a'>*</em></label><input style='float: none; clear: both' type='text' name='numabbonamento' class='required-entry validate-length minimum-length-3' /></div>").insertBefore("#shipping-method-buttons-container");
        	}
        	if(jQuery("#num_abbonamento").length > 0 && id[2] != "flatrate4"){
        	    jQuery("#num_abbonamento").remove();
        	}
    	});
    	
    });
    </script>