
<script type="text/javascript">
<!--
jQuery(function(){
	jQuery('.news_category_lists > ul > li').each(function(){
		var cat = jQuery(this).attr('rel');
		var cats = jQuery('#news_filter_select').data('categories') || [];
		if (cats[cat] === undefined) {
			cats[cat] = cat;
			var cats = jQuery('#news_filter_select').data('categories', cats);
			jQuery('#news_filter_select').append('<option value="'+cat+'">'+cat+'</option>');
		}
	});

	jQuery('#news_filter_select').bind('change', function(){
		jQuery('.news_category_lists > ul > li').hide();
		jQuery.each(jQuery(this).val(), function(i, v){
			if (v === 'all')
				jQuery('.news_category_lists > ul > li').show();
			else
				jQuery('.news_category_lists > ul > li[rel='+v+']').show();
		});
	});

});
//-->
</script>

<div class="block block-cart">
	<div class="block-title">
		<strong><span>Filtri News</span></strong>
	</div>
	<div class="block-content news">
		<select id="news_filter_select" multiple="multiple">
			<option value="all">Tutti</option>
		</select>
	</div>
</div>