<?php
	$news = $this->getLastNews(1);
	if ($news):
		if (!function_exists('trimtodot')){
			function trimtodot($txt, $limit=120){
				$txt = strip_tags($txt);
				$txt = trim($txt, " \t\n\r\0\x0B\"'");
				$txt = str_replace('  ', ' ', $txt);
				$txt = explode(' ', $txt);
				$str = '';
				foreach($txt as $c){
					if (strlen($str) > $limit) {
						$str .= ' ...';
						break;
					}
					else {
						$str .= ' '.$c;
					}
				}
				return $str;
			}
		}
?>
<div class="header_widget_news_front">
	<div class="block-title">
		<h3 class="tit lane"><?php echo $this->__('Latest News')?></h3>
	</div>
	<div class="block-content">
		<?php foreach ($news as $_news):?>
			<div class="news_preview">
				<div class="title"><a href="<?php echo $this->getBaseUrl()?>news/show/<?php echo $_news['url']?>.html"><?php
					echo trimtodot($_news['title'], 80);
				?></a></div>
                <div class="image"><a href="<?php echo $this->getBaseUrl()?>news/show/<?php echo $_news['url']?>.html">
					<img width="70" height="70" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>press/<?php echo $_news['file_preview']?>"/>
				</a></div>
                
				<div class="date"><?php echo date('d/m/Y', strtotime($_news['time']));?></div>
				
			
                <div class="desc"><?php echo trimtodot($_news['short_desc'], 424);?></div>
                
			</div>
		<?php endforeach;?>
	</div>
</div>
<?php endif;?>
