<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Betterthankyoupage
 * @version    1.0.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/452cb3ff-f410-4d86-924a-37e2e83b68a8/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"2342011",type:"1",taxcost:"",nonadvertisingcost:"",revenue:"",actionid:"184262"})</script> <noscript> <iframe src="//flex.msn.com/mstag/tag/452cb3ff-f410-4d86-924a-37e2e83b68a8/analytics.html?dedup=1&domainId=2342011&type=1&taxcost=&nonadvertisingcost=&revenue=&actionid=184262" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>


<!-- Google Code for Acquisto Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1072542840;
var google_conversion_language = "it";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "HC7jCK_Q5AgQ-Oi2_wM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1072542840/?label=HC7jCK_Q5AgQ-Oi2_wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Vendite su Infordatadealers -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6013254451247';
fb_param.value = '0.01';
fb_param.currency = 'USD';
(function(){
var fpw = document.createElement('script');
fpw.async = true;
fpw.src = '//connect.facebook.net/en_US/fp.js';
var ref = document.getElementsByTagName('script')[0];
ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6013254451247&amp;value=0.01&amp;currency=USD" /></noscript>



<?php if ( $this->isModuleEnabled() ): ?>
    <?php foreach ( $this->getSortedSections() as $__section ): ?>
        <div class="btyp-section"><?php echo $__section->toHtml() ?></div>
    <?php endforeach; ?>
<?php endif; ?>