<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Betterthankyoupage
 * @version    1.0.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ( $this->shouldDisplaySection() ): ?>
    <div class="btyp-newsletter-section">
        <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
            <div class="block-content">
                <div class="buttons-set">
                    <?php if ( ! $this->isCustomerSubscribed() ): ?>
                        <div class="actions">
                            <div class="block-subtitle">
                                <input type="checkbox" id="__dosignupCheckboxID" onclick="return __dosignupCheckboxClick(this);" />
                                <label for="__dosignupCheckboxID"><?php echo $this->__('Sign me up for newsletter') ?></label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="email" id="newsletter" value="<?php echo $this->getCustomerEmail() ?>" class="input-text required-entry validate-email" />
                            </div>
                            <div class="input-box">
                                <button disabled="disabled" id="submit_subscription" type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button disabled"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="actions" style="float: right;">
                        <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
                    </div>
                </div>
            </div>
        </form>
        <?php if ( ! $this->isCustomerSubscribed() ): ?>
            <script type="text/javascript">
                var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
                
                __dosignupCheckboxClick = function(checkboxNode) {
                    var __buttonNode = document.getElementById('submit_subscription');
                    
                    if (checkboxNode.checked) {
                        __buttonNode.disabled = false;
                        __buttonNode.className = 'button';
                    }
                    else {
                        __buttonNode.disabled = 'disabled';
                        __buttonNode.className = 'button disabled';
                    }
                }
            </script>
        <?php endif; ?>
    </div>
<?php endif; ?>