<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Betterthankyoupage
 * @version    1.0.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ( $this->shouldDisplaySection() ): ?>
    <div class="btyp-social-sharing-section">
        <?php switch ( $this->getSharingButtonsStyle() ):
            case AW_Betterthankyoupage_Helper_Data::SHARING_BAR_STYLE_SMALL_ICONS_WITH_TITLES: ?>
                <div class="addthis_toolbox addthis_default_style" style="display: inline-block;" addthis:url="<?php echo $this->getShareUrl() ?>">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:href="<?php echo $this->getShareUrl() ?>"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_linkedin_counter"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                </div>
            <?php break; ?>
            <?php case AW_Betterthankyoupage_Helper_Data::SHARING_BAR_STYLE_SMALL_ICONS: ?>
                <div class="addthis_toolbox addthis_default_style addthis_16x16_style" style="display: inline-block;" addthis:url="<?php echo $this->getShareUrl() ?>">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_linkedin"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
            <?php break; ?>
            <?php case AW_Betterthankyoupage_Helper_Data::SHARING_BAR_STYLE_LARGE_ICONS: ?>
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="display: inline-block;" addthis:url="<?php echo $this->getShareUrl() ?>">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_linkedin"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
            <?php break; ?>
        <?php endswitch; ?>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
    </div>
<?php endif; ?>