<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Betterthankyoupage
 * @version    1.0.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ( $this->shouldDisplaySection() ): ?>
    <div class="btyp-order-information-section">
        <h1><?php echo $this->__('Thank you for your purchase!') ?></h1>
        <?php if ( $this->shouldDisplayOrderNumber() ): ?>
            <?php if ( $this->isSingleOrder() ): ?>
                <?php if ( $this->getOrderNumber() ): ?>
                    <?php if ( $this->canViewOrder($this->getOrder()) ): ?>
                        <h2><?php echo $this->__('Order number: %s', '<a href="' . $this->getViewOrderUrl($this->getOrderId()) . '">' . htmlspecialchars($this->getOrderNumber()) . '</a>') ?></h2>
                    <?php else: ?>
                        <h2><?php echo $this->__('Order number: %s', $this->getOrderNumber()) ?></h2>
                    <?php endif; ?>
                <?php endif; ?>
            <?php else: ?>
                <?php $__html = ''; ?>
                <?php foreach ( $this->getOrders() as $__orderModel ): ?>
                    <?php if ( $__html ) $__html .= ', '; ?>
                    <?php if ( $this->canViewOrder($__orderModel) ): ?>
                        <?php $__html .= '<a href="' . $this->getViewOrderUrl($__orderModel->getId()) . '">' . htmlspecialchars($__orderModel->getIncrementId()) . '</a>' ?>
                    <?php else: ?>
                        <?php $__html .= htmlspecialchars($__orderModel->getIncrementId()) ?>
                    <?php endif; ?>
                <?php endforeach; ?>
                <h2><?php echo $this->__('Order numbers: %s', $__html) ?></h2>
            <?php endif; ?>
        <?php endif; ?>
        <?php if ( $this->shouldDisplayInvoiceButton() ): ?>
            <?php if ( $this->isSingleOrder() ): ?>
                <?php if ( $this->canViewInvoice($this->getOrder()) ): ?>
                    <br />
                    <button type="button" title="View Invoice" class="button btn-invoice" onclick="setLocation('<?php echo $this->getViewInvoiceUrl($this->getOrderId()) ?>')"><span><span><?php echo $this->__('View Invoice') ?></span></span></button>
                <?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>
    </div>
    <br />
    <p><?php echo $this->getTextMessage() ?></p>
    <?php echo $this->getParentBlock()->getChildHtml('downloadable.checkout.success') ?>
<?php endif; ?>