<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    M2ePro.php.setConstants(<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Amazon'); ?>,'Ess_M2ePro_Helper_Component_Amazon');
    M2ePro.php.setConstants(<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Buy'); ?>,'Ess_M2ePro_Helper_Component_Buy');
    M2ePro.php.setConstants(<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Play'); ?>,'Ess_M2ePro_Helper_Component_Play');

    M2ePro.url.add(<?php echo json_encode(Mage::helper('M2ePro')->getControllerActions('adminhtml_configuration_components')) ?>);

    M2ePro.url.add(<?php echo json_encode(array(
        'formSubmit' => $this->getUrl('M2ePro/adminhtml_configuration_components/save')
    )); ?>);

    M2ePro.translator.add(<?php echo json_encode(array(
        'You should enable at least one component.' => $this->__('You should enable at least one component.'),
        'Default component should be enabled.' => $this->__('Default component should be enabled.')
    )); ?>);

    Event.observe(window, 'load', function() {
        ComponentsHandlerObj = new ConfigurationComponentsHandler();

        $('component_amazon_mode').observe('change', ComponentsHandlerObj.component_mode_change);
        $('component_buy_mode').observe('change', ComponentsHandlerObj.component_mode_change);
        $('component_play_mode').observe('change', ComponentsHandlerObj.component_mode_change);

        ComponentsHandlerObj.component_mode_change();

        <?php if ($this->isWizard) : ?>
            $('magento_block_configuration_ebay_channel').hide();
        <?php endif; ?>

        configEditForm = new varienForm('config_edit_form', '<?php echo $this->getValidationUrl(); ?>');
    });
    //-----------------------------

</script>

<style>
    .columns .form-list td.value {
        width: 280px;
    }
</style>

<form id="<?php echo $this->getForm()->getId(); ?>" action="<?php echo $this->getForm()->getData('action'); ?>" method="post" enctype="multipart/form-data">

    <input name="form_key" value="<?php echo $this->getFormKey(); ?>" type="hidden" />

    <div id="magento_block_configuration_ebay_channel">

        <div id="block_notice_configuration_ebay_channel" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Channels'); ?>">
            <p><?php echo Mage::helper('M2ePro')->__('Enable channels you are going to work with and Save configuration.'); ?></p>
        </div>

        <div class="entry-edit" id="magento_block_configuration_channel_status">

            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('eBay Channel'); ?></h4>
            </div>

            <div class="fieldset">
                <div class="hor-scroll">

                    <table class="form-list" cellspacing="0" cellpadding="0">

                        <colgroup class="label"></colgroup>
                        <colgroup class="value"></colgroup>

                        <tbody>

                        <?php if ($this->component_ebay_allowed) { ?>
                            <tr>
                                <td class="label">
                                    <label><?php echo Mage::helper('M2ePro')->__('Status'); ?>: </label>
                                </td>
                                <td class="value">
                                    <select id="component_ebay_mode" name="component_ebay_mode">
                                        <option value="0" <?php if (!$this->component_ebay_mode) echo 'selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Disabled') ?></option>
                                        <option value="1" <?php if ($this->component_ebay_mode) echo 'selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Enabled') ?></option>
                                    </select>
                                    <p class="note">
                                        <span><?php echo Mage::helper('M2ePro')->__('eBay channel status.') ?></span>
                                    </p>
                                </td>
                            </tr>

                        <?php } ?>

                        </tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_configuration_settings_other">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Other Channels'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <colgroup class="label"></colgroup>
                    <colgroup class="value"></colgroup>

                    <tbody>

                    <?php if ($this->component_amazon_allowed) { ?>
                        <tr>
                            <td class="label">
                                <label><?php echo Ess_M2ePro_Helper_Component_Amazon::TITLE; ?>: </label>
                            </td>
                            <td class="value">
                                <select id="component_amazon_mode" name="component_amazon_mode" class="M2ePro-component-other">
                                    <option value="0" <?php if (!$this->component_amazon_mode) echo 'selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Disabled') ?></option>
                                    <option value="1" <?php if ($this->component_amazon_mode) echo 'selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Enabled') ?></option>
                                </select>
                                <p class="note">
                                    <span><?php echo Mage::helper('M2ePro')->__('Amazon channel status.') ?></span>
                                </p>
                            </td>
                        </tr>
                    <?php } ?>

                    </tbody>

                </table>

                <?php if ($this->component_group_rakuten_allowed) { ?>
                <table class="form-list" cellspacing="0" cellpadding="0">

                    <colgroup class="label"></colgroup>
                    <colgroup class="value"></colgroup>

                    <tbody>
                    <tr>
                        <td class="value">
                            <h4><label><?php echo Mage::helper('M2ePro')->__('Rakuten'); ?>: </label></h4>
                        </td>
                    </tr>
                    </tbody>

                </table>

                    <?php if ($this->component_group_rakuten_allowed) { ?>
                    <div class="custom-options" style="width: 600px; margin-top: -20px;">
                        <div class="option-box" style="padding-left: 50px;">

                            <table class="form-list" cellspacing="0" cellpadding="0">

                                <colgroup class="label"></colgroup>
                                <colgroup class="value"></colgroup>

                                <tbody>

                                <?php if ($this->component_buy_allowed) { ?>
                                    <tr>
                                        <td class="label">
                                            <label><?php echo Ess_M2ePro_Helper_Component_Buy::TITLE; ?>: </label>
                                        </td>
                                        <td class="value">
                                            <select id="component_buy_mode" name="component_buy_mode" class="M2ePro-component-other">
                                                <option value="0" <?php if (!$this->component_buy_mode) echo 'selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Disabled') ?></option>
                                                <option value="1" <?php if ($this->component_buy_mode) echo 'selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Enabled') ?></option>
                                            </select>
                                            <p class="note">
                                                <span><?php echo Mage::helper('M2ePro')->__('Rakuten.com channel status.') ?></span>
                                            </p>
                                        </td>
                                    </tr>
                                <?php } ?>

                                <?php if ($this->component_play_allowed) { ?>
                                    <tr>
                                        <td class="label">
                                            <label><?php echo Ess_M2ePro_Helper_Component_Play::TITLE; ?>: </label>
                                        </td>
                                        <td class="value">
                                            <select id="component_play_mode" name="component_play_mode" class="M2ePro-component-other">
                                                <option value="0" <?php if (!$this->component_play_mode) echo 'selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Disabled') ?></option>
                                                <option value="1" <?php if ($this->component_play_mode) echo 'selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Enabled') ?></option>
                                            </select>
                                            <p class="note">
                                                <span><?php echo Mage::helper('M2ePro')->__('Play.com channel status.') ?></span>
                                            </p>
                                        </td>
                                    </tr>
                                <?php } ?>

                                <tr>
                                    <td class="label">
                                        <label><?php echo Mage::helper('M2ePro')->__('Rakuten.de'); ?>: </label>
                                    </td>
                                    <td class="value">
                                        <select id="component_rde_mode" name="component_rde_mode" disabled="disabled" class="M2ePro-component-other">
                                            <option value="0"><?php echo Mage::helper('M2ePro')->__('Disabled - Coming Soon...') ?></option>
                                        </select>
                                        <p class="note">
                                            <span><?php echo Mage::helper('M2ePro')->__('Rakuten.de channel status.') ?></span>
                                        </p>
                                    </td>
                                </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                    <?php } ?>

                <?php } ?>

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <colgroup class="label"></colgroup>
                    <colgroup class="value"></colgroup>

                    <tbody>

                    <tr id="view_common_component_default_tr" style="display: none;">
                        <td class="label">
                            <label for="view_common_component_default"><?php echo Mage::helper('M2ePro')->__('Default Channel'); ?>:</label>
                        </td>
                        <td class="value">
                            <select id="view_common_component_default" name="view_common_component_default">
                                <option value="<?php echo Ess_M2ePro_Helper_Component_Amazon::NICK; ?>" <?php if ($this->view_common_component_default == Ess_M2ePro_Helper_Component_Amazon::NICK) echo 'selected="selected"'; ?>><?php echo Ess_M2ePro_Helper_Component_Amazon::TITLE; ?></option>
                                <option value="<?php echo Ess_M2ePro_Helper_Component_Buy::NICK; ?>" <?php if ($this->view_common_component_default == Ess_M2ePro_Helper_Component_Buy::NICK) echo 'selected="selected"'; ?>><?php echo Ess_M2ePro_Helper_Component_Buy::TITLE; ?></option>
                                <option value="<?php echo Ess_M2ePro_Helper_Component_Play::NICK; ?>" <?php if ($this->view_common_component_default == Ess_M2ePro_Helper_Component_Play::NICK) echo 'selected="selected"'; ?>><?php echo Ess_M2ePro_Helper_Component_Play::TITLE; ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Open tab by default.'); ?></span>
                            </p>
                        </td>
                    </tr>

                    </tbody>

                </table>

                <?php if ($this->isWizard) : ?>
                    <input type="hidden" name="validate_selected_components" value="" class="M2ePro-require-select-component" />
                <?php endif; ?>
                <input type="hidden" name="validate_default_component" value="" class="M2ePro-check-default-component" />

            </div>
        </div>

    </div>

</form>