div.block-related-category .aw-arp-block-content {
    padding: 5px 0 0 5px;
    overflow: hidden;
    clear: both;
}

div.block-related-category .aw-arp-item {
    text-align: center;
    width: 100px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block !important;
    vertical-align: top;
    zoom: 1;
    _height: 250px;
    margin: 5px 5px 20px;
}

div.block-related-category .aw-arp-item img {
    border: 1px solid #A9A9A9;
    width: 75px;
    margin-bottom: 10px;
}

div.block-related-category .aw-arp-block-content .aw-arp-addtocart>p {
    margin-bottom: 5px;
}

div.block-related-category .footer .aw-arp-block-content li {
    display: inline-block !important;
}

div.block-related-category .footer .aw-arp-block-content a {
    color: #1E7EC8;
}