<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.2.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-onestepcheckout-address" class="aw-onestepcheckout-add-loader-into-this-block">
    <div id="aw-onestepcheckout-address-billing-wrapper">
        <?php $blockNumber = $this->getBlockNumber();?>
        <?php $blockNumberClass = (!is_null($blockNumber))?"aw-onestepcheckout-number-{$blockNumber}":"";?>
        <p class="aw-onestepcheckout-number <?php echo $blockNumberClass;?>">
            <?php echo $this->__('BILLING ADDRESS'); ?>
        </p>
        <?php echo $this->getChildHtml('billing'); ?>
    </div>
    <?php if (!$this->isUseBillingAsShipping()): ?>
        <div id="aw-onestepcheckout-address-shipping-wrapper" style="overflow: hidden;height: 0px;display:none;">
            <div id="aw-onestepcheckout-address-shipping-wrapper-child">
                <?php $blockNumber = $this->getBlockNumber(false);?>
                <?php $blockNumberClass = (!is_null($blockNumber))?"aw-onestepcheckout-number-{$blockNumber}":"";?>
                <p class="aw-onestepcheckout-number <?php echo $blockNumberClass;?>">
                    <?php echo $this->__('SHIPPING ADDRESS'); ?>
                </p>
                <?php echo $this->getChildHtml('shipping'); ?>
            </div>
        </div>
    <?php endif;?>
</div>
<script type="text/javascript">
    var awOSCAddress = new AWOnestepcheckoutAddress({
        containerSelector: '#aw-onestepcheckout-address',
        useBillingAsShippingCheckboxId: "billing:use_for_shipping",
        billing: {
            containerSelector: '#aw-onestepcheckout-address-billing-wrapper',
            changeAddressSelectSelector: '#billing-address-select',
            newAddressContainerSelector: '#aw-onestepcheckout-billing-address-list',
            createAccountInputId: 'billing:create_account',
            passwordContainerSelector: '#aw-osc-billing-password-area',
            addressChangeTriggerElementsIds: [
                'billing:country_id',
                'billing:region',
                'billing:region_id',
                'billing:city',
                'billing:postcode'
            ],
            addressCountryRegionElementsIds: {
                'countryId' : 'billing:country_id',
                'region'    : 'billing:region',
                'regionId'  : 'billing:region_id'
            }
        },
        shipping: {
            containerSelector: '#aw-onestepcheckout-address-shipping-wrapper',
            changeAddressSelectSelector: '#shipping-address-select',
            newAddressContainerSelector: '#aw-onestepcheckout-shipping-address-list',
            addressChangeTriggerElementsIds: [
                'shipping:country_id',
                'shipping:region',
                'shipping:region_id',
                'shipping:city',
                'shipping:postcode'
            ],
            addressCountryRegionElementsIds: {
                'countryId' : 'shipping:country_id',
                'region'    : 'shipping:region',
                'regionId'  : 'shipping:region_id'
            }
        },
        addressChangedUrl: <?php echo Zend_Json::encode($this->getAddressChangedUrl());?>,
        saveAddressUrl: <?php echo Zend_Json::encode($this->getSaveFormValuesUrl());?>
    });
</script>