<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.2.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $blockNumber = $this->getBlockNumber();?>
<?php $blockNumberClass = (!is_null($blockNumber))?"aw-onestepcheckout-number-{$blockNumber}":"";?>
<p class="aw-onestepcheckout-number <?php echo $blockNumberClass;?>"><?php echo $this->__('PAYMENT METHOD'); ?></p>
<div id="aw-onestepcheckout-payment-method" class="aw-onestepcheckout-add-loader-into-this-block">
    <dl class="sp-methods" id="checkout-payment-method-load">
        <?php $methods = $this->getMethods(); ?>
        <?php $oneMethod = count($methods) <= 1; ?>
        <?php foreach ($methods as $_method): ?>
            <?php $_code = $_method->getCode(); ?>
            <dt>
                <?php if(!$oneMethod): ?>
                    <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>"<?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> class="radio" />
                <?php else: ?>
                    <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>
                    <?php $oneMethod = $_code; ?>
                <?php endif; ?>
                <label for="p_method_<?php echo $_code ?>"><?php echo $this->escapeHtml($this->getMethodTitle($_method)) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
            </dt>
            <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
                <dd>
                    <?php echo $html; ?>
                </dd>
            <?php endif; ?>
        <?php endforeach; ?>
    </dl>
    <div class="validation-advice" style="display: none;"></div>
    <?php echo $this->getChildChildHtml('additional'); ?>
    <div class="tool-tip" id="payment-tool-tip" style="display:none;">
        <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
        <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
    </div>
    <script type="text/javascript">
        var awOSCPayment = new AWOnestepcheckoutPayment({
            containerSelector: "#aw-onestepcheckout-payment-method",
            wrapContainerSelector: "#aw-onestepcheckout-payment-method-wrapper",
            switchMethodInputsSelector: "input[name='payment[method]']",
            methodAdditionalContainerIdPrefix: "payment_form_",
            cvv: {
                tooltipSelector: "#payment-tool-tip",
                closeElSelector: "#payment-tool-tip-close",
                triggerElsSelector: ".cvv-what-is-this"
            },
            savePaymentUrl: <?php echo Zend_Json::encode($this->getSavePaymentUrl());?>
        });
    </script>
    <?php echo $this->getChildHtml('extra');?>
</div>