<div id="block_notice_ebay_accounts_general" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('General'); ?>">
    <?php echo Mage::helper('M2ePro')->__('You can add an eBay Production (live environment) or Sandbox (test environment) account.<br/><br/>
    <b>Note:</b> A Production eBay account only works in a live environment. A Sandbox account only works in a test environment. To register for a Sandbox account go to <a href="http://www.developer.ebay.com" target="_blank">www.developer.ebay.com</a><br/>
    <br/>After completing the General Information, click the <span style="text-decoration: underline;">Get Token</span> button where you\'ll be redirected to the eBay website. Simply sign-in and press <i>I Agree</i> to allow my eBay account to connect to M2E Pro.
    <br/><br/>Once the Token is successfully accepted, the status will say <i>“Yes”</i>. Click the button “Save And Continue Edit” to proceed.'); ?>
</div>

<?php
    $formData = Mage::helper('M2ePro/Data_Global')->getValue('temp_data') ? Mage::helper('M2ePro/Data_Global')->getValue('temp_data')->toArray() : array();

    $ebayUserId = null;

    if (isset($formData['ebay_info']) && $ebayInfo = json_decode($formData['ebay_info'], true)) {
        !empty($ebayInfo['UserID']) && $ebayUserId = (string)$ebayInfo['UserID'];
    }

    $helper = Mage::helper('M2ePro');

    $temp = Mage::helper('M2ePro/Data_Session')->getValue('get_token_account_mode', true);
    !is_null($temp) && $formData['mode'] = $temp;

    $temp = Mage::helper('M2ePro/Data_Session')->getValue('get_token_account_token_session', true);
    !is_null($temp) && $formData['token_session'] = $temp;

    $defaults = array(
        'title' => '',
        'mode' => Ess_M2ePro_Model_Ebay_Account::MODE_PRODUCTION,
        'token_session' => '',
        'token_expired_date' => '',
        'other_listings_synchronization' => Ess_M2ePro_Model_Ebay_Account::OTHER_LISTINGS_SYNCHRONIZATION_YES
    );
    $formData = array_merge($defaults, $formData);

    $isEdit = !!$this->getRequest()->getParam('id');
?>

<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    M2ePro.php.setConstants(<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Ebay_Account'); ?>,'Ess_M2ePro_Model_Ebay_Account');

    M2ePro.url.add(<?php echo json_encode(Mage::helper('M2ePro')->getControllerActions('adminhtml_ebay_account')) ?>);

    M2ePro.url.set('adminhtml_ebay_account/beforeGetToken','<?php echo $this->getUrl('*/adminhtml_ebay_account/beforeGetToken',array('_current' => true)); ?>');

    M2ePro.url.add(<?php echo json_encode(array(
        'formSubmit' => $this->getUrl('M2ePro/adminhtml_ebay_account/save', array('_current' => true, 'id' => $this->getRequest()->getParam('id'))),
        'deleteAction' => $this->getUrl('M2ePro/adminhtml_ebay_account/delete', array('id' => $this->getRequest()->getParam('id')))
    )); ?>);

    M2ePro.translator.add(<?php echo json_encode(array(
        'Be attentive! By deleting account you delete all information on it from M2E Pro server. This will cause inappropriate work of all accounts\' copies.' => $this->__('Be attentive! By deleting account you delete all information on it from M2E Pro server. This will cause inappropriate work of all accounts\' copies.'),
        'No Customer entry is found for specified ID.' => $this->__('No Customer entry is found for specified ID.'),
        'If Yes is chosen, you must select at least one attribute for product mapping.' => $this->__('If Yes is chosen, you must select at least one attribute for product mapping.'),
        'You should create at least one response template.' => $this->__('You should create at least one response template.')
    )); ?>);

    M2ePro.formData.id = '<?php echo $this->getRequest()->getParam('id'); ?>';

    Event.observe(window, 'load', function() {
        EbayAccountHandlerObj = new EbayAccountHandler();
        editForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl(); ?>');
    });
    //-----------------------------

</script>

<script type="text/javascript">

    // Data for current tab
    //-----------------------------
    M2ePro.translator.add(<?php echo json_encode(array(
        'You must get token.' => $this->__('You must get token.')
    )); ?>);

    M2ePro.formData.mode = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['mode']); ?>';
    M2ePro.formData.token_session = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['token_session']); ?>';
    M2ePro.formData.token_expired_date = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['token_expired_date']); ?>';

    Event.observe(window, 'load', function() {

    });
    //-----------------------------

</script>

<style>
    .columns .form-list td.value
    {
        width: auto;
    }
</style>

<div class="entry-edit" id="magento_block_ebay_accounts_general_general">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('General'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr <?php if (!$isEdit) echo 'style="display: none"'; ?>>
                    <td class="label">
                        <label for="title"><?php echo Mage::helper('M2ePro')->__('eBay User ID'); ?>: </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <span>
                            <?php if (!is_null($ebayUserId)): ?>
                                <a target="_blank" href="<?php echo Mage::helper('M2ePro/Component_Ebay')->getMemberUrl($ebayUserId, $formData['mode']); ?>"><?php echo $this->escapeHtml($formData['title']); ?></a>
                            <?php else: ?>
                                <?php echo $this->escapeHtml($formData['title']); ?>
                            <?php endif; ?>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="mode"><?php echo Mage::helper('M2ePro')->__('Mode'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select <?php if($formData['token_session'] != ''): ?>disabled="disabled"<?php else: ?>id="mode" name="mode"<?php endif; ?> class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Account::MODE_PRODUCTION; ?>" <?php if ($formData['mode'] == Ess_M2ePro_Model_Ebay_Account::MODE_PRODUCTION): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Production (Live eBay)'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Account::MODE_SANDBOX; ?>" <?php if ($formData['mode'] == Ess_M2ePro_Model_Ebay_Account::MODE_SANDBOX ): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Sandbox (Test eBay)'); ?></option>
                        </select>
                        <?php if($formData['token_session'] != ''): ?>
                            <input id="mode" name="mode" value="<?php echo $formData['mode']; ?>" type="hidden" class="required-entry" />
                        <?php endif; ?>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Environment of eBay account.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_ebay_accounts_general_token">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Token'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Grant Access'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <?php echo $this->getChildHtml('get_token_button'); ?>
                        <p class="note note-no-tool-tip">
                            <span>
                                <?php echo Mage::helper('M2ePro')->__(
                                    'Ensure you acquire your token within 5 minutes, or you may exceed your time limit and have to start again.'
                                ); ?>
                            </span>
                        </p>
                    </td>
                </tr>

            </table>

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="token_session"><?php echo Mage::helper('M2ePro')->__('Activated'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <div><?php if($formData['token_session'] != '') echo Mage::helper('M2ePro')->__('Yes'); else echo Mage::helper('M2ePro')->__('No'); ?></div>
                        <input id="token_session" name="token_session" value="<?php echo $formData['token_session']; ?>" type="hidden" class="M2ePro-account-token-session" />
                    </td>
                </tr>

                <tr <?php if($formData['token_session'] == '' || $formData['token_expired_date'] == ''): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="token_expired_date"><?php echo Mage::helper('M2ePro')->__('Expiration Date'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <div><?php echo $formData['token_expired_date']; ?></div>
                        <input id="token_expired_date" name="token_expired_date" value="<?php echo $formData['token_expired_date']; ?>" type="hidden" />
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>