<?php
/**
 * Magpleasure Ltd.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-CE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magpleasure.com/LICENSE-CE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Magpleasure does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Magpleasure does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Magpleasure
 * @package    Magpleasure_Common
 * @version    0.6.3
 * @copyright  Copyright (c) 2012-2013 Magpleasure Ltd. (http://www.magpleasure.com)
 * @license    http://www.magpleasure.com/LICENSE-CE.txt
 */
?>

<?php
/**  @var $this Magpleasure_Common_Block_Adminhtml_Widget_Ajax_Form_Container */
?>
<div id="ajax_form_message"></div>
<?php echo $this->getFormInitScripts() ?>
<div>
<form id="<?php echo $this->getFormId(); ?>" action="" method="post" enctype="multipart/form-data">
<?php echo $this->getFormHtml() ?>
</form>
</div>
<?php echo $this->getFormScripts() ?>