/**
* GoMage Product Designer
*
* @category     Extension
* @copyright    Copyright (c) 2013 GoMage (http://www.gomage.com)
* @author       GoMage
* @license      http://www.gomage.com/license-agreement/  Single domain license
* @terms of use http://www.gomage.com/terms-of-use
* @version      Release: 1.0
* @since        Available since Release 1.0
*/

/* Layout
-------------------------------------------------- */
.product-designer label,
.product-designer input,
.product-designer button{
  float: none;
  }
.product-designer{

  }
.product-designer-header{
  margin: 0 0 20px;
  }
  .pd_nav_container{
    float: left;
    }  
  .pd_save_container{
    float: right;
    }
.product-designer-content{

  }
  .product-designer-sidebar{
    width: 300px;
    float: right;
    }
  .product-designer-main-col{
    margin-right: 320px;
    }
    
.pd-box{
  border: 1px solid #a810a8;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  /* border-radius: 5px; */
  }
  
#product-zoom-container{
  display: none;
  }
  .dialog #product-zoom-container{
    display: block;
    }
.product-designer .category-products,
.my-designs  .category-products{
  padding: 0;
  }
.product-designer-sidebar .pd-header{
  margin: -10px -10px 10px;
  background: #a810a8;
  color: #fff;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 400;
  }
  
.pd-card-option-header{
  margin: -10px -10px 10px;
  background: #bf65cf;
  padding: 5px 10px;
  }
  .pd-card-option-header h2{
    margin: 0;
    color: #fff;
    font-size: 16px;    
    font-weight: 400;
    }
.pd-card-option-content{
  margin: 0 0 10px;
  padding: 0 0 10px;
  }
.pd-card-option-selects label{
  line-height: 29px;
  }
.pd-card-option-selects label,
.pd-card-option-selects select{
  float: left;
  width: 50%;
  }
.pd-card-option-select{
  margin: 0 0 5px;
  }
.pd-card-option-content:after,
.pd-card-option-select:after{
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
}
.pd-card-option-checkbox label,
.pd-card-option-checkbox input[type="checkbox"],
.pd-card-option-checkbox input[type="radio"]{
  vertical-align: middle;
  margin: 0;
  }
.pd-card-option-checkbox label{
  margin-right: 5px;
  }
.pd-card-option-other{
  margin-bottom: 10px;
  }
.pd-card-option-content h3{
  font-size: 12px;
  }
    
/* Main col
-------------------------------------------------- */
#pd_container{
  max-width: 100%;
  margin: auto;
  }
.pd_bottom_panel{
  text-align: center;
  margin: 10px 0;
  max-width: 100%;
  }
  .pd_bottom_panel .button{
    margin-bottom: 5px;
    }
  
  
/* Sidebar
-------------------------------------------------- */

/* Tabs */
.pd-tab-content{
  display: none;
  position: relative;
  /* margin: 0 0 15px; */
  }
.pd-tab-content:after{
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
}
  .tab-help-icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 14px;
    padding: 0 0 0 3px;
    font-size: 12px;
    line-height: 14px;
    cursor: help;
    border: 1px solid #ccc;
    border-radius: 100%;
    color: #1F5070;
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image:    -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image:     -ms-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image:      -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image:         linear-gradient(to bottom, #fdfdfd, #eaeaea);
    }
  .tab-help-content{
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0 0 0 5px;
    min-width: 100px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px;
    }
    
.pd_sides_list li{
  display: inline-block;
  margin: 0 5px 5px 0;
  position: relative;
  }
  .pd_sides_list li:after{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -11px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    color: #d8bdd8;
    text-transform: uppercase;
    -webkit-transform: rotate(-24deg);
    -moz-transform   : rotate(-24deg);
    -ms-transform    : rotate(-24deg);
    -o-transform     : rotate(-24deg);
    transform        : rotate(-24deg);
    }
    .pd_sides_list li.pd-card-front:after{
      content: "Front";
      }
    .pd_sides_list li.pd-card-back:after{
      content: "Back";
      }      
  
/* Colors panel */
.colors-panel {
  padding: 0 0 5px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  }
  .color-btn {
    cursor: pointer;
    margin: 5px 2px 0 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip   : padding-box;
    background-clip        : padding-box;
    opacity: .6;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    }
    .color-btn.selected{
      opacity: 1;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
      }
      
      
/* Tab design */
.cliparts-list{
  margin: 10px 0;
  overflow: auto;
  max-height: 300px;
  }
  
.products-designer-grid .display-product{
  display: none;
  width: 300px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 5px;
  }
  .products-designer-grid .display-product .product-name{
    font-weight: 700;
    margin-bottom: 5px;
    }
  .products-designer-grid .display-product .product-media{
    float: left;
    margin-right: 10px;
    }
  .products-designer-grid .display-product .product-info{
    overflow: hidden;
    }
    
/* Tab Text */
.text-effect{
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  display: none;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
  }
  .panel-cancel-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    }

/* Tab Upload Image */
.pd_more_info_link{
  margin: 0 0 10px;
  }
#uploadedImages{
  margin-bottom: 5px;
  }
#upload-image-error{
  margin: 5px 0;
  color: #f00;
  font-weight: 700;
  }
  #upload-image-error p{
    margin: 0;
    }
#license-agreements-link{
  cursor: help;
  }
.pd-license-agreements-popup {
  position: absolute;
  z-index: 1001;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  width: 250px;
  }
#image-conditions{
  margin-top: 5px;
  }
.pd-upload-input{
  margin-bottom: 5px;
  overflow: hidden;
  }
 
/* Fields
-------------------------------------------------- */
.product-designer .form-list .input-box{
  width: 100%;
  }
  .product-designer .form-list select,
  .product-designer .form-list input.input-text,
  .product-designer .form-list textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    width: 100%;
    }
  .product-designer .form-list textarea{
    resize: vertical;
    }
.product-designer .form-list .fields .field{
  width: 48%;
  float: left;
  clear: none;
  }
  .product-designer .form-list .fields .field + .field{
    margin-left: 4%;
    }
.product-designer .control label{
  vertical-align: middle;
  }
.product-designer .control-rights label{
  text-align: left;
  width: auto;
  float: none;
  }
  
  
/* Price
-------------------------------------------------- */
.product-designer-price{
  text-align: right;
  }
#price-more-info{
  margin-top: 5px;
  }
  #price-more-info .price{
    font-weight: 700;
    color: #C76200;
    }
    
/* Designer Buttons
-------------------------------------------------- */
.category-products .products-grid .gpd-button{
  margin: 5px 0;
  }
.category-products .products-grid li.item{
  padding-bottom: 100px;
  }
.add-to-cart button.btn-design{
  margin-left: 5px;
  }
  
/* My Saved Designs
-------------------------------------------------- */
.my-designs .products-grid .actions .button{
  margin-bottom: 5px;
  }
.gomage-designer-customer-designs .products-grid .item{
  max-width: 158px;
  }
  
/* Clears
-------------------------------------------------- */
.product-designer-header:after,
.product-designer-content:after,
#pd_container:after{
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
}


/* Old styles //To Delete
-------------------------------------------------- */
#additional_panels {
    position: relative;
    /* width: 300px; */
    z-index: 1099;
    float: left;
    width: 100%;
}

#pd_tabs {
/*     width: 300px; */
    position: relative;
    z-index: 1100;
}

#navigation_panel .pages {
    margin: auto;
}
.clipart-image {
    width: 60px;
    height: 60px;
    cursor: pointer;
}


/* Maybe leave it */

.pd-element-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
}

#product-designer .content {
    float: left;
}

/* Other styles */

#pd_container .pd-design-area {
    border: 1px dashed #333;
}

#pd_container .outside-warning {
    border: 1px solid #FF0000;
}
#pd_save_container li {
    float: left;
}

.pd-panel {
    position: absolute;
    background-color:#fff;
    border: 1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    width: 200px;
    height: 500px;
    overflow: auto;
    z-index: 1100;
    padding: 5px;
}

.pd-panel .pd-panel-header,
.pd-panel .pd-panel-footer {
    height: 22%;
    border: 1px solid #ccc;
}

.pd-panel .pd-panel-content {
    height: 50%;
    overflow: auto;
    border: 1px solid #ccc;
    margin: 5px 0;
}

.panel-btn {
    font-size: 12pt;
    padding: 3px;
    min-width: 30px;
    margin: 0 2px;
}

.panel-btn[disabled] {
    color : #ccc;
}

fieldset[disabled] button,
fieldset[disabled] input,
fieldset[disabled] select {
    color: #ccc;
}

.font-size-selector {
    font-size: 12pt;
    min-width: 30px;
    margin: 0 2px;
}

.pd-btn-add-text {
    width: 50px;
}

.pd-btn-bold {
    font-weight: bold;
}

.pd-btn-italic {
    font-style: italic;
}

.pd-btn-underline {
    text-decoration: underline;
}
#pd_sides img {
    border: 1px solid #ccc;
    margin: 0 5px;
    cursor: pointer;
}

#pd_undo_btn,
#pd_redo_btn,
#pd_duplicate_btn,
#pd_zoom_btn,
#pd_print_btn {
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
}

#pd_undo_btn.active,
#pd_redo_btn.active {
    color: #000;
}

#pd_undo_btn.disabled,
#pd_redo_btn.disabled,
#pd_duplicate_btn.disabled {
    color: #ccc;
}

#pd_container .cliparts-panel-title {
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 12pt;
}

#pd_container .cliparts-panel-categories,
#pd_container .cliparts-panel-subcategories {
    width: 45%;
    margin: 0 5px;
}

#pd_container .cliparts-panel-search {
    width: 45%;
    margin: 5px 5px;
}

#pd_container  .cliparts-panel-search-btn {
    margin: 5px 5px;
}

#pd_container .cliparts-panel-flipv-btn,
#pd_container .cliparts-panel-fliph-btn,
#pd_container .cliparts-panel-align-btn   {
    /* cliparts panel buttons */
}

#pd_container .layers-panel-title,
#pd_container .notes-panel-title {
    font-size: 12pt;
}

.layers-manager-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.layers-manager-list li {
    background-color: #9FF781;
    margin: 5px 5px;
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    cursor: pointer;
}


li.layer-type-text .layer-icon {
    height: 32px;
    padding: 3px 5px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
}

.layer-remove-btn,
.layer-up-btn,
.layer-down-btn,
.layer-label  {
    display: inline-block;
    margin-top: 5px;
}

.layer-label {
    width: 50%;
    padding-left: 5px;
}

.layer-up-btn,
.layer-down-btn,
.layer-remove-btn {
    padding: 1px 2px;
    font-size: 10pt;
    font-weight: bold;
    margin: 0 1px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.layer-remove-btn {
    color: #FF0000;
}

.layers-manager-list li.outside {
    border-color: #FF0000;
    background-color: #FE2E2E!important;
}

.layers-manager-list li.active {
    border-color: #FF0000;
    background-color: #F3F781;
}

.curved-text-config legend,
.shadow-config legend,
.outline-config legend {
    display: block;
}

.color-picker {
    cursor: pointer;
    border: 1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}

.font-picker {
  width: 100%;
}

.pd-textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
}

.notes-panel-textarea {
    width: 95%;
    height: 200px;
}

.pd-social-icons img {
    margin : 5px;
    cursor : pointer;
}

.products-designer-grid {
    overflow: hidden;
}
.products-designer-grid .item {
    float: left;
    padding: 10px;
}


.product-designer-price .regular-price .price {
    font-size: 26px;
}

.col2-set-designer .col-1,
.col2-set-designer .col-2{
  width: 49%;
  padding: 0;
  }
.col2-set-designer .col-1{
  margin-right: 2%;
  }
.pd-card-option-checkbox label{
  font-weight: 400;
  }
.input-box-encode + .input-box-encode{
  margin-top: 5px;
  }
.input-box-encode input[type="checkbox"]{
  float: left;
  margin-top: 7px;
  }
  .input-box-encode .encode-text{
    margin-left: 20px;
    }
.pd-box-card-info .pd-card-option-content,
.pd-box-card-info .pd-card-option-other{
  padding: 0;
  margin: 0;
  }
.pantote-cols{
  overflow: hidden;
  }
  .pantote-cols > .col{
    float: left;
    width: 23.5%;
    }
    .pantote-cols > .col + .col{
      margin-left: 2%;
      }
  .pantote-cols .input-text{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    }