<?php if(Mage::getStoreConfig('clerk/livesearch/active')) : ?>
<span
    class="clerk"
    data-template="@<?php echo ltrim(Mage::getStoreConfig('clerk/livesearch/template'),"@"); ?>"
    data-bind-live-search="#search">
</span>
<style type="text/css">
	#search_autocomplete { display: none !important; }
</style>
<?php endif; ?>