<?php if($productId = Mage::getModel('core/cookie')->get('clerk_power_popup')) : ?>
	<?php Mage::getModel('core/cookie')->delete('clerk_power_popup'); ?>
	<?php if(Mage::getStoreConfig('clerk/powerpopup/active') && (Mage::getStoreConfig('clerk/powerpopup/type') == 'popup' || (Mage::getStoreConfig('clerk/powerpopup/type') == 'landingpage' && Mage::app()->getRequest()->getActionName() == 'clerk'))) : ?>
		<?php $product = Mage::getModel('catalog/product')->load($productId); ?>
		<?php $sidebar = $this->getLayout()->createBlock('checkout/cart_sidebar'); ?>
		<?php $totals = $sidebar->getTotalsCache(); ?>
		<?php $quote = Mage::getSingleton('checkout/session')->getQuote(); ?>
		<?php $items = $quote->getAllVisibleItems(); ?>
		
		<span id="clerk-power-popup">
			<div class="clerk-top-wrapper">
				
				<div class="clerk-add-success">
					<div class="clerk-add-success-msg">
						<ul class="messages">
							<li class="success-msg">
								<ul>
									<li><?php echo Mage::helper('clerk')->__("%s was successfully added to your shopping cart.",$this->helper('catalog/output')->productAttribute($product, $product->getName(), 'name')); ?></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="clerk-add-success-prd">
						<div class="clerk-product-image">
							<img src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />
						</div>
						<div class="clerk-product-info">
							<span class="clerk-name"><?php echo $this->helper('catalog/output')->productAttribute($product, $product->getName(), 'name') ?></span>
							<?php echo $this->getLayout()->createBlock('catalog/product_price')->getPriceHtml($product); ?>
						</div>
					</div>
					<div class="clerk-clearer"></div>
				</div>
				
				<div class="clerk-cart-overview">
					<div class="clerk-cart-buttons top">
						<span class="h1"><?php echo Mage::helper('checkout')->__('Shopping Cart'); ?></span>
						<?php
							$url = Mage::getUrl('checkout/cart');
							$onclick = "setLocation('$url')";
							if($url == Mage::getBaseUrl().ltrim($_SERVER['REQUEST_URI'],"/")){
								$onclick = "clerk_close_power_popup();";
							}
						?>
						<button type="button" onclick="<?php echo $onclick; ?>" class="button clerk-to-cart"><span><span><?php echo Mage::helper('clerk')->__('View Shopping Cart'); ?><span></span></button>	
					</div>	
					<div class="clerk-clearer"></div>
					<div class="clerk-cart">
						<div class="clerk-items">
							<div class="clerk-text"><?php echo Mage::helper('clerk')->__("%s products in your shopping cart",count($items)); ?></div>
							<div class="clerk-price"><?php echo Mage::helper('core')->currency($totals['subtotal']->getValue(),true,false); ?></div>						
						</div>
						<?php if(isset($totals['shipping'])) : ?>
							<div class="clerk-shipping">
								<div class="clerk-text"><?php echo Mage::helper('clerk')->__("Shipping"); ?></div>
								<div class="clerk-price"><?php echo Mage::helper('core')->currency($totals['shipping']->getValue(),true,false); ?></div>						
							</div>
						<?php endif; ?>
						<div class="clerk-total">
							<div class="clerk-text"><strong><?php echo Mage::helper('clerk')->__("Total"); ?></strong></div>
							<div class="clerk-price"><strong><?php echo Mage::helper('core')->currency($totals['grand_total']->getValue(),true,false); ?></strong></div>
						</div>
					</div>
					<div class="clerk-cart-buttons bottom">
						<?php if(Mage::getStoreConfig('clerk/powerpopup/type') != 'landingpage') : ?> 
							<button type="button" onclick="clerk_close_power_popup();" class="button clerk-continue-shopping"><span><span><?php echo Mage::helper('clerk')->__('Continue Shopping'); ?><span></span></button>
						<?php endif; ?>
						<?php
							$url = $sidebar->getCheckoutUrl();
							$onclick = "setLocation('$url')";
							if($url == Mage::getBaseUrl().ltrim($_SERVER['REQUEST_URI'],"/")){
								$onclick = "clerk_close_power_popup();";
							}
						?>
						<button type="button" onclick="<?php echo $onclick; ?>" class="button clerk-to-checkout"><span><span><?php echo Mage::helper('clerk')->__('To Checkout'); ?><span></span></button>
					</div>
					<div class="clerk-clearer"></div>
					<div class="clerk-bottom"></div>
				</div>
			</div>
			<div class="clerk-clearer"></div>
			<div class="clerk-results">
				<?php $templates = Mage::getStoreConfig('clerk/powerpopup/template'); ?>
				<?php $templates = explode(",",$templates); ?>
				<?php foreach($templates as $key => $template) : ?>
					<span class="clerk" data-template="@<?php echo trim($template); ?>" data-products="[<?php echo $product->getId(); ?>]" <?php if(!$key && Mage::getStoreConfig('clerk/powerpopup/type') == 'popup') : ?>data-after-render="clerk_fire_power_popup"<?php endif; ?>></span>
				<?php endforeach; ?>
			</div>		
		</span>
		<script type="text/javascript">
			function clerk_fire_power_popup() {
				Clerk.ui.popup('#clerk-power-popup').show();				
			} 
			function clerk_close_power_popup() {
				Clerk.ui.popup('#clerk-power-popup').close();				
			}
		</script>
	<?php endif; ?>
<?php endif; ?>	