<div class="page-title">
    <h1><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h1>
</div>

<span
    id="clerk-search"
    class="clerk"
 
    data-template="@<?php echo ltrim(Mage::getStoreConfig('clerk/search/template'),"@"); ?>"
    data-target="#clerk-search-results"
    data-after-render="_clerk_after_load_event"
    data-query="<?php echo addslashes($_GET['q']); ?>"> 
</span>

<div class="category-products">
	<ul id="clerk-search-results" class="products-grid"></ul>
</div>
<p id="clerk-search-no-results" class="note-msg" style="display: none;"><?php echo Mage::getStoreConfig('clerk/search/no_results_text') ?></p>

<button id="clerk-search-load-more-button" class="button" style="display:block;margin:0 auto;"><span><span><?php echo Mage::getStoreConfig('clerk/search/load_more_text') ?></span></span></button>

<script type="text/javascript">
	(function() { 

		function _checkVersion(strVersionA, strVersionB){
		    var arrVersionA = strVersionA.split('.');
		    var arrVersionB = strVersionB.split('.');
		    var intVersionA = (100000000 * parseInt(arrVersionA[0])) + (1000000 * parseInt(arrVersionA[1])) + (10000 * parseInt(arrVersionA[2]));
		    var intVersionB = (100000000 * parseInt(arrVersionB[0])) + (1000000 * parseInt(arrVersionB[1])) + (10000 * parseInt(arrVersionB[2]));
		
		    if (intVersionA > intVersionB) {
		        return 1;
		    }else if(intVersionA < intVersionB){
		        return -1;
		    }else{
		        return 0;
		    }
		    return false;
		}

		var _clerk_limit = null;
		var _clerk_offset = null;
		
		function _click_load_more_button_event() {
			if(typeof _$ === 'undefined') {
				var _$ = (typeof jQuery !== 'undefined' && _checkVersion(jQuery.fn.jquery,'1.4.3')) ? jQuery : Clerk.ui.$;
			}
			_$('#clerk-search-load-more-button').on('click', function() {
	            // increment offset and load next slice
	            _clerk_offset += _clerk_limit;
	            _$('#clerk-search').data('offset', _clerk_offset);
	            Clerk.renderBlocks('#clerk-search');
	        });
		}
	
	    window._clerk_after_load_event = function (data) {

			if(typeof _$ === 'undefined') {
				var _$ = (typeof jQuery !== 'undefined' && _checkVersion(jQuery.fn.jquery,'1.4.3')) ? jQuery : Clerk.ui.$;
			}
	        // is this the first time
	        var is_first = _clerk_limit == null && _clerk_offset == null;
	
	        if(is_first) {
	            // first response
				_click_load_more_button_event();
	            // init limit and offset
	            _clerk_limit = data.response.result.length;
	            _clerk_offset = 0;
	
	            if(data.response.result.length == 0) {
	                // no results at all
	                _$('#clerk-search-load-more-button').hide();
	                _$('#clerk-search-no-results').show();
	
	            } else if(data.response.result.length == data.response.hits) {
	                // only one page
					_$('#clerk-search-load-more-button').hide();
	            }
	
	        } else {
	            // all later responses
	            if(data.response.result.length < _clerk_limit) {
	                // no more results
	                _$('#clerk-search-load-more-button').hide();
	            }
	        }
	    }
    })();

</script>