<?php
/**
 * @var $this Mage_Adminhtml_Block_Template
 */
?>
<style type="text/css">
    #awam-dashboard {
        width: 100%;
        height: 700px;
        min-height: 400px;
        border: none;
    }
</style>
<iframe src="<?php echo $this->getData('aw_am_domain') ?>/external/?ak=<?php echo $this->getData('aw_am_auth_key') ?>"
        id="awam-dashboard" scrolling="no"></iframe>
<script type="text/javascript">
    function awAmMessageListener(event) {
        if (event.origin.indexOf('aheadmetrics') != -1) {
            var height = parseInt(event.data);
            $('awam-dashboard').setStyle({height: height + 'px'});
        }
    }

    if (window.addEventListener) {
        window.addEventListener('message', awAmMessageListener, false);
    } else {
        window.attachEvent('onmessage', awAmMessageListener);
    }
</script>
