<div id="block_notice_amazon_template_synchronization_stop" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Stop Rules'); ?>">
    <?php echo Mage::helper('M2ePro')->__('Stop Rules define the conditions when Amazon items listing must be
    inactivated, depending on Magento product state.<br/><br/>
    <b>Note:</b> If all Stop Conditions are set to <i>No</i> or <i>No Action</i>, then the stop option for Amazon items is disabled.<br/>
    If all Stop Conditions are enabled, then an item will be inactivated if at least one of the Stop Conditions is met.'); ?>
</div>

<?php
    $formData = Mage::helper('M2ePro/Data_Global')->getValue('temp_data') ? Mage::helper('M2ePro/Data_Global')->getValue('temp_data')->toArray() : array();
    $defaults = array(
        'stop_status_disabled' => Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_STATUS_DISABLED_YES,
        'stop_out_off_stock' => Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_OUT_OFF_STOCK_YES,
        'stop_qty' => Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_NONE,
        'stop_qty_value' => '0',
        'stop_qty_value_max' => '10'
    );
    $formData = array_merge($defaults, $formData);

    $isEdit = !!$this->getRequest()->getParam('id');
?>

<script type="text/javascript">

    // Data for current tab
    //-----------------------------
    M2ePro.formData.stop_status_disabled = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['stop_status_disabled']); ?>';
    M2ePro.formData.stop_out_off_stock = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['stop_out_off_stock']); ?>';
    M2ePro.formData.stop_qty = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['stop_qty']); ?>';
    M2ePro.formData.stop_qty_value = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['stop_qty_value']); ?>';
    M2ePro.formData.stop_qty_value_max = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['stop_qty_value_max']); ?>';

    Event.observe(window, 'load', function() {
        $('stop_qty').observe('change', AmazonTemplateSynchronizationHandlerObj.stopQty_change);
    });
    //-----------------------------

</script>

<div class="entry-edit" id="magento_block_amazon_template_synchronization_stop_rules">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Stop Conditions'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Stop When Status Disabled'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="stop_status_disabled" name="stop_status_disabled" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_STATUS_DISABLED_NONE; ?>" <?php if ($formData['stop_status_disabled'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_STATUS_DISABLED_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_OUT_OFF_STOCK_YES; ?>" <?php if ($formData['stop_status_disabled'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_STATUS_DISABLED_YES): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Automatically stops item(s) if its status has been changed to \'Disabled\' in Magento.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Stop When Out Of Stock'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="stop_out_off_stock" name="stop_out_off_stock" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_OUT_OFF_STOCK_NONE; ?>" <?php if ($formData['stop_out_off_stock'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_OUT_OFF_STOCK_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_OUT_OFF_STOCK_YES; ?>" <?php if ($formData['stop_out_off_stock'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_OUT_OFF_STOCK_YES): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Automatically stops item(s) if its stock availability has been changed to \'Out of Stock\' in Magento.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Stop When Item QTY Is'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="stop_qty" name="stop_qty" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_NONE; ?>" <?php if ($formData['stop_qty'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No Action'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_LESS; ?>" <?php if ($formData['stop_qty'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_LESS): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Less or Equal'); ?></option>
                            <!-- <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_MORE; ?>" <?php if ($formData['stop_qty'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_MORE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('More'); ?></option> -->
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_BETWEEN; ?>" <?php if ($formData['stop_qty'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_BETWEEN): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Between'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Automatically stops item(s) if its quantity has been changed and meets the conditions.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="stop_qty_value_container" <?php if ($formData['stop_qty'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_NONE) echo ' style="display: none;"'; ?>>
                    <td class="label">
                        <label for="stop_qty_value">
                            <span id="stop_qty_item" <?php if ($formData['stop_qty'] == Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_BETWEEN) echo ' style="display: none;"'; ?>><?php echo Mage::helper('M2ePro')->__('Item Quantity'); ?>: <span class="required">*</span></span>
                            <span id="stop_qty_item_min" <?php if ($formData['stop_qty'] != Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_BETWEEN) echo ' style="display: none;"'; ?>><?php echo Mage::helper('M2ePro')->__('Min Item Quantity'); ?>: <span class="required">*</span></span>
                        </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input id="stop_qty_value" name="stop_qty_value" value="<?php echo $this->escapeHtml($formData['stop_qty_value']); ?>" type="text" class="M2ePro-required-when-visible input-text validate-digits" />
                    </td>
                </tr>

                <tr id="stop_qty_value_max_container" <?php if ($formData['stop_qty'] != Ess_M2ePro_Model_Amazon_Template_Synchronization::STOP_QTY_BETWEEN) echo ' style="display: none;"'; ?>>
                    <td class="label">
                        <label for="stop_qty_value_max"><?php echo Mage::helper('M2ePro')->__('Max Item Quantity'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input id="stop_qty_value_max" name="stop_qty_value_max" value="<?php echo $this->escapeHtml($formData['stop_qty_value_max']); ?>" type="text" class="M2ePro-required-when-visible input-text validate-digits M2ePro-validate-conditions-between" />
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>