<?php

$translations = array();

// ->__('Synchronization settings have been saved.')
$text = 'Synchronization settings have been saved.';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Running All Enabled Tasks')
$text = 'Running All Enabled Tasks';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Inventory Synchronization')
$text = 'Inventory Synchronization';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Orders Synchronization')
$text = 'Orders Synchronization';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('3rd Party Listings Synchronization')
$text = '3rd Party Listings Synchronization';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Feedback Synchronization')
$text = 'Feedback Synchronization';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Another Synchronization Is Already Running.')
$text = 'Another Synchronization Is Already Running.';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Getting information. Please wait ...')
$text = 'Getting information. Please wait ...';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Preparing to start. Please wait ...')
$text = 'Preparing to start. Please wait ...';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Synchronization has successfully ended.')
$text = 'Synchronization has successfully ended.';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Synchronization ended with warnings. <a target="_blank" href="%url%">View log</a> for details.')
$text = 'Synchronization ended with warnings. <a target="_blank" href="%url%">View log</a> for details.';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Synchronization ended with errors. <a target="_blank" href="%url%">View log</a> for details.')
$text = 'Synchronization ended with errors. <a target="_blank" href="%url%">View log</a> for details.';
$translations[$text] = Mage::helper('M2ePro')->__($text);

// ->__('Revise All')
$text = 'Revise All';
$translations[$text] = Mage::helper('M2ePro')->__($text);

$translations = json_encode($translations);

?>

<script type="text/javascript">

    M2ePro.url.add(<?php echo json_encode(array(
        'formSubmit' => $this->getUrl('M2ePro/adminhtml_ebay_synchronization/save'),
        'logViewUrl' => $this->getUrl('M2ePro/adminhtml_ebay_log/synchronization',array('back'=>Mage::helper('M2ePro')->makeBackUrlParam('*/adminhtml_ebay_synchronization/index'))),

        'runReviseAll'        => $this->getUrl('M2ePro/adminhtml_ebay_synchronization/runReviseAll'),
        'runAllEnabledNow'    => $this->getUrl('M2ePro/adminhtml_ebay_synchronization/runAllEnabledNow'),
        'runNowTemplates'     => $this->getUrl('M2ePro/adminhtml_ebay_synchronization/runNowTemplates'),
        'runNowOrders'        => $this->getUrl('M2ePro/adminhtml_ebay_synchronization/runNowOrders'),
        'runNowOtherListings' => $this->getUrl('M2ePro/adminhtml_ebay_synchronization/runNowOtherListings'),
        'runNowFeedbacks'     => $this->getUrl('M2ePro/adminhtml_ebay_synchronization/runNowFeedbacks'),

        'synchCheckProcessingNow' => $this->getUrl('M2ePro/adminhtml_ebay_synchronization/synchCheckProcessingNow')
    )); ?>);

    M2ePro.translator.add(<?php echo $translations; ?>);

    Event.observe(window, 'load', function() {
        setTimeout(function() {
            SynchronizationProgressHandlerObj = new SynchProgressHandler(SynchProgressBarObj, SynchWrapperObj );
            SynchronizationHandlerObj = new SynchronizationHandler(SynchronizationProgressHandlerObj);
            SynchronizationProgressHandlerObj.initPageCheckState();

            editForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl(); ?>');

            <?php if (!is_null($this->getChildBlockId())) { ?>
            <?php
                $childBlockId = Mage::helper('M2ePro')->escapeJs($this->getChildBlockId());
                $destinationBlockId = Mage::helper('M2ePro')->escapeJs($this->getId());
            ?>
            SynchronizationHandlerObj.moveChildBlockContent('<?php echo $childBlockId; ?>', '<?php echo $destinationBlockId; ?>');
            <?php } ?>

            <?php if ($this->isShowReviseAll()) { ?>
                SynchronizationHandlerObj.initReviseAllInfo(
                    <?php echo json_encode($this->reviseAllInProcessingState) ?>,
                    '<?php echo $this->reviseAllStartDate ?>',
                    '<?php echo $this->reviseAllEndDate ?>',
                    '<?php echo Ess_M2ePro_Helper_Component_Ebay::NICK ?>'
                );
            <?php } ?>

        }, 350);
    });

</script>

<form id="<?php echo $this->getId(); ?>" action="<?php echo $this->getData('action'); ?>" method="post" enctype="multipart/form-data">

<input name="form_key" value="<?php echo $this->getFormKey(); ?>" type="hidden" />

<div id="<?php echo $this->getContainerId(); ?>">

    <div class="entry-edit" id="magento_block_ebay_synchronization_templates">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Inventory Synchronization'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <div id="block_notice_ebay_synchronization_stock_level" class="block_notices_module" title="" subtitle="" collapseable="no" hideblock="no" always_show="yes">
                    <?php $inspectorMode = ($this->inspectorMode == 1)?'<span style="color: green"> (enabled) </span>':''; ?>
                    <?php echo Mage::helper('M2ePro')->__('If catalog updates in your magento performed using import/export tools, custom scripts or direct changes in database,
                    then, you can use <a target="_blank" href="%s#magento_block_configuration_settings_advanced">"Track Direct Database Changes"</a> %s functionality to detect changes in products\' price and quantity.', Mage::helper('M2ePro/View_Configuration')->getSettingsUrl(), $inspectorMode) ?>
                </div>

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <tr>
                        <td class="label">
                            <label for="ebay_templates_mode"><?php echo Mage::helper('M2ePro')->__('Enabled'); ?>: <span class="required">*</span></label>
                        </td>
                        <td class="value">
                            <?php $templates_mode = $this->templates['mode'] ? $this->templates['mode'] : 0; ?>
                            <select id="ebay_templates_mode" name="ebay_templates_mode" onchange="SynchronizationHandlerObj.changeTemplatesMode('<?php echo Ess_M2ePro_Helper_Component_Ebay::NICK; ?>');">
                                <option value="0"<?php if ($templates_mode == 0) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1"<?php if ($templates_mode == 1) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__("Updates and synchronizes eBay Listings according to Synchronization Policies' rules."); ?></span>
                            </p>
                        </td>

                        <td class="value">
                            <div id="ebay_templates_run_now_container" <?php if ($templates_mode != 1) echo ' style="display: none;"'; ?>>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <?php echo $this->getChildHtml('ebay_templates_run_now'); ?>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td class="label"></td>
                        <td class="value">
                            <?php echo $this->getChildHtml('ebay_templates_view_log'); ?>
                            &nbsp;&nbsp;
                            <?php echo $this->getChildHtml('ebay_templates_clear_log'); ?>
                        </td>
                        <td></td>
                    </tr>

                </table>

                <div style="padding: 12px"></div>

                <?php if ($this->isShowReviseAll()) { ?>
                    <div id="block_notice_ebay_synchronization_revise_all" style="<?php if (!$templates_mode) echo 'display: none'; ?>" class="block_notices_module" title="" subtitle="" collapseable="no" hideblock="no" always_show="yes">

                        <?php echo Mage::helper('M2ePro')->__(
    'If your eBay listings for some reason were asynchronized with the products in Magento, <a href="javascript:" onclick="%s">turn on</a> the Revise All action to catch data up.
    <br>Revise is performed by the Inventory Synchronization, 100 items per a cycle.
<br><br>
    ',
    'SynchronizationHandlerObj.showReviseAllConfirmPopup(\''.Ess_M2ePro_Helper_Component_Ebay::NICK.'\');'
                        )?>

                        <span id="ebay_revise_all_start" style="display: none">

                            <span style="color: blue">
                                <?php echo Mage::helper('M2ePro')->__('In Progress, start date - ') ?>
                            </span>

                            <span id="ebay_revise_all_start_date" style="color: blue">
                                <?php echo $this->reviseAllStartDate; ?>
                            </span>

                        </span>

                        <span id="ebay_revise_all_end" style="display: none">

                            <span style="color: green">
                                <?php echo Mage::helper('M2ePro')->__('Finished, end date - ') ?>
                            </span>

                            <span id="ebay_revise_all_end_date" style="color: green">
                                <?php echo $this->reviseAllEndDate; ?>
                            </span>

                        </span>

                    </div>
                <?php } ?>

            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_ebay_synchronization_orders">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Orders Synchronization'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <tr>
                        <td class="label">
                            <label for="ebay_orders_mode"><?php echo Mage::helper('M2ePro')->__('Enabled'); ?>: <span class="required">*</span></label>
                        </td>
                        <td class="value">
                            <?php $orders_mode = $this->orders ? $this->orders : 0; ?>
                            <select id="ebay_orders_mode" name="ebay_orders_mode" onchange="SynchronizationHandlerObj.changeOrdersMode('<?php echo Ess_M2ePro_Helper_Component_Ebay::NICK; ?>');">
                                <option value="0"<?php if ($orders_mode == 0) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1"<?php if ($orders_mode == 1) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Imports and synchronizes eBay Orders for accounts, which have enabled Import eBay Orders in their Accounts settings.'); ?></span>
                            </p>
                        </td>
                        <td class="value">
                            <div id="ebay_orders_run_now_container" <?php if ($orders_mode != 1) echo ' style="display: none;"'; ?>>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <?php echo $this->getChildHtml('ebay_orders_run_now'); ?>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="label"></td>
                        <td class="value">
                            <?php echo $this->getChildHtml('ebay_orders_view_log'); ?>
                            &nbsp;&nbsp;
                            <?php echo $this->getChildHtml('ebay_orders_clear_log'); ?>
                        </td>
                        <td></td>
                    </tr>

                </table>

            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_ebay_synchronization_feedbacks" <?php if (Mage::helper('M2ePro/View_Ebay')->isSimpleMode()) : echo ' style="display: none"'; endif; ?>>

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Feedback Synchronization'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <tr>
                        <td class="label">
                            <label for="ebay_feedbacks_mode"><?php echo Mage::helper('M2ePro')->__('Enabled'); ?>: <span class="required">*</span></label>
                        </td>
                        <td class="value">
                            <?php $feedbacks_mode = $this->feedbacks ? $this->feedbacks : 0; ?>
                            <select id="ebay_feedbacks_mode" name="ebay_feedbacks_mode" onchange="SynchronizationHandlerObj.changeFeedbacksMode('<?php echo Ess_M2ePro_Helper_Component_Ebay::NICK; ?>');">
                                <option value="0"<?php if ($feedbacks_mode == 0) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1"<?php if ($feedbacks_mode == 1) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__("Imports buyers' feedback and automatically sends Auto Responses according to eBay Accounts settings."); ?></span>
                            </p>
                        </td>
                        <td class="value">
                            <div id="ebay_feedbacks_run_now_container" <?php if ($feedbacks_mode != 1) echo ' style="display: none;"'; ?>>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <?php echo $this->getChildHtml('ebay_feedbacks_run_now'); ?>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="label"></td>
                        <td class="value">
                            <?php echo $this->getChildHtml('ebay_feedbacks_view_log'); ?>
                            &nbsp;&nbsp;
                            <?php echo $this->getChildHtml('ebay_feedbacks_clear_log'); ?>
                        </td>
                        <td></td>
                    </tr>

                </table>

            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_ebay_synchronization_other_listings" <?php if (Mage::helper('M2ePro/View_Ebay')->isSimpleMode()) : echo ' style="display: none"'; endif; ?>>

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('3rd Party Listings Synchronization'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <tr>
                        <td class="label">
                            <label for="ebay_other_listings_mode"><?php echo Mage::helper('M2ePro')->__('Enabled'); ?>: <span class="required">*</span></label>
                        </td>
                        <td class="value" style="width: auto;">
                            <?php $otherListingsMode = $this->otherListings ? $this->otherListings : 0; ?>
                            <select id="ebay_other_listings_mode" name="ebay_other_listings_mode" onchange="SynchronizationHandlerObj.changeOtherListingsMode('<?php echo Ess_M2ePro_Helper_Component_Ebay::NICK; ?>');">
                                <option value="0"<?php if ($otherListingsMode == 0) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1"<?php if ($otherListingsMode == 1) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Imports and synchronizes 3rd Party Listings for eBay accounts, which have enabled Import 3rd Party Listings in their Accounts settings.<br/><strong>Note: </strong>Click "Synchronization Settings" to configure settings.'); ?></span>
                            </p>
                        </td>
                        <td class="value" id="ebay_other_listings_synchronization_settings_button_container" <?php if ($otherListingsMode != 1) echo ' style="display: none;"'; ?>>
                            <?php echo $this->getChildHtml('ebay_other_listings_synchronization_settings'); ?>
                        </td>
                        <td class="value">
                            <div id="ebay_other_listings_run_now_container" <?php if ($otherListingsMode != 1) echo ' style="display: none;"'; ?>>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <?php echo $this->getChildHtml('ebay_other_listings_run_now'); ?>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="label"></td>
                        <td class="value">
                            <?php echo $this->getChildHtml('ebay_other_listings_view_log'); ?>
                            &nbsp;&nbsp;
                            <?php echo $this->getChildHtml('ebay_other_listings_clear_log'); ?>
                        </td>
                        <td></td>
                    </tr>

                </table>

            </div>
        </div>

    </div>

</div>

</form>

<div id="ebay_revise_all_confirm_popup" style="display: none;">
    <div style="margin: 17px 0">

        <?php echo Mage::helper('M2ePro')->__(
            'Click \'Confirm\' and Revise will be performed by the Inventory Synchronization, 100 items per a cycle.'
        ); ?>

    </div>

    <div class="clear"></div>

    <div class="right">
        <a href="javascript:void(0);" onclick="Windows.getFocusedWindow().close()"><?php echo Mage::helper('M2ePro')->__('Cancel') ?></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <?php echo $this->getChildHtml('revise_all_confirm_popup_ok_button'); ?>
    </div>

    <div class="clear"></div>

</div>