<table class="form-list" cellspacing="0" cellpadding="0">

    <tr>
        <td class="label" colspan="2" style="width: 600px">
            <strong><?php echo Mage::helper('M2ePro')->__('We recommend to set up your cron job to be run every minute (e.g. * * * * *).'); ?></strong>
        </td>
    </tr>

    <tr>
        <td class="label">
            <label><?php echo Mage::helper('M2ePro')->__('Last Run'); ?>: </label>
        </td>
        <?php
            $style = '';
            if ($this->cronLastRunHighlight == 'error') {
                $style = ' style="color: red"';
            } else if ($this->cronLastRunHighlight == 'warning') {
                $style = ' style="color: #EB5E00"';
            }
        ?>
        <td class="value">
            <span<?php echo $style; ?>><?php echo $this->cronLastRun ?></span>
            <?php
                if ($this->cronLastRunHighlight == 'error') {
                    echo ' (' . Mage::helper('M2ePro')->__('not working') . ')';
                }
            ?>
        </td>
    </tr>

    <tr>
        <td class="label">
            <label><?php echo Mage::helper('M2ePro')->__('PHP command'); ?>: </label>
        </td>
        <td class="value">
            <?php echo $this->cronPhp ?>
        </td>
    </tr>

    <tr>
        <td class="label">
            <label><?php echo Mage::helper('M2ePro')->__('GET command'); ?>: </label>
        </td>
        <td class="value">
            <?php echo $this->cronGet ?>
        </td>
    </tr>

    <tr <?php if (!$this->getIsInspection()) echo 'style="display: none"' ?>>
        <td class="label">
            <label><?php echo Mage::helper('M2ePro')->__('Cron Schedule Table'); ?>: </label>
        </td>
        <td class="value">
            <a href="<?php echo $this->getUrl('*/adminhtml_development_inspection/cronScheduleTable'); ?>" target="_blank"><?php echo Mage::helper('M2ePro')->__('Show') ?></a>
        </td>
    </tr>

</table>