<table class="form-list" cellspacing="0" cellpadding="0">
    <?php foreach ($this->tablesInfo as $table) :?>
        <tr>
            <td class="label">
                <?php echo $table?>
            </td>
            <td class="value">
                <span style="color: red">no records found</span>
            </td>
        </tr>
    <?php endforeach; ?>
</table>