.page-title.category-title .getprice {
    float: right;
}

.page-title.category-title img {
    width: 46px;
    height: 14px;
    padding-left: 2px;
}

.page-title.category-title h1 {
    float: left;
}