<script type="text/javascript" src="/js/dotcom/fancybox/fancybox 1.3.4/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="/js/dotcom/fancybox/fancybox 1.3.4/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/js/dotcom/fancybox/fancybox 1.3.4/jquery.mousewheel-3.0.4.pack.js"></script>
<link rel="stylesheet" href="/js/dotcom/fancybox/fancybox 1.3.4/jquery.fancybox-1.3.4.css" type="text/css" media="screen"></link>

<script type="text/javascript">
	jQuery.noConflict();

    jQuery(function() {

		
    jQuery("a.fancybox").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	true,
		'overlayOpacity':	'0.8',
		'overlayColor'	:	'#030916'
	});
		
	});
</script>       


<div class="news_detail">
<?php $news = $this->getOneNews()?>
<?php if ($news):?>
	<div class="page-title">
		<h1 class="tit lane"><?php echo $news['title']?></h1>
	</div>
	<h3 class="date"><?php
		$datetime = explode(' ',$news['time']);
		$datetime = explode('-',$datetime[0]);
		echo $datetime[2].".".$datetime[1].".".$datetime[0];
	?></h3>
    
    <div class="left_box">
		<?php if ($news['file_article']) { ?>	
    	<a class="fancybox" rel="group" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) ?>media/press/<?php echo $news['file_article'] ?>">
			<img src="/media/news/<?php echo $news['file_article'] ?>"  width="265"/>
        </a>
		<?php } ?>		
            
		<?php if (is_file(getcwd()."/media/news/".$news['file_article'])):?>
		<?php endif;?>
		<?php if (is_file(getcwd()."/media/news/".$news['file_pdf'])):?>
			<div class="pdf">
				<a href="/media/news/<?php echo $news['file_pdf'] ?>">Download PDF( <?php echo $news['title']?> )</a>
			</div>
			<?php if ($files=$this->getFiles()):?>
				<?php foreach ($files as $_file):?>
					<div class="file">
						<a href="<?php echo "/media/news/{$news['id']}/{$_file['file']}"; ?>">Download file( <?php echo $_file['file'] ?> )</a>
					</div>
				<?php endforeach;?>
			<?php endif;?>
		<?php endif;?>
	</div>
    
	<div class="box_descr_news">
		<?php echo $news['desc'] ?>
	</div>
<?php endif;?>
</div>