<?php
/**
 * Sofhere SofTicket Magento Component
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU (3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/gpl-3.0.html
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@sofhere.com so we can send you a copy immediately.
 * 
 * @category	design_default
 * @author 		sofhere.com
 * @package		Sofhere_SofTicket
 * @copyright  	Copyright (c) 2008-2009 Sofhere IT Solutions.(http://www.sofhere.com)
 * @version 		1.0
 * @license		http://opensource.org/licenses/gpl-3.0.html GNU GENERAL PUBLIC LICENSE (GNU 3.0) 
 */
?>

<?php  $_softickets = $this->getTickets(); ?>
<?php if (is_null($_softickets)) return; ?>

<div class="head-alt2">
     <h2 class="title"><?php echo Mage::helper('softicket')->__('Available Tickets') ?></h2>
</div>
<div class="input-text">
     <h5 ><?php echo $this->__('Ticket View Instruction') ?></h5>
</div>

<br>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

    <table cellspacing="0" width="80%" class="data-table" id="my-softickets-table">
        <thead>
            <tr>
                <th class="a-left"><?php echo Mage::helper('softicket')->__('Date') ?></th>
                <th><?php echo Mage::helper('softicket')->__('Ticket ID') ?></th>
                <th class="a-left"><?php echo Mage::helper('softicket')->__('Subject') ?></th>
                <!--<th class="a-left"><?php echo Mage::helper('softicket')->__('Department') ?></th>-->
                <th class="a-left"><?php echo Mage::helper('softicket')->__('Priority') ?></th>
                <th class="a-left"><?php echo Mage::helper('softicket')->__('Status') ?></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach($_softickets as $_item): ?>
        <?php 
        	$id=$_item['ID'];
        	$timestamp=$_item['timestamp'];
        	$subject=$_item['subject'];
        	if (strlen($subject)>30)
        		$subject = substr($subject,0,30).'...';
        	$catId=$_item['cat'];
        	$priority=$_item['priority'];
        	$status=$_item['status'];
        ?>
            <tr>
                <td class="a-left"><?php echo $timestamp ?></td>
                <td><a href="<?php echo $this->getUrl('softicket/index/edit/id/'.$id) ?>" class="f-left"><?php echo $id ?></a></td>
                <td class="a-left"><?php echo $subject ?></td>
                <!-- <td class="a-left"><?php echo $this->getDepartment($catId) ?></td>-->
                <td class="a-left"><?php echo $this->getPriority($priority) ?></td>
                <td class="a-left"><?php echo $this->getStatus($status) ?></td>
            </tr>  
         <?php endforeach ?>  
        </tbody>
    </table>
    
    <div class="button-set">
        <input type="button" onclick="window.location='<?php echo $this->getUrl('softicket/index/add') ?>';" value="<?php echo Mage::helper('softicket')->__('New Ticket') ?>" class="input-button">
    </div>
