<!--@subject Maga Cardò@-->
<!--@vars
{"var data.contatto":"Sender Name"}
@-->
Trieste, {{var data.today}}
<br />
<b>Riepilogo richiesta:</b>
<table>
 <tr>
 	 <td style="background:#dadada;">Quantita: </td>
 	 <td style="background:#dfdfdf;">{{var data.costocardquantita}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Spessore: </td>
 	 <td style="background:#dfdfdf;">{{var data.spessorecard}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Colori Fronte: </td>
 	 <td style="background:#dfdfdf;">{{var data.colorifronte}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Colori Retro: </td>
	 <td style="background:#dfdfdf;">{{var data.coloriretro}}</td>
</tr>
     <tr>
     	 <td style="background:#dadada;">Tipo stampa: </td>
    	 <td style="background:#dfdfdf;">{{var data.tipostampa }}</td>
    </tr>
 <tr>
 	 <td style="background:#dadada;">Banda Magnetica: </td>
 	 <td style="background:#dfdfdf;">{{var data.bandamagnetica}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Chip Contatto: </td>
	 <td style="background:#dfdfdf;">{{var data.chipcontatto}}</td>
</tr>
 <tr>
 	 <td style="background:#dadada;">Chip RFID: </td>
	 <td style="background:#dfdfdf;">{{var data.chipcrfid}}</td>
</tr>
 <tr>
     <td style="background:#dadada;">Pannello Firma: </td>
     <td style="background:#dfdfdf;">{{var data.firma}}</td></tr>
 <tr>
 <tr>
     <td style="background:#dadada;">Colori Serigrafici: </td>
     <td style="background:#dfdfdf;">{{var data.coloreserigrafico}}</td>
</tr>
 <tr>
     <td style="background:#dadada;">Stampa a caldo: </td>
     <td style="background:#dfdfdf;">{{var data.stampaacaldo}}</td>
</tr>
 <tr>
     <td style="background:#dadada;">Asolatura: </td>
     <td style="background:#dfdfdf;">{{var data.asolaturacard}}</td>
</tr>
 <tr>
 	 <td style="background:#dadada;">Personalizzazione Dati Variabili: </td>
 	 <td style="background:#dfdfdf;">{{var data.persdativariabili}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Stampa Foto: </td>
 	 <td style="background:#dfdfdf;">{{var data.persstampafoto}}</td>
 </tr>
 <tr>
     <td style="background:#dadada;">Punzonatura a rilievo: </td>
     <td style="background:#dfdfdf;">{{var data.punzonatura}}</td>
</tr>
 <tr>
 	 <td style="background:#dadada;">Codifica BM: </td>
	 <td style="background:#dfdfdf;">{{var data.codificamagnetica}}</td></tr>
 <tr>
 <tr>
 	 <td style="background:#dadada;">Codifica/Lettura Chip: </td>
	 <td style="background:#dfdfdf;">{{var data.codificadatichip}}</td>
</tr>
 <tr>
 	 <td style="background:#dadada;">Costo Unitario: </td>
 	 <td style="background:#dfdfdf;">{{var data.costounitario}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Costo Totale: </td>
 	 <td style="background:#dfdfdf;">{{var data.costototale}}</td>
 </tr>

 <tr>
 	 <td style="background:#dadada;">Nome Cliente da form</td>
 	 <td style="background:#dfdfdf;">{{var data.name}} {{var data.surname}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Nome Azienda da Form</td>
 	 <td style="background:#dfdfdf;">{{var data.company}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Telefono da Form</td>
 	 <td style="background:#dfdfdf;">{{var data.phone}}</td>
 </tr>
  <tr>
 	 <td style="background:#dadada;">Email Cliente da Form: </td>
	 <td style="background:#dfdfdf;">{{var data.addresseeemail}}</td>
</tr>
  <tr>
 	 <td style="background:#dadada;">Nome Progetto: </td>
 	 <td style="background:#dfdfdf;">{{var data.nomeprogettocard}}</td>
 </tr>
 <tr>
 	 <td style="background:#dadada;">Note: </td>
 	 <td style="background:#dfdfdf;">{{var data.note}}</td>
 </tr>
 </table>
