<!--@subject Preventivo costo card su infordatadealers.com@-->
<!--@vars
{"var data.contatto":"Sender Name"}
@-->

<p>Spett. {{var data.name}} {{var data.surname}}
<br>
Trieste, {{var data.today}}
<br><br><br>
Preventivo stampa card “{{var data.nomeprogettocard}}”
<br></p>
Caratteristiche delle card:
<br><br>
<b>Caratteristiche base:</b>
<table>
	<tr>
		<td style="background:#dadada;">Quantita: </td>
		<td style="background:#dfdfdf;">{{var data.costocardquantita}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Spessore: </td>
		<td style="background:#dfdfdf;">{{var data.spessorecard}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Colori Fronte: </td>
		<td style="background:#dfdfdf;">{{var data.colorifronte}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Colori Retro: </td>
		<td style="background:#dfdfdf;">{{var data.coloriretro}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Tipo stampa: </td>
	    <td style="background:#dfdfdf;">{{var data.tipostampa }}</td>	
	 </tr>
</table>
<br><br>
<b>Opzioni:</b>
<table>
	<tr>
		<td style="background:#dadada;">Banda Magnetica: </td>
		<td style="background:#dfdfdf;">{{var data.bandamagnetica}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Chip contatto: </td>
		<td style="background:#dfdfdf;">{{var data.chipcontatto}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Chip RFID: </td>
		<td style="background:#dfdfdf;">{{var data.chipcrfid}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Pannello Firma: </td>
		<td style="background:#dfdfdf;">{{var data.firma}}</td></tr>
	<tr>
	<tr>
		<td style="background:#dadada;">Colori Serigrafici: </td>
		<td style="background:#dfdfdf;">{{var data.coloreserigrafico}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Stampa a caldo: </td>
		<td style="background:#dfdfdf;">{{var data.stampaacaldo}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Asolatura: </td>
		<td style="background:#dfdfdf;">{{var data.asolaturacard}}</td>
	</tr>
</table>
<br><br>
<b>Personalizzazioni:</b>
<table>
	<tr>
		<td style="background:#dadada;">Dati Variabili: </td>
		<td style="background:#dfdfdf;">{{var data.persdativariabili}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Stampa Foto: </td>
		<td style="background:#dfdfdf;">{{var data.persstampafoto}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Punzonatura a rilievo: </td>
		<td style="background:#dfdfdf;">{{var data.punzonatura}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Codifica BM: </td>
		<td style="background:#dfdfdf;">{{var data.codificamagnetica}}</td></tr>
	<tr>
	<tr>
		<td style="background:#dadada;">Codifica/Lettura Chip: </td>
		<td style="background:#dfdfdf;">{{var data.codificadatichip}}</td></tr>
	<tr>
		<td style="background:#dadada;">Foto: </td>
		<td style="background:#dfdfdf;">{{var data.foto}}</td>
	</tr>
</table>
<br><br>
<b>Costo stampa card:</b>
<br>
<table>
	<tr>
		<td style="background:#dadada;">Costo Unitario: </td>
		<td style="background:#dfdfdf;">{{var data.costounitario}}</td>
	</tr>
	<tr>
		<td style="background:#dadada;">Costo Totale*: </td>
		<td style="background:#dfdfdf;">{{var data.costototale}}</td>
	</tr>
 </table>
 <br>

<p>* Il costo totale esclude l\'Iva, il trasporto e tutto quanto non espressamente indicato.</p>