<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Advancedsearch
 * @version    1.3.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="aw-as-cms-pages-list">
    <?php echo $this->getPager() ?>
    <ul class="awas-cms-pages">
        <?php foreach($this->getResults() as $page) : ?>
        <li>
            <div class="title">
                <a href="<?php echo $this->getUrl($page->getData('identifier')) ?>"><?php echo $page->getData('title') ?></a>
            </div>
            <div class="content">
                <?php echo $this->getPageContent($page) ?>
                <?php if($page->getIsContentCropped()) : ?><b>...</b><?php endif ?>
            </div>
        </li>
        <?php endforeach ?>
    </ul>
    <?php echo $this->getPager() ?>
</div>