<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_list = $this->getDdtCollection($this->getRequest()->getParam('order_id')); ?>
<div class="page-title">
    <h1><?php echo $this->__('DDT') ?></h1>
</div>
<?php if(count($_list)): ?>
<table class="data-table" id="my-orders-table">
    <col width="10%" />
    <col width="10%" />
    <col width="20%" />
    <col width="20%" />
    <col width="20%" />
    <col width="10%" />
    <col width="10%" />
    <thead>
        <tr>
            <th><?php echo $this->__('Year') ?></th>
            <th><?php echo $this->__('Number') ?></th>
            <th><?php echo $this->__('Date') ?></th>
            <th><?php echo $this->__('Lettera vettura') ?></th>
            <th><span class="nobr"><?php echo $this->__('Total') ?></span></th>
            <th><?php echo $this->__("Traccia spedizione");?></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_list as $_item): ?>
        <tr>
            <td><?php echo $_item['annreg'] ?></td>
            <td><?php echo $_item['nregis'] ?></td>
            <td><span class="nobr"><?php echo $this->formatDate($_item['data_ddt'], Mage_Core_Model_Locale::FORMAT_TYPE_SHORT) ?></span></td>
            <td><?php echo $_item['lvettura'] ? $_item['lvettura'] : "Non disponibile"  ?></td>
            <td><?php echo $this->helper('core')->formatPrice($_item['totmerce']) ?></td>
            <td>
             <?php
                unset($trakingUrl);
                $_order = Mage::getModel('sales/order')->load( $this->getRequest()->getParam("order_id") );
                if ($_order->getIncrementId()) {
                    $incrementId = explode("/",$_order->getIncrementId());
                    $incrementId = $incrementId[0];
                    //$letteravettura =  $_item->getLvettura();
                    $nregis = $_item->getNregis();
                    if($nregis){
                        $glsTrackingUrl = "http://www.gls-italy.com/scripts/cgiip.exe/get_xml_track.p?locpartenza=TS&bda=".$nregis."&CodCli=634";
                        $tntTrackingUrl = "http://www.tnt.it/tracking/getXMLTrack?WT=2&ConsigNos=".$nregis."&CodCli=01590491";
                        $gls = false;
                        $tnt = false;
                        if($this->checkValidTrack($glsTrackingUrl)) {
                            $gls = true;
                        } elseif($this->checkValidTrack($tntTrackingUrl)) {
                            $tnt = true;
                        }
                        if($gls) { //preg_match("#GLS#",$_order->getShippingDescription()
                            //$trakingUrl = "http://www.gls-italy.com/scripts/cgiip.exe/get_xml_track.p?locpartenza=TS&NumSped=".$letteravettura."&CodCli=634";
                            $trakingUrl = $glsTrackingUrl;
                            $href = Mage::getUrl("tracking/track/getGlsXml", array('_secure'=>true));
                            $spedizionere = "Gls";
                        }
                        elseif($tnt){ //preg_match("#standard#",$_order->getShippingDescription())
                            $trakingUrl = $tntTrackingUrl;
                            //$trakingUrl = "http://www.tnt.it/tracking/getXMLTrack?WT=1&ConsigNos=".$letteravettura;
                            $href= Mage::getUrl("tracking/track/getTntXml", array('_secure'=>true));
                            $spedizionere = "TNT";
                        }
                    }
                }
                ?>
                <?php if (isset($trakingUrl)) echo "<p><a class='apri' href='javascript:void(0)' data-spedizioniere='".$spedizionere."'data-href='".$href."' data-urltrack='".$trakingUrl."'>".$this->__("Traccia il pacco")."</a></p>"; else echo "<p>".$this->__("Non disponibile")."</p>";?>
            </td>
            <td class="a-center">
                <span class="nobr">
                    <a href="/ariete/index/download/id/<?php echo $_item['ddt_id'] ?>/type/ddt/"><?php echo $this->__('Download PDF') ?></a>
                </span>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-orders-table');</script>
<?php else: ?>
    <p><?php echo $this->__('You have placed no invoices.'); ?></p>
<?php endif; ?>


<div class="overlay" id="overlay" style="display:none;"></div>
<div id="box">
    <h1 class="titolo_box"><?php echo $this->__("Tracking spedizione");?> <span></span></h1>
    <div style="margin: 0 auto; width: 33px;" class="loader" id="loading-mask-loader"><img src="<?php echo str_replace("index.php/","",$this->getUrl()) ?>skin/adminhtml/default/default/images/ajax-loader-tr.gif" alt="<?php echo $this->__('Loading...') ?>"/><?php echo $this->__('Loading...') ?></div>
    <table id="tracktable"></table>
    <p class="chiudi">X</p>
</div>  <!--fine box-->

<script>
jQuery.noConflict();

jQuery(document).ready(function(){
	jQuery(".apri").click(function(){
		jQuery(".titolo_box span").append(jQuery(this).data("spedizioniere"));
		jQuery('#overlay').fadeIn('fast');
        jQuery('#box').fadeIn('slow');
		var urltrak = jQuery(this).data("urltrack");
		var href = jQuery(this).data("href");
	    jQuery.ajax({
    	      type: "POST",
    	      url: href,
    	      data: {url:urltrak},
    	      dataType: "html",
    	      success: function(msg)
    	      {
        	     jQuery("#box .loader").hide();
        	     jQuery("#tracktable").append(msg);
    	      },
    	      error: function()
    	      {
    	        alert("Si è verificato un errore, si prega di riprovare");
    	      }
	    });
    });


	jQuery(".chiudi").click(function(){
    	 jQuery('#overlay').fadeOut('fast');
    	 jQuery('#box').hide();
	     jQuery("#tracktable, .titolo_box span").empty();
	     jQuery("#box .loader").show();
     });
});
</script>