<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_list = $this->getDdtCollection($this->getRequest()->getParam('order_id')); ?>
<div class="page-title">
    <h1><?php echo $this->__('My Invoices') ?></h1>
</div>
<?php if(count($_list)): ?>
<table class="data-table" id="my-orders-table">
    <col width="20%" />
    <col width="20%" />
    <col width="20%" />
    <col width="20%" />
    <col width="20%" />
    <thead>
        <tr>
            <th><?php echo $this->__('Year') ?></th>
            <th><?php echo $this->__('Number') ?></th>
            <th><?php echo $this->__('Date') ?></th>
            <th><span class="nobr"><?php echo $this->__('Total') ?></span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_list as $_item): ?>
        <tr>
            <td><?php echo $_item['annreg_fattura'] ?></td>
            <td><?php echo $_item['nregis_fattura'] ?></td>
            <td><span class="nobr"><?php echo $this->formatDate($_item['data_fattura'], Mage_Core_Model_Locale::FORMAT_TYPE_SHORT) ?></span></td>
            <td><?php echo $this->helper('core')->formatPrice($_item['totmerce']) ?></td>
            <td class="a-center">
                <span class="nobr">
                    <a href="/ariete/index/download/id/<?php echo $_item['id_fatt_ariete'] ?>/type/invoice/"><?php echo $this->__('Download PDF') ?></a>
                </span>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-orders-table');</script>
<?php else: ?>
    <p><?php echo $this->__('You have placed no invoices.'); ?></p>
<?php endif ?>
