<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Mobile
 * @version    1.6.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */

?>
<?php if(count($this->getStores())>1): ?>

<?php /* <div class="language-switcher"> */?>
    <!-- custom pages -->
    <?php $customCompany = array(
        'Inglese' => 'infordata-company',
        'Italiano' => 'azienda-infordata',
        'Spagnolo' => 'compania'
    );
    $customSupport = array(
        'Inglese' => 'support',
        'Italiano' => 'supporto',
        'Spagnolo' => 'apoyo'
    );?>
    <?php /* <label for="select-language"><?php echo $this->__('Language') ?>: </label> */ ?>
    <select id="select-language" onchange="setLocation(this.value)">
        <?php $requestUri = Mage::app()->getRequest()->getServer('REQUEST_URI'); ?>
        <?php if(in_array(trim($requestUri, '/'), $customCompany)): ?>
            <?php foreach ($this->getStores() as $_lang): ?>
                <?php if($requestUri == '') ?>
                <?php $_selected = ($_lang->getId()==$this->getCurrentStoreId()) ? 'selected="selected"' : '' ?>
                <option value="<?php echo $_lang->getBaseUrl().$customCompany[$_lang->getName()]; ?>" <?php echo $_selected ?>><?php echo $this->htmlEscape($_lang->getName()) ?></option>
            <?php endforeach; ?>
        <?php elseif(in_array(trim($requestUri, '/'), $customSupport)) : ?>
            <?php foreach ($this->getStores() as $_lang): ?>
                <?php if($requestUri == '') ?>
                <?php $_selected = ($_lang->getId()==$this->getCurrentStoreId()) ? 'selected="selected"' : '' ?>
                <option value="<?php echo $_lang->getBaseUrl().$customSupport[$_lang->getName()]; ?>" <?php echo $_selected ?>><?php echo $this->htmlEscape($_lang->getName()) ?></option>
            <?php endforeach; ?>
        <?php else : ?>
            <?php foreach ($this->getStores() as $_lang): ?>
                <?php if($requestUri == '') ?>
                <?php $_selected = ($_lang->getId()==$this->getCurrentStoreId()) ? 'selected="selected"' : '' ?>
                <option value="<?php echo $_lang->getCurrentUrl() ?>" <?php echo $_selected ?>><?php echo $this->htmlEscape($_lang->getName()) ?></option>
            <?php endforeach; ?>
        <?php endif; ?>
    </select>
    <?php echo $this->getChildHtml('switcher_links'); ?>
<?php /* </div> */ ?>
<?php else: ?>
    <?php echo $this->getChildHtml('switcher_links'); ?>
<?php endif; ?>

