<?php
    $formData = Mage::helper('M2ePro/Data_Global')->getValue('temp_data') ? Mage::helper('M2ePro/Data_Global')->getValue('temp_data') : array();

    if (!empty($formData['restock_date_value']) && strtotime($formData['restock_date_value'])) {
        $formData['restock_date_value'] = Mage::helper('M2ePro')->gmtDateToTimezone($formData['restock_date_value']);
    }

    $defaults = array(
        'marketplace_id' => -1,
        'account_id' => 0,
        'sku_mode' => Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_NOT_SET,
        'sku_custom_attribute' => '',
        'generate_sku_mode' => Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_NO,

        'general_id_mode' => Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_NOT_SET,
        'general_id_custom_attribute' => '',
        'worldwide_id_mode' => Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_NOT_SET,
        'worldwide_id_custom_attribute' => '',

        'search_by_magento_title_mode' => Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_YES,

        'condition_mode' => Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_NOT_SET,
        'condition_value' => '',
        'condition_custom_attribute' => '',
        'condition_note_mode' => Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_NOT_SET,
        'condition_note_value' => '',
        'condition_note_custom_attribute' => '',

        'handling_time_mode' => Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_NONE,
        'handling_time_value' => 1,
        'handling_time_custom_attribute' => '',

        'restock_date_mode' => Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_NONE,
        'restock_date_value' => Mage::helper('M2ePro')->getCurrentTimezoneDate(),
        'restock_date_custom_attribute' => ''
    );
    $formData = array_merge($defaults, $formData);

    $accounts = $this->getData('accounts');

    if (count($accounts) == 1) {
        $account = reset($accounts);
        $formData['account_id'] = (int)$account['id'];
    }

    $isEdit = (bool)$this->getRequest()->getParam('id');

    $docsLink = Mage::helper('M2ePro/View_Common')->getDocumentationUrl();
    $docsLink .= 'Amazon+Listing+Creation#AmazonListingCreation-ConditionIDs';
?>

<?php if (!$isEdit) { ?>
    <div id="block_notice_amazon_listing_general" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Channel Settings'); ?>">
        <?php echo Mage::helper('M2ePro')->__('This section contains Amazon Channel, Product Search, Condition and other settings.<br/>
        <ul class="list">
        <li>In the General section you have to specify Amazon Account, which listed items will be related to, and SKU.</li>
        <li>In the Search Settings you have to specify the identifiers, at which products will be searched on Amazon.</li>
        <li>The Condition section allows specifying item(s) condition and making notes to better describe the condition.</li>
        </ul>
        <b>Note:</b> <i>Not Set</i> and <i>Not Set / Not Changeable</i> options are used for the 3rd Party Listings mainly. If these options are chosen, then Amazon will be used as a master record.'); ?>
    </div>
<?php } ?>

<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    if (typeof M2ePro == 'undefined') {
        M2ePro = {};
        M2ePro.url = {};
        M2ePro.formData = {};
        M2ePro.customData = {};
        M2ePro.text = {};
    }
    //-----------------------------

</script>

<script type="text/javascript">

    // ie bug fix
    // ---------
    if (Prototype && Prototype.Browser.IE && varienLoaderHandler) {
        var loaderOnCompleteFunction = varienLoaderHandler.handler.onComplete;
        varienLoaderHandler.handler.onComplete = function() {

            loaderOnCompleteFunction();
            $$('select').each(function (el) {
                $(el).style.visibility = 'visible';
            });
        }
    }
    // ---------

    // Data for current tab
    //-----------------------------
    M2ePro.text.condition_note_length_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Must be not more than 2000 characters long.')); ?>';

    Event.observe(window, 'load', function() {

        AmazonListingChannelSettingsHandlerObj = new AmazonListingChannelSettingsHandler();
        AmazonListingChannelSettingsHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Amazon_Listing'); ?>');

        $('sku_mode').observe('change', AmazonListingChannelSettingsHandlerObj.sku_mode_change);

        $('sku_custom_attribute').observe('change', AmazonListingChannelSettingsHandlerObj.sku_custom_attribute_change);
        $F('sku_custom_attribute') && $('sku_custom_attribute').simulate('change');

        $('general_id_mode').observe('change', AmazonListingChannelSettingsHandlerObj.general_id_mode_change);
        $('worldwide_id_mode').observe('change', AmazonListingChannelSettingsHandlerObj.worldwide_id_mode_change);

        $('general_id_custom_attribute').observe('change', AmazonListingChannelSettingsHandlerObj.general_id_custom_attribute_change);
        $F('general_id_custom_attribute') && $('general_id_custom_attribute').simulate('change');

        $('worldwide_id_custom_attribute').observe('change', AmazonListingChannelSettingsHandlerObj.worldwide_id_custom_attribute_change);
        $F('worldwide_id_custom_attribute') && $('worldwide_id_custom_attribute').simulate('change');

        $('condition_mode').observe('change', AmazonListingChannelSettingsHandlerObj.condition_mode_change);
        $('condition_mode').simulate('change');

        $('condition_value').observe('change', AmazonListingChannelSettingsHandlerObj.condition_value_change);
        $F('condition_value') && $('condition_value').simulate('change');

        $('condition_custom_attribute').observe('change', AmazonListingChannelSettingsHandlerObj.condition_custom_attribute_change);
        $F('condition_custom_attribute') && $('condition_custom_attribute').simulate('change');

        $('condition_note_mode').observe('change', AmazonListingChannelSettingsHandlerObj.condition_note_mode_change);

        $('condition_note_custom_attribute').observe('change', AmazonListingChannelSettingsHandlerObj.condition_note_custom_attribute_change);
        $F('condition_note_custom_attribute') && $('condition_note_custom_attribute').simulate('change');

        $('handling_time_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.handling_time_mode_change)
            .simulate('change');

        $('restock_date_mode')
            .observe('change', AmazonListingChannelSettingsHandlerObj.restock_date_mode_change)
            .simulate('change');
    });
    //-----------------------------

</script>

<div class="entry-edit" id="magento_block_amazon_listing_channel_settings_general">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('General'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr <?php if (count($this->getData('accounts')) == 1) { ?>style="display: none;" <?php } ?>>
                    <td class="label">
                        <label for="account_id"><?php echo Mage::helper('M2ePro')->__('Amazon Account'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="account_id" name="account_id" class="required-entry">
                            <?php if (!$isEdit): ?>
                                <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->getData('accounts') as $account): ?>
                                <option value="<?php echo $account['id']; ?>" <?php if ($formData['account_id'] == $account['id']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($account['title']); ?></option>
                            <?php endforeach ?>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Amazon accounts previously added in Configuration > Accounts.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="sku_mode"><?php echo Mage::helper('M2ePro')->__('Merchant SKU') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="sku_mode" id="sku_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_NOT_SET ?>" <?php if ($formData['sku_mode'] == Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_NOT_SET) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Not Set') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_PRODUCT_ID ?>" <?php if ($formData['sku_mode'] == Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_PRODUCT_ID) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Product ID') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_DEFAULT ?>" <?php if ($formData['sku_mode'] == Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_DEFAULT) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Product SKU') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($formData['sku_mode'] == Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_CUSTOM_ATTRIBUTE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Is used to identify products, which you list, in Amazon seller central inventory.
                            <br/><b>Note:</b> If you list a product and M2E Pro find a product with the same <i>Merchant SKU</i> in Amazon inventory, they will be mapped.
                            '); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="sku_custom_attribute_container" <?php if ($formData['sku_mode'] != Ess_M2ePro_Model_Amazon_Listing::SKU_MODE_CUSTOM_ATTRIBUTE) echo ' style="display: none;"'; ?>>
                    <td class="label">
                        <label for="sku_custom_attribute"><?php echo Mage::helper('M2ePro')->__('SKU Attribute'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="sku_custom_attribute" name="sku_custom_attribute" class="M2ePro-required-when-visible">
                            <?php if ($formData['sku_custom_attribute'] == ''): ?>
                                <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->getData('attributes') as $attribute): ?>
                                <option value="<?php echo $attribute['code']; ?>" <?php if ($formData['sku_custom_attribute'] == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Choose the attribute that contains products identifier.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="generate_sku_mode"><?php echo Mage::helper('M2ePro')->__('Generate Merchant SKU') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="generate_sku_mode" id="generate_sku_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_NO; ?>" <?php if ($formData['generate_sku_mode'] == Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_NO) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('No') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_YES ?>" <?php if ($formData['generate_sku_mode'] == Ess_M2ePro_Model_Amazon_Listing::GENERATE_SKU_MODE_YES) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Yes') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('If <i>Yes</i>, then if Merchant SKU of the product you list is found in the 3rd Party or M2E Listings, another one will be automatically created and the product will be listed.
                            <br/>Has to be set to <i>Yes</i>  if you are going to use the same Magento product under different ASINs'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_amazon_listing_channel_settings_source">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Search Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <div id="block_notice_amazon_listing_general_search" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Search Products on Amazon'); ?>">
                <?php echo Mage::helper('M2ePro')->__('Before the list action, each product in listing must have existing ASIN/ISBN assigned.
                This section contains parameters for action "Assign ASIN/ISBN Automatically", which is used to search
                and assign ASIN/ISBN for a single product or in a bulk.
                <br/><br/>The parameters are used according to the following logic:

                <ul class="list">
                    <li>the product is searched by ASIN/ISBN parameter. (if specified)</li>
                    <li>if no result by ASIN/ISBN parameter, then UPC/EAN search is performed. (if specified)</li>
                    <li>if no result by UPC/EAN parameter, then additional search by Magento product name is performed. (if enabled)</li>
                </ul>
                <b>Note:</b> These settings are also used in auto list action.
                '); ?>
            </div>

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="general_id_mode"><?php echo Mage::helper('M2ePro')->__('ASIN / ISBN') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="general_id_mode" id="general_id_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_NOT_SET ?>" <?php if ($formData['general_id_mode'] == Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_NOT_SET) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Not Set') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($formData['general_id_mode'] == Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_CUSTOM_ATTRIBUTE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute') ?></option>
                        </select>
                    </td>
                </tr>

                <tr id="general_id_custom_attribute_container" <?php if ($formData['general_id_mode'] != Ess_M2ePro_Model_Amazon_Listing::GENERAL_ID_MODE_CUSTOM_ATTRIBUTE) echo ' style="display: none;"'; ?>>
                    <td class="label">
                        <label for="general_id_custom_attribute"><?php echo Mage::helper('M2ePro')->__('ASIN / ISBN Attribute'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="general_id_custom_attribute" name="general_id_custom_attribute">
                            <?php if ($formData['general_id_custom_attribute'] == ''): ?>
                                <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->getData('attributes') as $attribute): ?>
                                <option value="<?php echo $attribute['code']; ?>" <?php if ($formData['general_id_custom_attribute'] == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Choose the attribute that contains products identifier.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="worldwide_id_mode"><?php echo Mage::helper('M2ePro')->__('UPC / EAN') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="worldwide_id_mode" id="worldwide_id_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_NOT_SET ?>" <?php if ($formData['worldwide_id_mode'] == Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_NOT_SET) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Not Set') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($formData['worldwide_id_mode'] == Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_CUSTOM_ATTRIBUTE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute') ?></option>
                        </select>
                    </td>
                </tr>

                <tr id="worldwide_id_custom_attribute_container" <?php if ($formData['worldwide_id_mode'] != Ess_M2ePro_Model_Amazon_Listing::WORLDWIDE_ID_MODE_CUSTOM_ATTRIBUTE) echo ' style="display: none;"'; ?>>
                    <td class="label">
                        <label for="worldwide_id_custom_attribute"><?php echo Mage::helper('M2ePro')->__('UPC / EAN Attribute'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="worldwide_id_custom_attribute" name="worldwide_id_custom_attribute">
                            <?php if ($formData['worldwide_id_custom_attribute'] == ''): ?>
                            <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->getData('attributes') as $attribute): ?>
                            <option value="<?php echo $attribute['code']; ?>" <?php if ($formData['worldwide_id_custom_attribute'] == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Choose the attribute that contains products identifier.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="search_by_magento_title_mode"><?php echo Mage::helper('M2ePro')->__('Additional Search by Product Name'); ?>:
                    </td>
                    <td class="value">
                        <select id="search_by_magento_title_mode" name="search_by_magento_title_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_NONE ?>" <?php if ($formData['search_by_magento_title_mode'] == Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Disable') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_YES ?>" <?php if ($formData['search_by_magento_title_mode'] == Ess_M2ePro_Model_Amazon_Listing::SEARCH_BY_MAGENTO_TITLE_MODE_YES) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Enable') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('If no results are found by ASIN/ISBN and UPC/EAN search criteria, the additional search will be performed by Magento Product Name.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>

<div class="entry-edit" id="magento_block_amazon_listing_channel_settings_additional">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Additional Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="handling_time_mode"><?php echo Mage::helper('M2ePro')->__('Handling Time Mode'); ?>:</label>
                    </td>
                    <td class="value">
                        <select id="handling_time_mode" name="handling_time_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_NONE ?>" <?php if ($formData['handling_time_mode'] == Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_RECOMMENDED ?>" <?php if ($formData['handling_time_mode'] == Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_RECOMMENDED) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Recommended Value') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($formData['handling_time_mode'] == Ess_M2ePro_Model_Amazon_Listing::HANDLING_TIME_MODE_CUSTOM_ATTRIBUTE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Time that is needed to prepare an item to be shipped.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="handling_time_value_tr">
                    <td class="label">
                        <label for="handling_time_value"><?php echo Mage::helper('M2ePro')->__('Recommended Value'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="handling_time_value" name="handling_time_value" class="select">
                            <?php for ($i=1;$i<=30;$i++) { ?>
                            <option value="<?php echo $i; ?>" <?php if ($formData['handling_time_value'] == $i) { ?>selected="selected"<?php } ?>><?php echo $i; ?> day(s)</option>
                            <?php } ?>
                        </select>
                    </td>
                </tr>

                <tr id="handling_time_custom_attribute_tr">
                    <td class="label">
                        <label for="handling_time_custom_attribute"><?php echo Mage::helper('M2ePro')->__('Custom Attribute'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <select id="handling_time_custom_attribute" name="handling_time_custom_attribute" class="M2ePro-required-when-visible">
                            <?php if ($formData['handling_time_custom_attribute'] == ''): ?>
                            <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->getData('attributes') as $attribute): ?>
                            <option value="<?php echo $attribute['code']; ?>" <?php if ($formData['handling_time_custom_attribute'] == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Attribute must contain only numeric value from 1 to 30.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="restock_date_mode"><?php echo Mage::helper('M2ePro')->__('Restock Date Mode'); ?>:
                    </td>
                    <td class="value">
                        <select id="restock_date_mode" name="restock_date_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_NONE ?>" <?php if ($formData['restock_date_mode'] == Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_CUSTOM_VALUE ?>" <?php if ($formData['restock_date_mode'] == Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_CUSTOM_VALUE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Value') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($formData['restock_date_mode'] == Ess_M2ePro_Model_Amazon_Listing::RESTOCK_DATE_MODE_CUSTOM_ATTRIBUTE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('The date you will be able to ship any back-ordered items to a customer.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="restock_date_value_tr">
                    <td class="label">
                        <label for="restock_date_value"><?php echo Mage::helper('M2ePro')->__('Restock Date Custom Value'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="restock_date_value" name="restock_date_value" value="<?php echo $formData['restock_date_value']; ?>" type="text" class="input-text M2ePro-required-when-visible M2ePro-input-datetime" />
                        <script type="text/javascript">
                            //<![CDATA[
                            Calendar.setup({
                                inputField: "restock_date_value",
                                ifFormat: "%Y-%m-%e %H:%M:%S",
                                showsTime: true,
                                button: "restock_date",
                                align: "Bl",
                                singleClick : true
                            });
                            //]]>
                        </script>
                    </td>
                </tr>

                <tr id="restock_date_custom_attribute_tr">
                    <td class="label">
                        <label for="restock_date_custom_attribute"><?php echo Mage::helper('M2ePro')->__('Custom Attribute'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <select id="restock_date_custom_attribute" name="restock_date_custom_attribute" class="M2ePro-required-when-visible">
                            <?php if ($formData['restock_date_custom_attribute'] == ''): ?>
                            <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->getData('attributes') as $attribute): ?>
                            <option value="<?php echo $attribute['code']; ?>" <?php if ($formData['restock_date_custom_attribute'] == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_amazon_listing_channel_settings_condition">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Condition Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="condition_mode"><?php echo Mage::helper('M2ePro')->__('Condition') ?>: </label>
                    </td>
                    <td class="value">
                        <select name="condition_mode" id="condition_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_NOT_SET ?>" <?php if ($formData['condition_mode'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_NOT_SET) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Not Set / Not Changeable') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT ?>" <?php if ($formData['condition_mode'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Recommended Value') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($formData['condition_mode'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_CUSTOM_ATTRIBUTE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Condition of the product(s) you want to list on Amazon.<br/>
                            <b>Note:</b> <i>Not Set / Not Changeable</i>&rlm;&rlm; is used for the 3rd Party Listings mainly. If this option is chosen, Amazon will be used as a master record.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="condition_value_tr" <?php if ($formData['condition_mode'] != Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_DEFAULT): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="condition_value"><?php echo Mage::helper('M2ePro')->__('Condition Value') ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <select name="condition_value" id="condition_value" class="M2ePro-required-when-visible">
                            <?php if ($formData['condition_value'] == ''): ?>
                                <option class="empty"></option>
                            <?php endif ?>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_NEW ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_NEW) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('New') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_LIKE_NEW ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_LIKE_NEW) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Like New') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_VERY_GOOD ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_VERY_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Very Good') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_GOOD ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Good') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_ACCEPTABLE ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_USED_ACCEPTABLE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Used - Acceptable') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_LIKE_NEW ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_LIKE_NEW) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Collectible - Like New') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_VERY_GOOD ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_VERY_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Collectible - Very Good') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_GOOD ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_GOOD) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Collectible - Good') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_ACCEPTABLE ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_COLLECTIBLE_ACCEPTABLE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Collectible - Acceptable') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_REFURBISHED ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_REFURBISHED) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Refurbished') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_CLUB ?>" <?php if ($formData['condition_value'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_CLUB) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Club') ?></option>
                        </select>
                    </td>
                </tr>

                <tr id="condition_custom_attribute_tr" <?php if ($formData['condition_mode'] != Ess_M2ePro_Model_Amazon_Listing::CONDITION_MODE_CUSTOM_ATTRIBUTE): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="condition_custom_attribute"><?php echo Mage::helper('M2ePro')->__('Condition Attribute') ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <select id="condition_custom_attribute" name="condition_custom_attribute" class="M2ePro-required-when-visible">
                            <?php if ($formData['condition_custom_attribute'] == ''): ?>
                                <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->getData('attributes') as $attribute): ?>
                                <option value="<?php echo $attribute['code']; ?>" <?php if ($formData['condition_custom_attribute'] == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>
                        <p class="note">
                            <span>
                                <?php echo Mage::helper('M2ePro')->__('Choose the attribute that contains Condition <a href="%s" target="_blank">identifier</a>.', $docsLink); ?>
                            </span>
                        </p>
                    </td>
                </tr>

                <tr id="condition_note_mode_tr">
                    <td class="label">
                        <label for="condition_note_mode"><?php echo Mage::helper('M2ePro')->__('Condition Note') ?>:</label>
                    </td>
                    <td class="value">
                        <select name="condition_note_mode" id="condition_note_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_NOT_SET ?>" <?php if ($formData['condition_note_mode'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_NOT_SET) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Not Set / Not Changeable') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_NONE ?>" <?php if ($formData['condition_note_mode'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_NONE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('None') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE ?>" <?php if ($formData['condition_note_mode'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Value') ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_ATTRIBUTE ?>" <?php if ($formData['condition_note_mode'] == Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_ATTRIBUTE) echo 'selected="selected"' ?>><?php echo Mage::helper('M2ePro')->__('Custom Attribute') ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Short description of item(s) condition.<br/>
                            <b>Note:</b> <i>Not Set / Not Changeable</i>&rlm;&rlm; is used for the 3rd Party Listings mainly. If this option is chosen, Amazon will be used as a master record.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="condition_note_value_tr" <?php if ($formData['condition_note_mode'] != Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_VALUE): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="condition_note_value"><?php echo Mage::helper('M2ePro')->__('Condition Note Text') ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <textarea name="condition_note_value" id="condition_note_value" class="M2ePro-required-when-visible M2ePro-validate-condition-note-length"><?php echo Mage::helper('M2ePro')->escapeHtml($formData['condition_note_value']) ?></textarea>
                    </td>
                </tr>

                <tr id="condition_note_custom_attribute_tr" <?php if ($formData['condition_note_mode'] != Ess_M2ePro_Model_Amazon_Listing::CONDITION_NOTE_MODE_CUSTOM_ATTRIBUTE): ?>style="display: none;"<?php endif; ?>>
                    <td class="label">
                        <label for="condition_note_custom_attribute"><?php echo Mage::helper('M2ePro')->__('Condition Note Attribute') ?>: <span class="required">*</span></label>
                    </td>
                      <td class="value">
                        <select name="condition_note_custom_attribute" id="condition_note_custom_attribute" class="M2ePro-required-when-visible">
                            <?php if ($formData['condition_note_custom_attribute'] == ''): ?>
                                <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->getData('attributes') as $attribute): ?>
                                <option value="<?php echo $attribute['code']; ?>" <?php if ($formData['condition_note_custom_attribute'] == $attribute['code']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?></option>
                            <?php endforeach ?>
                        </select>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>