<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Followupemail
 * @version    3.5.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php

if(false) {
if(!Mage::getStoreConfig('followupemail/general/displaysubscribebuttononcheckoutpage')) return;

$_title = Mage::helper('followupemail')->__('Sign Up for Newsletter');

if(!$isSubscribed = $this->getIsSubscribed()): ?>
<form action="" id="checkout-subscribe" onsubmit="return false;">
    <div class="checkout-subscribe" style="padding-left: 4px">
        <input type="checkbox" id="subscribe-newsletter" name="subscribe-newsletter" value="1" onclick="setSubscribed();" title="<?php echo $_title ?>" <?php echo $isSubscribed ? ' checked="checked"' : '' ?> />
        <label for="subscribe-newsletter"><?php echo $_title ?></label>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var fIsSubscribed = document.createElement('input');
    fIsSubscribed.type = 'hidden';
    fIsSubscribed.name = 'newsletter-subscribed';
    fIsSubscribed.id = 'newsletter-subscribed';
    fIsSubscribed.value = '<?php echo (int)$isSubscribed ?>';
    $('co-payment-form').appendChild(fIsSubscribed);

    function setSubscribed(){
        $('co-payment-form').elements['newsletter-subscribed'].value = $('subscribe-newsletter').checked ? 1 : 0;
    }

    enableSetSubscribed = function(event){
        $('newsletter-subscribed').disabled = false;
    }

    Event.observe($('opc-payment'), 'click', enableSetSubscribed);
//]]>
</script>
<?php endif; ?>
<?php } ?>
