<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.2.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><? if (Mage::getStoreConfig('blog/blog/userte')): ?>
    <script src="<?php echo $this->getSkinUrl('') ?>aw_blog/js/tiny_mce/tiny_mce.js"></script>
    <script src="<?php echo $this->getSkinUrl('') ?>aw_blog/js/init_rte.js"></script>

    <script>
        // Init rte
        AW_BlogIntId = setInterval(
        function(){
            if(typeof tinyMCE != 'undefined' && $('anchor-content')){
                initRTE();
                clearInterval(AW_BlogIntId);
            }
        }
        ,500)
    </script>
<? endif; ?>
