<?php
	$news = $this->getLastNews(3);
	if ($news):
		if (!function_exists('trimtodot')){
			function trimtodot($txt, $limit=120){
				$txt = strip_tags($txt);
				$txt = trim($txt, " \t\n\r\0\x0B\"'");
				$txt = str_replace('  ', ' ', $txt);
				$txt = explode(' ', $txt);
				$str = '';
				foreach($txt as $c){
					if (strlen($str) > $limit) {
						$str .= ' ...';
						break;
					}
					else {
						$str .= ' '.$c;
					}
				}
				return $str;
			}
		}
?>
	

<h2 class="tit_home"><?php echo $this->__('Ultime News')?></h2>
    
	<div class="block-content">

	<?php $_iterator = 0;?>
		<?php foreach ($news as $_news):?>
			<?php //if($this->getCurNewsPage() == 'News'):?>
			<div class="news_preview <?php if(++$_iterator%2==0):?>odd<?php else:?>even<?php endif;?> <?php if($_iterator == 2) echo " last "; ?>">
                
				<?php if ($_news['file_preview']) { ?>
				<div class="image"><a href="<?php echo $this->getBaseUrl()?>news/show/<?php echo $_news['url']?>.html">
					<img src="/media/news/<?php echo $_news['file_preview']?>" height="70"/>
				</a></div>
                <?php } ?>
				<div class="date"><?php echo date('d/m/Y', strtotime($_news['time']));?></div>
                <div class="title"><a href="<?php echo $this->getBaseUrl()?>news/show/<?php echo $_news['url']?>.html"><?php
					echo trimtodot($_news['title'], 80);
				?></a></div>
                
				
				
			
                <div class="desc"><?php echo trimtodot($_news['short_desc'], 130);?></div>
                <div class="stabilizzatore"></div>
                
			</div>
			<?php //endif;?>
		<?php endforeach;?>
	</div>

	<div class="stabilizzatore"></div>
	
<?php endif;?>
