<?php 
$catrules = Mage::getModel('catalogrule/rule')->getCollection();
$prodids = array();
$randomids = array();
$rulemodel = Mage::getResourceModel('catalogrule/rule');
$todayDate = date('Y-m-d');
foreach ($catrules as $cr) {
	if ($cr->getIsActive() && $todayDate <= $cr->getToDate() && $todayDate >= $cr->getFromDate()) {
		$prodids = array_merge($prodids, $rulemodel->getRuleProductIds($cr->getId()));
	}
}
if (count($prodids)) {
	if (count($prodids) > 4) {
		$randomkeys = array_rand($prodids, 4);
	} else {
		$randomkeys = $prodids;
	}
	foreach ($randomkeys as $rk) {
		$randomids[] = $prodids[$rk];
	}
	$catalog = Mage::getModel('catalog/product');
}

//$_offerte = $this->getOfferte(); 
$_helper = $this->helper('catalog/output');
?>


<?php if (count($randomids)): ?>
    <div class="wrapperlastofferta box_home_generic_widget">
        <h2 class="tit_home"><? echo $this->__("Ultime offerte");?></h2>
                
        <ul class="altre_offerte">
			<?php foreach ($randomids as $r): ?>
				<?php $o = $catalog->load($r);?>
                <li>
                
                    <h3 class="product-name"><a class="tit_thumbs" href="<?php echo Mage::helper('dotcom_catalog')->getUrlProdotto($o) ?>" title="<?php echo $this->stripTags($o->getName(), null, true) ?>"><?php echo $_helper->productAttribute($o, $o->getName(), 'name') ?></a></h3>
                    <a class="img_thumbs" href="<?php echo Mage::helper('dotcom_catalog')->getUrlProdotto($o) ?>" title="<?php echo $this->stripTags($o->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($o, 'small_image')->resize(100); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($o, 'small_image'), null, true) ?>" /></a>
                </li>
            <?php endforeach;?>
        </ul>
        
    </div>
<?php endif; ?>