<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="<?php echo $this->getHeaderWidth() ?>"><?php echo $this->getHeaderHtml() ?></td>
            <td class="form-buttons"></td>
        </tr>
    </table>
</div>

<?php echo $this->getChildHtml('view_header'); ?>

<div class="block_notices_module" title="" subtitle="" collapseable="no" hideblock="no" always_show="yes">

    <?php echo Mage::helper('M2ePro')->__('The products were successfully added to the M2E Listing.<br/>
    You can Review them in the Listing or Start listing on eBay right now.<br><br>
    <b>Note:</b> The products without Primary eBay Category specified will not be listed. You can specify it later in the listing settings.') ?>

    <div style="margin-top: 10px">
        <?php echo $this->getChildHtml('review'); ?>
        &nbsp;
        <?php echo $this->getChildHtml('save_and_list'); ?>
    </div>

</div>

<script type="text/javascript">

    var init = function() {
    };

    Event.observe(window,'load',init);
</script>
