<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.4.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2011 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php $parentItem = $this->getItem() ?>
<?php $items = $parentItem->getChildrenItems() ?>
<?php $_helper = Mage::helper('awrma') ?>
<?php $_action = $this->getRequest()->getActionName() ?>
<?php if($this->getItemOptions() || $parentItem->getDescription() || $this->helper('giftmessage/message')->getIsMessagesAvailable('order_item', $parentItem) && $parentItem->getGiftMessageId()): ?>
    <?php $_showlastRow = true ?>
<?php else: ?>
    <?php $_showlastRow = false ?>
<?php endif; ?>
<?php
    $bundle = array(
        'id'        => $parentItem->getId(),
        'name'      => $this->htmlEscape($parentItem->getName()),
        'view_only'  => $parentItem->getData('awrma_view_only'),
        'qty'       => $parentItem->getData('awrma_qty'),
        'count'     => $_helper->getItemCount($parentItem),
        'maxcount'  => $_helper->getItemMaxCount($parentItem)
    );
    foreach ($items as $_item) {
        if ($_item->getData('awrma_qty') || $_action == 'getitemsfororder') {
            $attributes = $this->getSelectionAttributes($_item);
            $bundle['item_options'][$attributes['option_id']]['option_label']   = $attributes['option_label'];
            $bundle['item_options'][$attributes['option_id']]['items'][$_item->getId()] = array(
                'name'  => $this->htmlEscape($_item->getName()),
                'sku'   => $this->htmlEscape(Mage::helper('core/string')->splitInjection($_item->getSku())),
                'view_only'  => $_item->getData('awrma_view_only'),
                'qty'       => $_item->getData('awrma_qty'),           
                'count'     => $_helper->getItemCount($_item),
                'maxcount'  => $_helper->getItemMaxCount($_item),
                'order_id'  => $_item->getData('order_id')
            );
        }
    }
    if ($_options = $this->getItemOptions()) {
        $bundle['options'] = $_options;
    }
?>
<tr id="order-item-row-<?php echo $bundle['id'] ?>" class="border">
    <td><h3 class="product-name"><?php echo $bundle['name'];?></h3></td>
    <td>&nbsp;</td>
    <td class="nobr">
        <span>
            <input type="hidden" name="orderitems[<?php echo $bundle['id'] ?>]" id="orderitem-count<?php echo $bundle['id'] ?>" value="<?php echo $bundle['count'] ?>" class="awrma-items-count" />
            <input type="hidden" id="orderitem-count<?php echo $bundle['id'] ?>-maxcount" value="<?php echo max($bundle['maxcount'], $bundle['count']); ?>" />
        </span>
    </td>
    <?php if($_action != 'view' && $_action != 'printform') :?>
        <td>&nbsp;</td>
    <?php endif; ?>    
</tr>
<?php foreach($bundle['item_options'] as $_optionId => $_option) : ?>
    <tr id="bundle-option-row-<?php echo $_optionId?>">
        <td><div class="option-label"><?php echo $_option['option_label'];?></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>    
        <?php if($_action != 'view' && $_action != 'printform') : ?>
            <td>&nbsp;</td>
        <?php endif; ?>        
    </tr>
    <?php foreach($_option['items'] as $_itemId => $_item) : ?>
        <tr id="bundle-item-row-<?php echo $_itemId ?>">
            <td><div class="option-value"><?php echo $_item['name'];?></div></td>
            <td><?php echo $_item['sku'];?></td>
            <td class="a-right">
                <span>
                    <?php if (!$_item['view_only'] && Mage::helper('awrma/config')->getAllowPerOrderRMA()) : ?>
                        <?php if ($_item['count']) : ?>

                            <input type="text" name="orderitems[<?php echo $_itemId ?>]" id="orderitem-count<?php echo $_itemId ?>" value="<?php echo $_item['count'] ?>" class="awrma-items-count" />
                            <input type="hidden" id="orderitem-count<?php echo $_itemId ?>-maxcount" value="<?php echo max($_item['maxcount'], $_item['count']); ?>" />
                        <?php else: ?>
                            <?php echo $_item['count'] ?><br />
                        <?php endif; ?>
                    <?php else : ?>
                        <?php echo $_item['count'] ?><br />
                        <input type="hidden" name="orderitems[<?php echo $_itemId ?>]" id="orderitem-count<?php echo $_itemId ?>" value="<?php echo $_item['count'] ?>" class="awrma-items-count" />
                        <input type="hidden" id="orderitem-count<?php echo $_itemId ?>-maxcount" value="<?php echo max($_item['maxcount'], $_item['count']); ?>" />
                    <?php endif; ?>                    
                </span>
                <?php
                $_rma = Mage::registry('awrma-request');

                $_currentRmaId = null;
                if ($_rma && $_rma->getTextId()) {
                    $_currentRmaId = $_rma->getId();
                }

                $allItems = $_helper->getAllRmaItems($_item['order_id']);

                $_anotherRma = array();
                if (isset($allItems[$_itemId]) && is_array($allItems[$_itemId])) {
                    foreach ($allItems[$_itemId] as $item) {
                        $_rma = $item['rma'];
                        if ($_rma->getId() !== $_currentRmaId) {
                            $_anotherRma[] = $_rma;
                        }
                    }
                }
                ?>
                <?php if ($_anotherRma): ?>
                    <span><?php echo $this->__('Another RMA for this product:'); ?> </span>
                    <ul>
                        <?php foreach ($_anotherRma as $_rma) : ?>
                            <li><a href="<?php echo $_rma->getAdminUrl(); ?>"><?php echo $_rma->getTextId(); ?></a></li>
                        <?php endforeach; ?>
                    </ul>

                <?php endif; ?>                
            </td>
            <?php if (!$_item['view_only'] && Mage::helper('awrma/config')->getAllowPerOrderRMA()) : ?>
                <td class="a-center">
                    <a class="btn-remove2 parent-bundle-option-row-<?php echo $_optionId?> parent-order-item-row-<?php echo $bundle['id']?>" 
                    title="Remove item" 
                    href="#" 
                    onclick="ordersControl.removeItem('bundle-item-row-<?php echo $_itemId ?> parent-bundle-option-row-<?php echo $_optionId?> parent-order-item-row-<?php echo $bundle['id']?>');return false;">Remove item
                    </a>
                </td>
            <?php endif; ?>            
        </tr>
    <?php endforeach;?>
<?php endforeach; ?>
<?php if ($_showlastRow): ?>        
        <tr id="order-item-row-<?php echo $bundle['id'] ?>-options">
            <td>
                <?php if($bundle['options']): ?>
                <dl class="item-options">
                <?php foreach ($bundle['options'] as $_option) : ?>
                    <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
                    <?php if (!$this->getPrintStatus()): ?>
                        <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                        <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>>
                            <?php echo $_formatedOptionValue['value'] ?>
                            <?php if (isset($_formatedOptionValue['full_view'])): ?>
                            <div class="truncated_full_value">
                                <dl class="item-options">
                                    <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
                                    <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
                                </dl>
                            </div>
                            <?php endif; ?>
                        </dd>
                    <?php else: ?>
                        <dd><?php echo $this->htmlEscape( (isset($_option['print_value']) ? $_option['print_value'] : $_option['value']) ) ?></dd>
                    <?php endif; ?>
                <?php endforeach; ?>
                </dl>
                <?php endif; ?>
                <?php echo $this->htmlEscape($parentItem->getDescription()) ?>
                <?php if($this->helper('giftmessage/message')->getIsMessagesAvailable('order_item', $parentItem) && $parentItem->getGiftMessageId()): ?>
                    <a href="#" id="order-item-gift-message-link-<?php echo $parentItem->getId() ?>" class="gift-message-link" onclick="return giftMessageToogle('<?php echo $parentItem->getId() ?>')"><?php echo Mage::helper('sales')->__('Gift Message') ?></a>
                <?php endif; ?>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>  
            <?php if ($_action != 'view' && $_action != 'printform') : ?>
                <td>&nbsp;</td>
            <?php endif; ?>            
        </tr>  
<?php endif; ?>         