<script type="text/javascript" src="<?php echo $this->getJsUrl('M2ePro/VideoTutorialHandler.js'); ?>"></script>

<script type="text/javascript">

    var isTutorialFinished = false;

    M2eProAmazonWelcomeTutorialHandlerObj = new VideoTutorialHandler(
        'amazon_welcome_video_tutorial_pop_up',
        '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('M2E Pro - Amazon/Magento Integration : Configuration Wizard')); ?>',
        function() {}
    );

</script>

<div id="block_notice_wizard_welcome_content" class="block_notices_module" title="" subtitle="" collapseable="no" hideblock="no" always_show="yes">
    <table>

        <tr>

            <td>
                <a id="tutorial_image_container" style="display: block;" href="javascript:" onclick="isTutorialFinished = true; M2eProAmazonWelcomeTutorialHandlerObj.openPopUp()">
                    <img src="<?php echo $this->getSkinUrl('M2ePro/images/amazon-video-thumbnail.png'); ?>" alt="">
                </a>
                <h4 style="text-align: center">Amazon Configuration (5 min. video)</h4>
            </td>

            <td style="padding: 10px  0 0 30px">

                <h3>
                    <?php echo Mage::helper('M2ePro')->__('With M2E, listing your Magento inventory on Amazon couldn\'t be easier.'); ?>
                </h3>
                <br/>
                <p>
                    <?php
                    echo Mage::helper('M2ePro')->__(
                        'This part of extension facilitates quick and simple listings creation as well as management of product listings.<br/>
                        Also, it is possible to import and map existing items (created directly on Amazon or with the help of 3rd party tools) to Magento products. <br/>
                        The M2E Pro fully supports multiple Amazon accounts and multiple Magento stores. <br/><br/>
                        <u>Among the features:</u> <br/>
                        <ul class="list">
                        <li>Ability to import Amazon products into Magento catalogue for Amazon order, if such product is not found in exiting catalogue;</li>
                        <li>Ability to import of Amazon orders and many other tasks which would significantly reduce a time required for listings maintenance;</li>
                        <li>Ability to set tax settings for Magento order based on Amazon order (Amazon Order Tax Settings);</li>
                        <li>Automated and manual mapping of 3rd party (existing) products to Magento products catalogue;</li>
                        <li>Ability to move 3rd party (existing, mapped to Magento) products to existing M2E Pro listings;</li>
                        <li>Automated synchronization (inventory, pricing);</li>
                        <li>Automatic and Manual "ASIN Lookup" features.</li>
                        </ul>'
                    ); ?>
                </p>
                <br/>
                <div><?php echo $this->getChildHtml('start_wizard_button'); ?></div>
            </td>

        </tr>

    </table>
</div>

<div id="amazon_welcome_video_tutorial_pop_up" style="display: none;">
    <div class="player_container" style="margin: 20px 5px; ">
        <object width="853" height="480"><param name="movie" value="http://www.youtube.com/v/VDeoadfO2gA?version=3&amp;hl=ru_RU&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/VDeoadfO2gA?version=3&amp;hl=ru_RU&amp;rel=0" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>
</div>