<div class="box-account box-recent">
<?php $_orders = $this->getOrders(); ?>
    <div class="box-head">
        <h2><?php echo $this->__('Recent Orders') ?></h2>
        <h2><a href="<?php echo Mage::getBaseUrl()."ariete/index/invoice" ?>"><?php echo $this->__("Fatture");?></a></h2>
        <h2><a href="<?php echo Mage::getBaseUrl()."ariete/index/ddt" ?>"><?php echo $this->__("Spedizioni");?></h2>
        <?php if( sizeof($_orders->getItems()) > 0 ): ?><a href="<?php echo $this->getUrl('sales/order/history') ?>"><?php echo $this->__('View All') ?></a><?php endif; ?>
    </div>
<?php if( sizeof($_orders->getItems()) > 0 ): ?>
    <table class="data-table" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <col width="1" />
        <thead>
            <tr>
                <th><?php echo $this->__('Order #') ?></th>
                <th><?php echo $this->__('Date') ?></th>
                <th class="consegna"><span class="nobr"><?php echo $this->__('Data spedizione <br/>prevista') ?></span></th>
                <th><?php echo $this->__('Ship To') ?></th>
                <th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
                <th><?php echo $this->__('Status') ?></th>
                <th>&nbsp;</th>
                <th><?php echo $this->__("Traccia <br/>spedizione");?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($_orders as $_order):
                $consegna = "";
                $dataconsegna = array();
                $datacons = "";
                $items = $_order->getAllItems();
                foreach ($items as $item){
                    $datacons = $item->getDataConsegna();
                    if(!empty($datacons)){
                        $dataconsegna[] = $datacons;
                    }
                }
                if (!empty($dataconsegna)){
                    $rangeinf = min($dataconsegna);
                    $rangesup = max($dataconsegna);
                    if($rangeinf == $rangesup){
                        $consegna = $this->formatDate($rangeinf);
                    }
                    else {
                        $consegna = $this->formatDate($rangeinf)." - ".$this->formatDate($rangesup);
                    }
                }
            ?>
                <tr>
                    <td><?php echo $_order->getRealOrderId() ?></td>
                    <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
                    <td class="consegna"><span class="nobr"><?php echo $consegna ?></span></td>
                    <td><?php echo $_order->getShippingAddress() ? $this->htmlEscape($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                    <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
                    <td><em><?php echo $_order->getStatusLabel() ?></em></td>
                    <td class="a-center">
                        <span class="nobr">
                        <a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a><br/>
                        <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                            <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
                        <?php endif ?>

                        <?php if ($_order->getStatus() == 'pending_payment' || $_order->getStatus() == 'pending_paypal') : ?>
	                    	<span class="separator">|</span> <a href="<?php echo Mage::getUrl('pagaora', array('order' => $_order->getId())); ?>" class="link-pagaora"><?php echo $this->__('Paga ora') ?></a>
	                    <?php endif ?>
                        </span>
                    </td>
                    <td>
                    <?php
                        unset($trakingUrl);
                        if ($_order->getIncrementId()) {
                            $incrementId = explode("/",$_order->getIncrementId());
                            $incrementId = $incrementId[0];
                            $ddtCollection = Mage::getModel('arieteinvoices/invoice')->getCollection()->filterByOrderId($_order->getId());
                            if(count($ddtCollection)) {
                                $nregis = $ddtCollection->getFirstItem()->getNregis();
                                $glsTrackingUrl = "http://www.gls-italy.com/scripts/cgiip.exe/get_xml_track.p?locpartenza=TS&bda=".$nregis."&CodCli=634";
                                $tntTrackingUrl = "http://www.tnt.it/tracking/getXMLTrack?WT=2&ConsigNos=".$nregis."&CodCli=01590491";
                                $gls = false;
                                $tnt = false;
                                if($this->checkValidTrack($glsTrackingUrl)) {
                                    $gls = true;
                                } elseif($this->checkValidTrack($tntTrackingUrl)) {
                                    $tnt = true;
                                }
                                if($gls) { //preg_match("#GLS#",$_order->getShippingDescription()
                                //$trakingUrl = "http://www.gls-italy.com/scripts/cgiip.exe/get_xml_track.p?locpartenza=TS&NumSped=".$letteravettura."&CodCli=634";
                                $trakingUrl = $glsTrackingUrl;
                                $href = Mage::getUrl("tracking/track/getGlsXml", array('_secure'=>true));
                                $spedizionere = "Gls";
                                }
                                elseif($tnt){ //preg_match("#standard#",$_order->getShippingDescription())
                                 $trakingUrl = $tntTrackingUrl;
                                 //$trakingUrl = "http://www.tnt.it/tracking/getXMLTrack?WT=1&ConsigNos=".$letteravettura;
                                 $href= Mage::getUrl("tracking/track/getTntXml", array('_secure'=>true));
                                 $spedizionere = "TNT";
                                }
                            }
                        }
                        ?>
                        <?php
                        if (isset($trakingUrl)) {
                            if (count($ddtCollection)){
                                if(count($ddtCollection) == 1){
                                    echo "<p><a class='apri' href='javascript:void(0)' data-spedizioniere='".$spedizionere."'data-href='".$href."' data-urltrack='".$trakingUrl."'>".$this->__("Traccia il pacco")."</a></p>";
                                }
                                else{
                                    echo "<p><a href='".Mage::getUrl('sales/order/shipment', array('order_id' => $_order->getId()))."'>".$this->__("Traccia il pacco")."</a></p>";
                                }
                            }
                            else {
                                echo "<p>Non ancora spedito</p>";
                            }

                        }
                        else {
                            echo "<p>".$this->__("Non disponibile")."</p>";
                        }
                        ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('my-orders-table')</script>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif; ?>
</div>
<div class="overlay" id="overlay" style="display:none;"></div>
<div id="box">
    <h1 class="titolo_box"><?php echo $this->__("Tracking spedizione");?> <span></span></h1>
    <div style="margin: 0 auto; width: 33px;" class="loader" id="loading-mask-loader"><img src="<?php echo str_replace("index.php/","",$this->getUrl()) ?>skin/adminhtml/default/default/images/ajax-loader-tr.gif" alt="<?php echo $this->__('Loading...') ?>"/><?php echo $this->__('Loading...') ?></div>
    <table id="tracktable"></table>
    <p class="chiudi">X</p>
</div>  <!--fine box-->

<script>
jQuery.noConflict();

jQuery(document).ready(function(){
	jQuery(".apri").click(function(){
		jQuery(".titolo_box span").append(jQuery(this).data("spedizioniere"));
		jQuery('#overlay').fadeIn('fast');
        jQuery('#box').fadeIn('slow');
		var urltrak = jQuery(this).data("urltrack");
		var href = jQuery(this).data("href");
	    jQuery.ajax({
    	      type: "POST",
    	      url: href,
    	      data: {url:urltrak},
    	      dataType: "html",
    	      success: function(msg)
    	      {
        	     jQuery("#box .loader").hide();
        	     jQuery("#tracktable").append(msg);
    	      },
    	      error: function()
    	      {
    	        alert("Si è verificato un errore, si prega di riprovare");
    	      }
	    });
    });


	jQuery(".chiudi").click(function(){
    	 jQuery('#overlay').fadeOut('fast');
    	 jQuery('#box').hide();
	     jQuery("#tracktable, .titolo_box span").empty();
	     jQuery("#box .loader").show();
     });
});
</script>