.grid .condition-grid,
.grid .condition-grid td{
	border:0;
	line-height:17px;
}
.grid .condition-grid td{
	padding:1px 1px 1px 0 !important;
}
td.result-column,
td.type-column,
td.action-column{
	padding-top:5px;
}
.condition-value-wraper{
	width:140px;
	/*padding:0 2px;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
	border-style:solid;
	border-width:1px;*/
	clear:both;
	overflow:hidden;
	zoom:1;
}
.condition-value-wraper input,
.condition-value-wraper select{
	float:left;
}
.condition-value-wraper input,
.condition-value-wraper select{
	padding:1px !important;
	width:136px !important;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA !important;
	border-style:solid !important;
	border-width:1px !important;
}
.condition-value-wraper select{
	padding:0 !important;
	width:136px !important;
}
.condition-actions .delete span{
	padding-left:15px;
}
.type-field-wrapper{
	float:left;
}
.grid td.result-column input.input-text{
	width:99%;
	float:left;
	height:16px;
	padding:0;
}
.grid table td.feed-row-first{
	width:466px;
}
.grid table td.type-column{
	width:140px;
}
.grid table td.action-column{
	width:191px;
}
.type-attribute-field-wrapper{
	float:left;
	margin:3px 0 0;
	display:none;
}
.type-attribute-field-wrapper select,
.grid table td.type-column .type-field-wrapper select{
	width:140px !important;
}
.grid table td.action-column .button{
	width:94px;
}
.grid table td.action-column .delete{
	width:94px;
}
.value-field-wrapper{
	padding:0 2px;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
	border-style:solid;
	border-width:1px;
	clear:both;
	overflow:hidden;
	zoom:1;
}
.value-field-wrapper input{
	width:99%;
	float:left;
	height:16px;
	border:0;
	padding:0;
}
.result-wrapper{
	padding:0 2px;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
	border-style:solid;
	border-width:1px;
	clear:both;
	overflow:hidden;
	zoom:1;
}
.result-wrapper input{
	width:100%;
	border:0;
	padding:0;
}
