<div id="block_notice_amazon_template_newProduct_specifics" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Item Specifics'); ?>">
    <?php echo Mage::helper('M2ePro')->__('Adding specific item details will attract your buyers and help them to find your items.'); ?>
</div>

<script type="text/javascript">

    M2ePro.translator.add(<?php echo json_encode(array(
        'Total digits (not more):' => $this->__('Total digits (not more):'),
        'Type: Numeric.' => $this->__('Type: Numeric.'),
        'Min:'           => $this->__('Min:'),
        'Max:'           => $this->__('Max:'),

        'Can take any value.' => $this->__('Can take any value.'),

        'Two uppercase letters or "unknown".' => $this->__('Two uppercase letters or "unknown".'),
        'Type: String.' => $this->__('Type: String.'),
        'Min length:'   => $this->__('Min length:'),
        'Max length:'   => $this->__('Max length:'),

        'Type: Date time. Format: YYYY-MM-DD hh:mm:ss' => $this->__('Type: Date time. Format: YYYY-MM-DD hh:mm:ss'),

        'Type: Numeric floating point.' => $this->__('Type: Numeric floating point.'),
        'Decimal places (not more):' => $this->__('Decimal places (not more):')
    )); ?>);

    Event.observe(window, 'load', function() {
        $('amazonTemplateNewProductEditTabs_specifics').observe('click', AmazonTemplateNewProductHandlerObj.checkAttributeSetSelection);
        $('amazonTemplateNewProductEditTabs_specifics').observe('click', AmazonTemplateNewProductHandlerObj.checkSpecificsReady.bind(AmazonTemplateNewProductHandlerObj));

        $('attribute_sets_confirm_button').observe('click',AmazonTemplateNewProductSpecificHandlerObj.attribute_sets_confirm.bind(AmazonTemplateNewProductHandlerObj));
        $('attribute_sets').value && AmazonTemplateNewProductSpecificHandlerObj.attribute_sets_confirm();
    });

</script>

<div class="entry-edit" id="magento_block_specific_edit_general" style="display: none;">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Specifics Configuration'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0" id="specifics_container" style="width: 100%">

            </table>

        </div>
    </div>

</div>