<?php
    /** @var Ess_M2ePro_Block_Adminhtml_Ebay_Template_Synchronization_Edit_Form_Tabs_Schedule $this */

    $default = $this->getDefault();
    $formData = $this->getFormData();

    $formData = Mage::helper('M2ePro')->arrayReplaceRecursive($default, $formData);

?>

<script type="text/javascript">

    var init = function() {

        $('schedule_mode').observe('change', EbayTemplateSynchronizationHandlerObj.scheduleModeChange)
                          .simulate('change');

        $('schedule_interval_mode').observe('change', EbayTemplateSynchronizationHandlerObj.scheduleIntervalModeChange)
                                   .simulate('change');

        $$('.schedule_week_day_mode').each(function(el){
            el.observe('change', EbayTemplateSynchronizationHandlerObj.scheduleDayModeChange)
              .simulate('change');
        });

        $$('.schedule_week_time_select').each(function(el){
            el.observe('change', EbayTemplateSynchronizationHandlerObj.scheduleTimeSelectChange)
              .simulate('change');
        });

    };

    <?php if ($this->getRequest()->isXmlHttpRequest()): ?>
        init();
    <?php else: ?>
        Event.observe(window, 'load', init);
    <?php endif; ?>

</script>

<style type="text/css">

    #magento_block_ebay_template_synchronization_form_data_schedule_week .schedule_table_td {
        padding: 4px !important;
    }

    #magento_block_ebay_template_synchronization_form_data_schedule_week .schedule_week_time_select {
        width: 43px;
    }

</style>

<div id="block_notice_ebay_template_synchronization_form_data_schedule" class="block_notices_module no-icon" title="<?php echo Mage::helper('M2ePro')->__('Schedule'); ?>">
    <?php echo Mage::helper('M2ePro')->__('Defines a timetable for automatical list and relist eBay items.'); ?>
</div>

<div class="entry-edit" id="magento_block_ebay_template_synchronization_form_data_schedule_general">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Activation'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="schedule_mode"><?php echo Mage::helper('M2ePro')->__('Schedule'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="schedule_mode" name="synchronization[schedule_mode]" class="required-entry">
                            <option value="0" <?php if ($formData['schedule_mode'] == 0): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Disabled'); ?></option>
                            <option value="1" <?php if ($formData['schedule_mode'] == 1): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Enabled'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Enables / Disables using schedule.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="schedule_interval_mode_tr">
                    <td class="label">
                        <label for="schedule_interval_mode"><?php echo Mage::helper('M2ePro')->__('Active'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="schedule_interval_mode" name="synchronization[schedule_interval_settings][mode]" class="required-entry">
                            <option value="0" <?php if ($formData['schedule_interval_settings']['mode'] == 0): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Any Time'); ?></option>
                            <option value="1" <?php if ($formData['schedule_interval_settings']['mode'] == 1): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('During Period'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('When the schedule has to be applied.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr id="schedule_interval_value_tr">

                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Active From'); ?>: <span class="required">*</span></label>
                    </td>

                    <td class="value" style="width: 100px;">
                        <input id="schedule_interval_date_from" name="synchronization[schedule_interval_settings][date_from]" value="<?php echo $formData['schedule_interval_settings']['date_from']; ?>" type="text" class="input-text M2ePro-required-when-visible M2ePro-validate-schedule-interval-date" style="width: 105px;" />
                        <script type="text/javascript">
                            //<![CDATA[
                            Calendar.setup({
                                inputField: "schedule_interval_date_from",
                                ifFormat: "%Y-%m-%e",
                                showsTime: false,
                                align: "Bl",
                                singleClick : true
                            });
                            //]]>
                        </script>
                    </td>

                    <td class="value" style="width: 25px; padding-left: 18px !important;">
                        <label><?php echo Mage::helper('M2ePro')->__('To'); ?>: <span class="required">*</span></label>
                    </td>

                    <td class="value" style="width: auto;">
                        <input id="schedule_interval_date_to" name="synchronization[schedule_interval_settings][date_to]" value="<?php echo $formData['schedule_interval_settings']['date_to']; ?>" type="text" class="input-text M2ePro-required-when-visible  M2ePro-validate-schedule-interval-date M2ePro-validate-schedule-wrong-interval-date" style="width: 105px;" />
                        <script type="text/javascript">
                            //<![CDATA[
                            Calendar.setup({
                                inputField: "schedule_interval_date_to",
                                ifFormat: "%Y-%m-%e",
                                showsTime: false,
                                align: "Bl",
                                singleClick : true
                            });
                            //]]>
                        </script>
                    </td>

                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_ebay_template_synchronization_form_data_schedule_week">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr style="margin-top: 10px;">

                    <td class="grid" colspan="2">

                        <table class="border" cellpadding="0" cellspacing="0" style="width: 500px;">

                            <thead>
                            <tr class="headings">
                                <th style="width: 30px"></th>
                                <th style="width: 150px"><?php echo Mage::helper('M2ePro')->__('Day of Week'); ?></th>
                                <th style="width: 160px"><?php echo Mage::helper('M2ePro')->__('From'); ?>: <span class="required">*</span></th>
                                <th style="width: 160px"><?php echo Mage::helper('M2ePro')->__('To'); ?>: <span class="required">*</span></th>
                            </tr>
                            </thead>
                            <tbody>

                            <?php
                            $weekDays = array('monday','tuesday','wednesday','thursday','friday','saturday','sunday');

                            foreach ($weekDays as $weekDay) : ?>
                                <tr>

                                    <td class="schedule_table_td" style="text-align: center;">
                                        <input id="schedule_week_day_<?php echo $weekDay; ?>_from" name="synchronization[schedule_week_settings][<?php echo $weekDay; ?>][time_from]" type="hidden">
                                        <input id="schedule_week_day_<?php echo $weekDay; ?>_to" name="synchronization[schedule_week_settings][<?php echo $weekDay; ?>][time_to]" type="hidden">

                                        <input id="schedule_week_day_<?php echo $weekDay; ?>_mode" name="synchronization[schedule_week_days][]" value="<?php echo $weekDay; ?>" type="checkbox" <?php if ($isDayExist = $this->isDayExistInWeekSettingsArray($weekDay,$formData['schedule_week_settings'])): ?>checked="checked"<?php endif; ?> class="schedule_week_day_mode"/>
                                    </td>

                                    <td class="schedule_table_td">
                                        <label><?php echo Mage::helper('M2ePro')->__(uc_words($weekDay)); ?></label>
                                    </td>

                                    <td class="schedule_table_td">
                                        <div id="schedule_week_day_<?php echo $weekDay; ?>_container_from">

                                            <select id="schedule_week_day_<?php echo $weekDay; ?>_from_hours" class="schedule_week_time_select">
                                                <option style="display: none;"></option>
                                                <?php for($i = 1; $i < 13; $i++) { ?>
                                                    <option value="<?php if ($i < 10) { echo '0' . $i; } else { echo $i; } ?>" <?php if ($isDayExist && $formData['schedule_week_settings'][$weekDay]['hours_from'] == $i): echo ' selected="selected"'; endif; ?>><?php if ($i < 10) { echo '0' . $i; } else { echo $i; } ?></option>
                                                <?php } ?>
                                            </select>
                                            <select id="schedule_week_day_<?php echo $weekDay; ?>_from_minutes" class="schedule_week_time_select">
                                                <option style="display: none;"></option>
                                                <?php for($i = 0; $i < 60; $i++) { ?>
                                                    <option value="<?php if ($i < 10) { echo '0' . $i; } else { echo $i; } ?>" <?php if ($isDayExist && $formData['schedule_week_settings'][$weekDay]['minutes_from'] == $i): echo ' selected="selected"'; endif; ?>><?php if ($i < 10) { echo '0' . $i; } else { echo $i; } ?></option>
                                                <?php } ?>
                                            </select>
                                            <select id="schedule_week_day_<?php echo $weekDay; ?>_from_ampm" class="schedule_week_time_select">
                                                <option style="display: none;"></option>
                                                <option value="am" <?php if ($isDayExist && $formData['schedule_week_settings'][$weekDay]['appm_from'] == 'am'): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('AM'); ?></option>
                                                <option value="pm" <?php if ($isDayExist && $formData['schedule_week_settings'][$weekDay]['appm_from'] == 'pm'): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('PM'); ?></option>
                                            </select>

                                            <br/>

                                            <input id="schedule_week_day_<?php echo $weekDay; ?>_validator_from" type="hidden" class="M2ePro-validate-selected-schedule-time">

                                        </div>
                                    </td>

                                    <td class="schedule_table_td">
                                        <div id="schedule_week_day_<?php echo $weekDay; ?>_container_to">

                                            <select id="schedule_week_day_<?php echo $weekDay; ?>_to_hours" class="schedule_week_time_select">
                                                <option style="display: none;"></option>
                                                <?php for($i = 1; $i < 13; $i++) { ?>
                                                    <option value="<?php if ($i < 10) { echo '0' . $i; } else { echo $i; } ?>" <?php if ($isDayExist && $formData['schedule_week_settings'][$weekDay]['hours_to'] == $i): echo ' selected="selected"'; endif; ?>><?php if ($i < 10) { echo '0' . $i; } else { echo $i; } ?></option>
                                                <?php } ?>
                                            </select>
                                            <select id="schedule_week_day_<?php echo $weekDay; ?>_to_minutes" class="schedule_week_time_select">
                                                <option style="display: none;"></option>
                                                <?php for($i = 0; $i < 60; $i++) { ?>
                                                    <option value="<?php if ($i < 10) { echo '0' . $i; } else { echo $i; } ?>" <?php if ($isDayExist && $formData['schedule_week_settings'][$weekDay]['minutes_to'] == $i): echo ' selected="selected"'; endif; ?>><?php if ($i < 10) { echo '0' . $i; } else { echo $i; } ?></option>
                                                <?php } ?>
                                            </select>
                                            <select id="schedule_week_day_<?php echo $weekDay; ?>_to_ampm" class="schedule_week_time_select">
                                                <option style="display: none;"></option>
                                                <option value="am" <?php if ($isDayExist && $formData['schedule_week_settings'][$weekDay]['appm_to'] == 'am'): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('AM'); ?></option>
                                                <option value="pm" <?php if ($isDayExist && $formData['schedule_week_settings'][$weekDay]['appm_to'] == 'pm'): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('PM'); ?></option>
                                            </select>

                                            <br/>

                                            <input id="schedule_week_day_<?php echo $weekDay; ?>_validator_to" type="hidden" class="M2ePro-validate-selected-schedule-time M2ePro-validate-schedule-wrong-interval-time">

                                        </div>
                                    </td>

                                </tr>
                            <?php endforeach; ?>

                            </tbody>

                            <tfoot>
                            </tfoot>

                        </table>

                    </td>

                </tr>

            </table>

            <input id="schedule_week_days_validator" type="hidden" class="M2ePro-validate-schedule-week-days">

        </div>
    </div>

</div>