<script type="text/javascript" src="<?php echo $this->getJsUrl('M2ePro/VideoTutorialHandler.js'); ?>"></script>

<script type="text/javascript">

    M2eProBuyCongratulationTutorialHandlerObj = new VideoTutorialHandler(
        'buy_congratulation_video_tutorial_pop_up',
        '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('M2E Pro - Rakuten.com/Magento Integration : Listings')); ?>',
        function() {}
    );

</script>

<?php
$synchronizationTemplatesUrl = $this->getUrl('*/adminhtml_common_template_synchronization/index');
$sellingFormatTemplatesUrl = $this->getUrl('*/adminhtml_common_template_sellingFormat/index');

$listingsUrl = $this->getUrl('*/adminhtml_common_listing/index',array('tab'=>'buy'));
$docsLink = Mage::helper('M2ePro/View_Common')->getDocumentationUrl();

$menuLabel = Mage::helper('M2ePro/View_Common')->getMenuRootNodeLabel();
?>

<div id="block_notice_wizard_congratulation" class="block_notices_module" title="" subtitle="" collapseable="no" hideblock="no" always_show="yes">

    <table>
        <tr>
            <td>
                <a class="left" href="javascript:" onclick="M2eProBuyCongratulationTutorialHandlerObj.openPopUp()">
                    <img src="<?php echo $this->getSkinUrl('M2ePro/images/buy-video-thumbnail.png'); ?>" alt="">
                </a>
                <h4 style="text-align: center">Rakuten.com Listings (12 min. video)</h4>
            </td>

            <td style="padding: 10px  0 0 30px">
                <h3><?php echo Mage::helper('M2ePro')->__('With M2E, listing your Magento inventory on Rakuten.com couldn\'t be easier.'); ?></h3>
                <br/>
                <p>
                    <?php
                        echo Mage::helper('M2ePro')->__(
                            '<strong>The main settings were successfully set.</strong> <br/><br/>
                            Now you can continue working with extension.
                            <br/>
                            You can see below the short instructions, you may follow to start
                            listing on Rakuten.com quickly.<br/> The more detailed information can be found in the <a href="%s" target="_blank">Documentation</a>.<br/><br/>',
                            $docsLink
                        );
                    ?>
                </p>
                <br/>
            </td>
        </tr>
    </table>

    <div style="margin-top: 25px">
        <?php
            echo Mage::helper('M2ePro')->__(
                '<strong>The next steps you need to perform are:</strong><br/><br/>

                <span style="text-decoration: underline;"><strong>1)</strong> Selling Format Template creation:</span><br/>
                Navigate to %s > Templates > <a href="%s" target="_blank">Selling Format Templates</a>,
                Press on the Add Selling Format Template button;
                Fill in all necessary data;
                Save the template.<br/><br/>

                <span style="text-decoration: underline;"><strong>2)</strong> Synchronization Template creation:</span><br/>
                Navigate to %s > Templates > <a href="%s" target="_blank">Synchronization Templates</a>;
                Press on the Add Synchronization Template button;
                Fill in all necessary data;
                Save the template.<br/><br/>

                After completing these two necessary steps, you can start to create Listings (%s > Manage

                Listings > <a href="%s" target="_blank">Listings</a>), add Magento products to them and list on Rakuten.com.<br/><br/>
                <em>Thank you for choosing M2E Pro.</em>',
                $menuLabel, $sellingFormatTemplatesUrl, $menuLabel, $synchronizationTemplatesUrl, $menuLabel, $listingsUrl
            );
            ?>
    </div>

</div>

<div id="buy_congratulation_video_tutorial_pop_up" style="display: none;">
    <div class="player_container" style="margin: 20px 5px; ">
        <object width="853" height="480"><param name="movie" value="http://www.youtube.com/v/jUOcdYO9ZPM?version=3&amp;hl=ru_RU&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/jUOcdYO9ZPM?version=3&amp;hl=ru_RU&amp;rel=0" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>
</div>