<table class="form-list" cellspacing="0" cellpadding="0">

    <tr>
        <td class="label">
            <label><?php echo Mage::helper('M2ePro')->__('Name'); ?>: </label>
        </td>
        <td class="value">
            <?php echo $this->moduleName; ?>
        </td>
    </tr>

    <tr>
        <td class="label">
            <label><?php echo Mage::helper('M2ePro')->__('Version (revision)'); ?>: </label>
        </td>
        <td class="value">
            <?php echo $this->moduleVersion; ?>.r<?php echo $this->moduleRevision; ?>
        </td>
    </tr>

    <tr>
        <td class="label">
            <label><?php echo Mage::helper('M2ePro')->__('Application Key'); ?>: </label>
        </td>
        <td class="value">
            <?php echo $this->moduleApplicationKey; ?>
        </td>
    </tr>

</table>