<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.4.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
?>

<?php $_formData = $this->getFormData() ?>
<div class="awrma-account">
    <div class="page-title title-buttons">
        <h1><?php echo $this->__('Request RMA') ?></h1>
    </div>
    <div id="messages">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    </div>
    <?php if ($this->getGuestMode() || $this->getCustomerOrders()->getSize()) : ?>
        <form action="<?php echo $this->getGuestMode() ? $this->getUrl('awrma/guest_rma/save') : $this->getUrl('awrma/customer_rma/save') ?>" method="post" id="awrma-new-form">
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="fieldset">
                <h2 class="legend"><?php echo $this->__('Request Information') ?></h2>
                <ul class="form-list">
                    <li class="wide">
                        <label for="awrma-order" class="required"><em>*</em><?php echo $this->__('Order') ?></label>
                        <div class="input-box">
                            <select type="select" name="order" id="awrma-order" title="<?php echo $this->__('Order') ?>" class="validate-select required-entry" defaultvalue="">
                                <option value=""><?php echo $this->__('Please select order') ?></option>
                                <?php foreach ($this->getCustomerOrders() as $order) : ?>
                                    <option value="<?php echo $order->getIncrementId(); ?>" <?php if (isset($_formData['order']) && $_formData['order'] == $order->getIncrementId()) : ?>selected="selected"<?php endif; ?>>
                                        <?php echo '#' . $order->getIncrementId() . ', ' . $this->formatDate($order->getCreatedAtStoreDate()) . ', ' . $order->formatPrice($order->getGrandTotal()) ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </li>
                    <li class="wide">
                        <label for="awrma-items-ordered-table"><?php echo $this->__('Items Ordered') ?></label>
                        <div class="input-box">
                            <table class="data-table" id="awrma-items-ordered-table" name="items">
                                <thead id="awrma-items-head">
                                    <tr>
                                        <th><?php echo $this->__('Product Name') ?></th>
                                        <th><?php echo $this->__('SKU') ?></th>
                                        <th><?php echo $this->__('Qty') ?></th>
                                        <?php if (Mage::helper('awrma/config')->getAllowPerOrderRMA()) : ?><th></th><?php endif; ?>
                                    </tr>
                                    <tr id="awrma-items-noorder" style="display: none;">
                                        <td colspan="4"><?php echo $this->__('No order selected') ?></td>
                                    </tr>
                                    <tr id="awrma-items-noitems" style="display: none;">
                                        <td colspan="4"><?php echo $this->__('No items selected') ?></td>
                                    </tr>
                                    <tr id="awrma-items-loading" style="display: none;">
                                        <td colspan="4"><img src="<?php echo $this->getSkinUrl('aw_rma/images/ajax-loader.gif') ?>" /></td>
                                    </tr>
                                    <tr id="awrma-items-error" style="display: none;">
                                        <td colspan="4"><?php echo $this->__('Some error occurs. Please, try again to select order') ?></td>
                                    </tr>
                                </thead>
                                <tbody id="awrma-items">
                                    <tr>
                                        <td colspan="4"><?php echo $this->__('No order selected') ?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="awrma-packageopened" class="required"><em>*</em><?php echo $this->__('Package Opened') ?></label>
                            <div class="input-box">
                                <select type="select" name="packageopened" id="awrma-packageopened" title="<?php echo $this->__('Package Opened') ?>" class="validate-select required-entry">
                                    <?php $_itemSelected = isset($_formData['packageopened']) ? $_formData['packageopened'] : Mage::getModel('awrma/source_packageopened')->getDefaultValue(); ?>
                                    <?php foreach (Mage::getModel('awrma/source_packageopened')->toOptionArray() as $_item) : ?>
                                        <option value="<?php echo $_item['value'] ?>" <?php if ($_itemSelected == $_item['value']) : ?>selected="selected" <?php endif; ?>><?php echo $_item['label'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <?php $_types = $this->getRequestTypes() ?>
                        <?php if ($_types->getSize()) : ?>
                            <div class="field">
                                <label for="awrma-request-type" class="required"><em>*</em><?php echo $this->__('Request Type') ?></label>
                                <div class="input-box">
                                    <?php $_itemSelected = isset($_formData['requesttype']) ? $_formData['requesttype'] : '' ?>
                                    <select type="select" name="requesttype" id="awrma-request-type" title="<?php echo $this->__('Request Type') ?>" class="validate-select required-entry">
                                        <?php foreach ($_types as $_item) : ?>
                                            <option value="<?php echo $_item->getId() ?>" <?php if ($_item->getId() == $_itemSelected) : ?>selected="selected" <?php endif; ?>><?php echo $_item->getName() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        <?php endif ?>
                    </li>
                    <li class="wide">
                        <label for="awrma-additional-info"><?php echo $this->__('Additional Information') ?></label>
                        <div class="input-box">
                            <textarea name="additionalinfo" id="awrma-additional-info"><?php if (isset($_formData['additionalinfo']))
                        echo $_formData['additionalinfo'] ?></textarea>
                        </div>
                        <p><?php echo $this->__("Specificare il serial number dei prodotti che si vuole sostituire"); ?></p>
                    </li>
                    <?php if (Mage::helper('awrma/config')->getReasonsEnabled()) : ?>
                        <li class="wide">
                            <label for="reason_id" class="required"><em>*</em><?php echo $this->__('Choose Reason') ?></label>
                            <div class="input-box">
                                <select type="select" name="reason_id" id="reason_id" title="<?php echo $this->__('Choose Reason') ?>" class="validate-select required-entry">
                                    <option value=""><?php echo $this->__('Please select reason') ?></option>
                                    <?php $_itemSelected = isset($_formData['reasonsenabled'])?$_formData['reasonsenabled']:''; ?>
                                    <?php foreach ($this->getAvailableReasons() as $_item) : ?>
                                        <option value="<?php echo $_item->getId(); ?>" <?php if ($_itemSelected == $_item->getId()) : ?>selected="selected" <?php endif; ?>><?php echo $_item->getName() ?></option>
                                    <?php endforeach; ?>
                                    <?php if (Mage::helper('awrma/config')->getReasonsOtherOptionEnabled()): ?>
                                        <option value="0"  <?php if (false && $_itemSelected === 0) : ?>selected="selected" <?php endif; ?>><?php echo $this->__('Other'); ?></option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </li>
                        <li id="reason-information" class="wide" style="display:none;">
                            <label for="reason_details"><?php echo $this->__('Reason Details') ?></label>
                            <div class="input-box">
                                <textarea name="reason_details" id="reason_details"><?php if (isset($_formData['reason_details'])): ?>
                                    <?php echo $_formData['reason_details']; ?>
                                    <?php endif; ?></textarea>
                            </div>
                        </li>
                        <script type="text/javascript">
                            Event.observe(document, 'dom:loaded', function(event) {
                                if ($('reason_id').value === '0') {
                                    $('reason-information').show();
                                }
                                Event.observe($('reason_id'), 'change', function(event){
                                    if ($('reason_id').value == '0') {
                                        $('reason-information').show();
                                    } else {
                                        $('reason-information').hide();
                                    }
                                });
                            });
                        </script>
                    <?php endif; ?>
                </ul>
            </div>
            <div class="buttons-set">
                <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                <button type="submit" title="<?php echo $this->__('Submit Request') ?>" class="button" id="awrma-new-submit"><span><?php echo $this->__('Submit Request') ?></span></button>
            </div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var awrmaNewForm = new VarienForm('awrma-new-form', true);
            var ordersControl = new AWRMAOrdersControl(this, awrmaNewForm, "<?php echo $this->getGuestMode() ? $this->getUrl('awrma/guest_rma/getitemsfororder') : $this->getUrl('awrma/customer_rma/getitemsfororder') ?>");
            $('awrma-order').observe('change', ordersControl.orderChanged.bind(ordersControl));
            <?php if (isset($_formData['order'])) : ?>
                ordersControl.orderChanged();
                ordersControl.syncItems(<?php echo $this->getFormData(TRUE) ?>);
            <?php endif; ?>
                //]]>
        </script>
    <?php else : ?>
        <p><?php echo $this->__('You have no completed orders to request RMA or your orders were placed more than %s days ago', Mage::helper('awrma/config')->getDaysAfter()); ?></p>
<?php endif; ?>
</div>
