<script type="text/javascript" src="<?php echo $this->getJsUrl('M2ePro/VideoTutorialHandler.js'); ?>"></script>

<script type="text/javascript">

    VideoTutorialHandlerListingObj = new VideoTutorialHandler(
        'video_tutorial_pop_up_listing',
        '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('eBay/Magento Integration: Listing')); ?>',
        function() {}
    );

    VideoTutorialHandlerProductsObj = new VideoTutorialHandler(
        'video_tutorial_pop_up_products',
        '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('eBay/Magento Integration: Products Management')); ?>',
        function() {}
    );

</script>

<style type="text/css">

    .migration_installation_intro_block {
        margin-top: 30px;
    }

    .migration_installation_note {
        padding-left: 10px;
    }

    .migration_installation_intro_block ul li {
        margin-bottom: 8px;
    }

    .new_policy {
        border: 1px #afafaf solid;
        border-collapse: collapse;
    }

    .new_policy th, .new_policy td {
        border: 1px #afafaf solid;
        padding: 5px;
    }

</style>

<div id="block_notice_wizard_migration_v6_intro" class="block_notices_module" title="" subtitle="" collapseable="no" hideblock="no" always_show="yes">
    <table>

        <tr>

            <td>
                <p><?php echo Mage::helper('M2ePro')->__('<b>Congratulations!</b><br>
                You have successfully installed the new version of M2E Pro.
                <br>In this version \'Sell on eBay\' has been separated from the other channels and completely updated. All data was successfully migrated but we would recommend you check the settings in light of the changes we’ve identified below.
                '); ?></p>
            </td>

        </tr>

    </table>
</div>

<div id = "block_wizard_migration_v6_intro_content" style="padding-left: 20px">

    <div class="migration_installation_intro_block">

        <h2>
            <?php echo Mage::helper('M2ePro')->__('1) Templates have been replaced by Policies'); ?>
        </h2>

        <div style="padding-left: 40px;">

            <p><?php echo Mage::helper('M2ePro')->__('All templates are now policies. Use these to create all the necessary settings for listing Magento products on eBay.
            <br><br>The templates have been renamed:
            <br>
             <table>
            <thead>
                    <td width="200"><b>Previously known as:</b></td>
                    <td width="200"><b>New name of policy:</b></td>
                    <td width="250"><b>What’s included:</b></td>
            </thead>
            <tr>
                <td>General</td>
                <td>Payment</td>
                <td>How buyers pay you</td>
            </tr>
            <tr>
                <td>General</td>
                <td>Shipping</td>
                <td>Your shipping costs and service</td>
            </tr>
             <tr>
                <td>General</td>
                <td>Returns</td>
                <td>Your returns window and who pays postage</td>
            </tr>
            <tr>
                <td>Selling Format</td>
                <td>Price, Quantity and Format</td>
                <td>Detailed information including price, quantity and listing duration</td>
            </tr>
            <tr>
                <td>Description, listing upgrades, product details and condition</td>
                <td>Description</td>
                <td>Settings to help you accurately describe your items</td>
            </tr>
            <tr>
                <td>Synchronization</td>
                <td>Synchronization</td>
                <td>Settings for autosynchronization between Magento and eBay</td>
            </tr>
            </table>
                '); ?></p>

        </div>

    </div>

    <div class="migration_installation_intro_block">

        <h2>
            <?php echo Mage::helper('M2ePro')->__('2) Easier to create new listings'); ?>
        </h2>

        <div>
        <span class="migration_installation_note" style="padding-left: 40px;">
            <p><?php echo Mage::helper('M2ePro')->__(
            'It’s now quicker and easier to create eBay listings. You can set up a single listing from scratch using custom setting mode or use previously saved information. You can also edit listings individually or in bulk with details in your listing settings*, policies and custom settings.
            <br>
            <br>
            When your listings have been created, you can choose between 3 different modes to view and filter them:
            <br/>
                <ul style="list-style: disc; padding-left: 35px;">
                    <li><b>eBay</b> – displays product information related to eBay so it’s easy to find and edit listings in bulk (for example, list, relist, revise, stop etc)</li>
                    <li><b>Magento</b> - displays product information related to the Magento catalogue such as Magento QTY, stock Status etc.</li>
                    <li><b>Settings</b> – displays information in relation to the product settings (for example Selling settings, eBay categories etc) to make it easy to change settings in bulk.</li>
                </ul>
            <br/>
            * Attributes have been removed from listing settings.
            '); ?>
        </div>

        <div style="padding-left: 40px;">
            <h2 style="margin-top: 25px;">Please check video tutorials to have quick overview of new UI.</h2>

            <div style="float: left; width: 450px;">
                <div>
                    <a href="javascript:" onclick="VideoTutorialHandlerListingObj.openPopUp()">
                        <img src="<?php echo $this->getSkinUrl('M2ePro/images/ebay-video-thumbnail.png'); ?>" alt="">
                    </a>
                </div>
                <div style="float:left; width: 400px;">
                    <h4 style="text-align: center">eBay/Magento Integration: Listing</h4>
                </div>
            </div>

            <div id="video_tutorial_pop_up_listing" style="display: none;">
                <div class="player_container" style="margin: 20px 5px; ">
                    <object width="853" height="480"><param name="movie" value="http://www.youtube.com/v/IvXP-tA64KE?version=3&amp;hl=ru_RU&amp;rel=0&amp;vq=hd720"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/IvXP-tA64KE?version=3&amp;hl=ru_RU&amp;rel=0&amp;vq=hd720" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
                </div>
            </div>

            <div style="float: left; width: 450px;">
                <div>
                    <a href="javascript:" onclick="VideoTutorialHandlerProductsObj.openPopUp()">
                        <img src="<?php echo $this->getSkinUrl('M2ePro/images/ebay-video-thumbnail.png'); ?>" alt="">
                    </a>
                </div>
                <div style="float:left; width: 400px;">
                    <h4 style="text-align: center">eBay/Magento Integration: Products Management</h4>
                </div>
            </div>

            <div id="video_tutorial_pop_up_products" style="display: none;">
                <div class="player_container" style="margin: 20px 5px; ">
                    <object width="853" height="480"><param name="movie" value="http://www.youtube.com/v/iBEiQ8Ilya8?version=3&amp;hl=ru_RU&amp;rel=0&amp;vq=hd720"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/iBEiQ8Ilya8?version=3&amp;hl=ru_RU&amp;rel=0&amp;vq=hd720" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>

    <div class="migration_installation_intro_block">

        <h2>
            <?php echo Mage::helper('M2ePro')->__('3) Other improvements and changes'); ?>
        </h2>
        <div style="padding-left: 40px;>
            <span class="migration_installation_note">
                        <?php echo Mage::helper('M2ePro')->__('
                        <b>eBay Fee estimation</b> has been added to the listing view, allowing you to see how much you’ll be charged for listing your item on eBay.
                        <br><br>
                        <b>Automatic currency rate conversion</b> has been added. If Magento has the currency conversion rate, it will be converted automatically to all your prices.
                        <br><br>
                        <b>List / Relist Schedule</b> has been removed from Amazon, Rakuten.com and Play.com synchronization templates and updated for eBay. It now covers both list and relist rules.
                        <br><br>
                        <b>The following terms have been rephrased for eBay:</b>
                                <br/><br/>
                                <ul style="list-style: disc; padding-left: 35px;">
                                    <li>Account title is now <b>eBay User ID</b></li>
                                    <li>Marketplace is now <b>eBay site</b></li>
                                    <li>Template is now <b>Policy</b></li>
                                    <li>Actions On Categories\' Products is now <b>Automatic Actions</b></li>
                                </ul>
                            </li>
                        <b>Simple / Advanced Mode for eBay</b>. There are now two modes available for eBay.
                                <br/><br/>
                                <ul style="list-style: disc; padding-left: 35px;">
                                    <li><b>Simple</b> - for new users and those with limited inventory;</li>
                                    <li><b>Advanced</b> - for more experienced users.</li>
                                </ul>
                                You can change the mode any time in Sell on eBay > Configuration > General.
                        <br><br>
                        <b>The global settings for M2E</b> have been moved and divided into:
                                <ul style="list-style: disc; padding-left: 35px;">
                                <br>
                                <li>Common – for all channels. Find these settings in Magento > System > Configuration and select M2E Pro;</li>
                                <li>eBay settings. Find these settings in Sell on eBay > Configuration > General.</li>
                            </li>
                        </ul>
                        '); ?>
                    </span>
                </div>

    </div>

</div>

<div id="video_tutorial_pop_up" style="display: none;">
    <div class="player_container" style="margin: 20px 5px; ">
        <object width="853" height="480">
            <param id="video_tutorial_pop_up_param" name="movie" value="" />
            <param name="allowFullScreen" value="true" />
            <param name="allowscriptaccess" value="always" />
            <embed id="video_tutorial_pop_up_embed" src="" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
    </div>
</div>