<script type="text/javascript">

    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_View_Ebay'); ?>,
        'Ess_M2ePro_Helper_View_Ebay'
    );

    Event.observe(window, 'load', function() {

        EbayConfigurationGeneralHandlerObj = new EbayConfigurationHandler();

        $('view_ebay_mode').observe('change', EbayConfigurationGeneralHandlerObj.viewModeChange)
                           .simulate('change');

        editForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl(); ?>');

    });

    M2ePro.formData.multiCurrencyCount = <?php echo count($multiCurrency = $this->getMultiCurrency()); ?>;

</script>

<form id="<?php echo $this->getForm()->getId(); ?>" action="<?php echo $this->getForm()->getData('action'); ?>" method="post" enctype="multipart/form-data">

    <input name="form_key" value="<?php echo $this->getFormKey(); ?>" type="hidden" />

    <div class="entry-edit" id="magento_block_ebay_configuration_general_general">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('General'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <tbody>

                        <tr id="view_ebay_mode_tr">
                            <td class="label">
                                <label><?php echo Mage::helper('M2ePro')->__('Mode'); ?>: </label>
                            </td>
                            <td class="value">
                                <select id="view_ebay_mode" name="view_ebay_mode">
                                    <option value="<?php echo Ess_M2ePro_Helper_View_Ebay::MODE_SIMPLE; ?>" <?php if ($this->view_ebay_mode == Ess_M2ePro_Helper_View_Ebay::MODE_SIMPLE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Simple'); ?></option>
                                    <option value="<?php echo Ess_M2ePro_Helper_View_Ebay::MODE_ADVANCED; ?>" <?php if ($this->view_ebay_mode == Ess_M2ePro_Helper_View_Ebay::MODE_ADVANCED): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Advanced'); ?></option>
                                </select>
                                <p class="note">
                                    <span><?php echo Mage::helper('M2ePro')->__('There are two modes. Simple is suitable for new users and for those with a limited inventory. Advanced is suitable for the more experienced user.'); ?></span>
                                </p>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_ebay_configuration_general_notification">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Notifications'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <tbody>

                    <tr>
                        <td class="label">
                            <label><?php echo Mage::helper('M2ePro')->__('Cron'); ?>: </label>
                        </td>
                        <td class="value">
                            <select name="cron_notification_mode">
                                <option value="0" <?php if (!$this->cron_notification_mode): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1" <?php if ($this->cron_notification_mode): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Notifies if cron is not run more than 12 hours.'); ?></span>
                            </p>
                        </td>
                    </tr>

                    <tr id="negative_feedbacks_row">
                        <td class="label">
                            <label><?php echo Mage::helper('M2ePro')->__('Negative Feedback'); ?>: </label>
                        </td>
                        <td class="value">
                            <select name="view_ebay_feedbacks_notification_mode">
                                <option value="0" <?php if (!$this->view_ebay_feedbacks_notification_mode): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1" <?php if ($this->view_ebay_feedbacks_notification_mode): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Notifies when a new negative feedback was received.'); ?></span>
                            </p>
                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>

    <div class="entry-edit" id="magento_block_ebay_configuration_general_selling">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Selling'); ?></h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0" cellpadding="0">

                    <tbody>

                    <tr>
                        <td class="label">
                            <label><?php echo Mage::helper('M2ePro')->__('Item Specifics Step')?>: </label>
                        </td>

                        <td class="value">
                            <select name="use_last_specifics_mode">
                                <option value="0" <?php if (!$this->use_last_specifics_mode): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Show'); ?></option>
                                <option value="1" <?php if ($this->use_last_specifics_mode): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Not Show'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('If you do not need to change Item Specifics details every time you add products, you can skip this step (set \'Not Show\').
                                <br>
                                <b>Note:</b> Predefined item specifics you can view and change in Sell On eBay -> Configuration -> Categories In Use.
                                '); ?></span>
                            </p>
                        </td>
                    </tr>

                    <?php if (!empty($multiCurrency)) :?>
                        <?php foreach ($multiCurrency as $marketplace=>$data) :?>
                            <?php $currency = explode(',', $data['currency']);?>
                            <tr>
                                <td class="label">
                                    <label><?php echo $marketplace . ' ' . Mage::helper('M2ePro')->__('Currency')?>: </label>
                                </td>

                                <td class="value">

                                    <select name="selling_currency[<?php echo $data['code']?>]">
                                        <?php foreach ($currency as $cur) :?>
                                            <option value="<?php echo $cur?>" <?php echo ($this->isCurrencyForCode($data['code'], $cur)) ? 'selected = selected' : ''?>><?php echo $cur; ?></option>
                                        <?php endforeach; ?>
                                    </select>

                                    <p class="note">
                                        <span><?php echo Mage::helper('M2ePro')->__('Choose the currency you want to sell for.'); ?></span>
                                    </p>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>

                    <tr>
                        <td class="label">
                            <label><?php echo Mage::helper('M2ePro')->__('Prevent eBay Item Duplicates')?>: </label>
                        </td>

                        <td class="value">
                            <select name="check_the_same_product_already_listed_mode">
                                <option value="0" <?php if (!$this->check_the_same_product_already_listed_mode): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                                <option value="1" <?php if ($this->check_the_same_product_already_listed_mode): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                            </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('Does not list a Magento product if it was listed from another M2E listing.
                                <br>
                                <b>Note:</b> Only for auto list action.'); ?></span>
                            </p>
                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>

    <?php if ($this->is_motors_marketplace_enabled): ?>
        <div class="entry-edit" id="magento_block_ebay_configuration_general_motors">

            <div id="block_notice_ebay_category_specific_motors_specifics" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Compatibility'); ?>">
                <?php echo Mage::helper('M2ePro')->__('Parts compatibility is a better way for sellers to list parts that fit a variety of vehicles. This format adds standard information to your listing. You can create one listing describing a single part and add a complete list of compatible vehicles.
                <br/><br/>To use this feature you have to:
                 <ul class="list">
                    <li>In the section below choose the attribute, which will be used for saving ePIDs (Product Reference IDs) of compatible vehicles.</li>
                    <li>In created M2E listing on the \'View Listing\' (Settings view mode) page use the Add Compatible Vehicles tool to find necessary compatible items.</li>
                </ul>'); ?>
            </div>

            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('eBay Motors'); ?></h4>
            </div>

            <div class="fieldset">
                <div class="hor-scroll">

                    <table class="form-list" cellspacing="0" cellpadding="0">

                        <tbody>

                            <tr>
                                <td class="label">
                                    <label for="motors_specifics_attribute"><?php echo Mage::helper('M2ePro')->__('Compatibility Attribute'); ?>:</label>
                                </td>

                                <?php if (count($this->attributes_for_motors_specifics) != 0): ?>
                                    <td class="value">
                                        <select id="motors_specifics_attribute" name="motors_specifics_attribute" class="select">
                                            <option value="">-- <?php echo Mage::helper('M2ePro')->__('Select Attribute'); ?> --</option>
                                            <?php foreach ($this->attributes_for_motors_specifics as $attribute): ?>
                                                <option value="<?php echo $attribute['attribute_code']; ?>"<?php if ($attribute['attribute_code'] == $this->motors_specifics_attribute): ?> selected="selected"<?php endif; ?>><?php echo $attribute['frontend_label']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </td>
                                    <td id="motors_specifics_attribute_td_note">
                                        <p class="note">
                                            <span><?php echo Mage::helper('M2ePro')->__('Only textarea attributes are shown.'); ?></span>
                                        </p>
                                    </td>
                                <?php else: ?>
                                    <td class="value">
                                        <div id="block_notice_ebay_configuration_motors_specifics_attribute" class="block_notices_module" title="" subtitle="" collapseable="no" hideblock="no" always_show="yes">
                                            <?php echo Mage::helper('M2ePro')->__('You do not have textarea attributes.'); ?>
                                        </div>
                                    </td>
                                <?php endif; ?>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    <?php endif; ?>

</form>