<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Kbase
 * @version    1.3.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
?>
<div class="kbase-block kbase-main-latest">
    <h2 class="kbase-block-title"><?php printf(Mage::getStoreConfig('kbase/latest/title')) ?></h2>
    <div class="kbase-block-content">
        <ul class="kbase-list level-0">
            <?php foreach ($this->getArticles() as $article): ?>
                <?php 
                $categoryIds = $article->getCategoryIds();
                $categoria = Mage::getModel("kbase/category");
                $urlcat = array();
                foreach($categoryIds as $catId){
                    $urlcat = $categoria->load($catId)->getData();
                }
                ?>
                <li>
                    <a href="<?php echo AW_Kbase_Helper_Url::getUrl(AW_Kbase_Helper_Url::URL_TYPE_ARTICLE, $article, $urlcat) ?>"><?php echo htmlspecialchars($article->getArticleTitle()) ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>