<?php if (!$this->getRequest()->getParam('id')) { ?>

<div id="block_notice_buy_listing_add" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Add Listing'); ?>">
    <?php echo Mage::helper('M2ePro')->__('This section allows you to create a Listing. Listing is a group of items, which have the same
        Attribute Set and were combined to be listed on Rakuten.com.<br/><br/>
        Creating a Listing requires two types of templates (Selling Format and Synchronization) to be created in advance,
        that allows reaching a high level of flexibility in listing and synchronization processes. <br/>

        It is also possible to create templates by clicking the <span style="text-decoration: underline;">Add New</span> button next to the appropriate template option. Do not forget to press
        the <span style="text-decoration: underline;">Refresh</span> button after the new template creation in order to see the newly added template in the dropdown list.<br/>
        <br/>In the Listing Configuration block you are required to choose appropriate Selling Format Template, which determines quantity and price related data of your Rakuten.com Listings.
        <br/>

        <br/>In the Synchronization Settings block you are required to choose a Synchronization Template and its settings.
        This determines the actions, which have to be done on the Rakuten.com Listings depending on any changes of their products happened in Magento,
        and of their templates that are used in the Listing Configuration settings.<br/>'); ?>
</div>

<?php } ?>

<?php
$formData = Mage::helper('M2ePro/Data_Global')->getValue('temp_data') ? Mage::helper('M2ePro/Data_Global')->getValue('temp_data') : array();
$default = array(
    'title' => '',
    'attribute_sets' => array(),

    'template_selling_format_id'    => 0,
    'template_selling_format_title' => '',

    'template_synchronization_id'    => -1,
    'template_synchronization_title' => '',

    'source_products' => Ess_M2ePro_Model_Listing::SOURCE_PRODUCTS_CUSTOM,
    'categories_add_action' => Ess_M2ePro_Model_Listing::CATEGORIES_ADD_ACTION_NONE,
    'categories_delete_action' => Ess_M2ePro_Model_Listing::CATEGORIES_DELETE_ACTION_NONE,
);
$formData = array_merge($default, $formData);

$isEdit = (bool)$this->getRequest()->getParam('id');
?>

<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    if (typeof M2ePro == 'undefined') {
        M2ePro = {};
        M2ePro.url = {};
        M2ePro.formData = {};
        M2ePro.customData = {};
        M2ePro.text = {};
    }

    M2ePro.url.formSubmit = '<?php echo $this->getUrl('*/*/save', array('id' => $this->getRequest()->getParam('id'))); ?>';
    M2ePro.url.deleteAction = '<?php echo $this->getUrl('*/adminhtml_common_buy_listing/delete', array('id' => $this->getRequest()->getParam('id'))); ?>';
    M2ePro.url.templateCheckMessages = '<?php echo $this->getUrl('*/adminhtml_template/checkMessages', array('component_mode' => Ess_M2ePro_Helper_Component_Buy::NICK)); ?>';
    //-----------------------------

</script>

<script type="text/javascript">

    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Buy'); ?>,
        'Ess_M2ePro_Helper_Component_Buy'
    );

    //-----------------------------
    M2ePro.url.magentoGetAttributesByAttributeSets = '<?php echo $this->getUrl('*/adminhtml_general/magentoGetAttributesByAttributeSets'); ?>';

    M2ePro.url.getSellingFormatTemplatesBySet = '<?php echo $this->getUrl('*/adminhtml_general/modelGetAllByAttributeSetId',array('model'=>'Template_SellingFormat','id_field'=>'id','data_field'=>'title','sort_field'=>'title','sort_dir'=>'ASC','component_mode'=>Ess_M2ePro_Helper_Component_Buy::NICK)); ?>';
    M2ePro.url.getSynchronizationTemplates = '<?php echo $this->getUrl('*/adminhtml_general/modelGetAll',array('model'=>'Template_Synchronization','id_field'=>'id','data_field'=>'title','component_mode'=>Ess_M2ePro_Helper_Component_Buy::NICK)); ?>';

    M2ePro.formData.id = '<?php echo $this->getRequest()->getParam('id'); ?>';

    M2ePro.formData.title = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->escapeHtml($formData['title'])); ?>';

    M2ePro.formData.template_selling_format_id    = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['template_selling_format_id']); ?>';
    M2ePro.formData.template_selling_format_title = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['template_selling_format_title']); ?>';

    M2ePro.formData.template_synchronization_id    = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['template_synchronization_id']); ?>';
    M2ePro.formData.template_synchronization_title = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['template_synchronization_title']); ?>';

    M2ePro.text.title_not_unique_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('The specified title is already used for other listing. Listing title must be unique.')); ?>';
    M2ePro.text.attribute_set_not_selected_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('You should select Attribute Set first')); ?>';
    M2ePro.text.wrong_date_time_format_error = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Invalid date time format string.')); ?>';

    M2ePro.text.typeTemplateNameHere = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Template Name Here...')); ?>';

    M2ePro.autoCompleteData = {
        url : {}
    };
    M2ePro.autoCompleteData.flags = {
        sellingFormatTemplatesDropDown    : <?php echo $this->sellingFormatTemplatesDropDown    ? 'true' : 'false'; ?>,
        synchronizationsTemplatesDropDown : <?php echo $this->synchronizationsTemplatesDropDown ? 'true' : 'false'; ?>
    };
    M2ePro.autoCompleteData.url.getSellingFormatTemplatesBySet = '<?php echo $this->getUrl('*/adminhtml_common_general/searchAutocompleteByAttributeSetId', array('model' => 'Template_SellingFormat', 'component' => Ess_M2ePro_Helper_Component_Buy::NICK)); ?>';
    M2ePro.autoCompleteData.url.getSynchronizationTemplates    = '<?php echo $this->getUrl('*/adminhtml_common_general/searchAutocomplete', array('model' => 'Template_Synchronization', 'component' => Ess_M2ePro_Helper_Component_Buy::NICK)); ?>';

    Event.observe(window, 'load', function() {

        AttributeSetHandlerObj = new AttributeSetHandler();
        TemplateHandlerObj = new TemplateHandler();

        BuyListingSettingsHandlerObj = new BuyListingSettingsHandler();
        BuyListingSettingsHandlerObj.setConstants('<?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Listing'); ?>');

        <?php if ($this->getRequest()->getParam('id')): ?>
            BuyListingSettingsHandlerObj.storeId = <?php echo (int)$formData['store_id']; ?>;
            BuyListingSettingsHandlerObj.marketplaceId = <?php echo Ess_M2ePro_Helper_Component_Buy::MARKETPLACE_VIRTUAL_ID; ?>;
        <?php endif; ?>

        AutoCompleteHandler = new AutoComplete();

        $('attribute_sets').observe('change', AttributeSetHandlerObj.changeAttributeSets);
        $('attribute_sets').value && BuyListingSettingsHandlerObj.attribute_sets_confirm();

        if (M2ePro.autoCompleteData.flags.synchronizationsTemplatesDropDown) {
            $('template_synchronization_id').observe('change', BuyListingSettingsHandlerObj.synchronization_template_id_change);
            if ($('template_synchronization_id').value) {
                $('template_synchronization_id').simulate('change');
            }
        } else {
            AutoCompleteHandler.bind('template_synchronization_autocomplete',
                M2ePro.autoCompleteData.url.getSynchronizationTemplates,
                M2ePro.formData.template_synchronization_id > 0 ? M2ePro.formData.template_synchronization_id : '',
                M2ePro.formData.template_synchronization_title,
                function (id) { $('template_synchronization_id').value = id; }
            );
            $('template_synchronization_id').value = $('template_synchronization_autocomplete').readAttribute('selected_id');
            M2ePro.formData.template_synchronization_id > 0 && $('template_synchronization_autocomplete').setStyle({color: 'initial'});
        }

        editForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl(); ?>');
    });
    //-----------------------------

</script>

<div class="entry-edit" id="magento_block_buy_listing_edit_general">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Listing Configuration'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="title"><?php echo Mage::helper('M2ePro')->__('Title'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="title" name="title" value="<?php echo Mage::helper('M2ePro')->__($formData['title']); ?>" type="text" class="input-text required-entry M2ePro-listing-title" />
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Short meaningful Listing title for your internal use.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="attribute_sets"><?php echo Mage::helper('M2ePro')->__('Product Attribute Set'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <div id="attribute_sets_container" <?php if ($isEdit) echo ' style="display: none;"' ?>>
                            <?php $attributeSetPostfix = $isEdit ?  '_fake' : ''; ?>
                            <select id="attribute_sets<?php echo $attributeSetPostfix; ?>" name="attribute_sets<?php echo $attributeSetPostfix; ?>[]" multiple="multiple" class="<?php if (!$isEdit) echo 'M2ePro-validate-attribute-sets'?>">
                                <?php foreach ($this->getData('attributes_sets') as $set): ?>
                                <option value="<?php echo $set['attribute_set_id']; ?>"<?php if (in_array($set['attribute_set_id'], $formData['attribute_sets'])) echo ' selected="selected"'; ?>><?php echo $set['attribute_set_name'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>

                        <?php if ($isEdit) { ?>
                        <div id="attribute_sets_breadcrumb" style="width: 280px;">
                            <?php
                            $breadcrumb = array();
                            foreach ($this->getData('attributes_sets') as $set) {
                                if (in_array($set['attribute_set_id'], $formData['attribute_sets'])) {
                                    $breadcrumb[] = $set['attribute_set_name'];
                                }
                            }
                            ?>
                            <strong><?php echo implode(', ', $breadcrumb); ?></strong>
                        </div>
                        <input id="attribute_sets" name="attribute_sets" value="<?php echo $this->escapeHtml(implode(',', $formData['attribute_sets'])); ?>" type="hidden" />
                        <?php } ?>

                        <div id="attribute_sets_buttons_container" style="padding-top: 5px; <?php if ($isEdit): ?>display: none;<?php endif; ?>">
                            <?php echo $this->getChildHtml('attribute_sets_select_all_button'); ?>
                            <?php echo $this->getChildHtml('attribute_sets_confirm_button'); ?>
                        </div>

                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Attribute Set of products, which will be listed on Rakuten.com in this Listing.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="template_selling_format_id"><?php echo Mage::helper('M2ePro')->__('Selling Format Template'); ?>: <span class="required">*</span></label>
                    </td>
                    <td id="template_selling_format_cell" class="value" style="width: 100%;">
                        <?php if ($this->sellingFormatTemplatesDropDown): ?>
                        <select id="template_selling_format_id" name="template_selling_format_id" class="required-entry"></select>
                        <?php else: ?>
                        <input type="text" id="template_selling_format_autocomplete" class="input-text" selected_id="" style="width: 275px;" />
                        <input type="hidden" name="template_selling_format_id" id="template_selling_format_id" class="required-entry" value="" />
                        <?php endif; ?>
                        &nbsp;
                        <?php echo $this->getChildHtml('add_new_selling_format_template_button'); ?>
                        <?php if ($this->sellingFormatTemplatesDropDown) echo $this->getChildHtml('reload_selling_format_templates_button'); ?>
                        <p class="note">
                            <?php if ($this->sellingFormatTemplatesDropDown) { ?>
                            <span><?php echo Mage::helper('M2ePro')->__('List of templates, which have previously chosen Attribute Set.'); ?></span>
                            <?php } else {?>
                            <span><?php echo Mage::helper('M2ePro')->__('Search for template which have previously chosen Attribute Set.'); ?></span>
                            <?php } ?>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td id="template_selling_format_messages"></td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_buy_listing_edit_synchronization">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Synchronization Settings'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="template_synchronization_id"><?php echo Mage::helper('M2ePro')->__('Synchronization Template'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: 100%;">
                        <?php if ($this->synchronizationsTemplatesDropDown): ?>
                        <select id="template_synchronization_id" name="template_synchronization_id" class="required-entry">
                            <?php if ($formData['template_synchronization_id'] == -1): ?>
                            <option class="empty"></option>
                            <?php endif ?>
                            <?php foreach ($this->synchronizationsTemplates as $item){ ?>
                            <option value="<?php echo $item['id']; ?>" <?php if ($item['id'] == $formData['template_synchronization_id']) echo ' selected="selected"'; ?>><?php echo $item['title']; ?></option>
                            <?php } ?>
                        </select>
                        <?php else:?>
                        <input type="text" id="template_synchronization_autocomplete" class="input-text" selected_id="" style="width: 275px;color: gray;"
                               value="<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Template Name Here...')); ?>"
                               onblur="if (this.value.trim().length == 0) {
                                   this.value = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Template Name Here...')); ?>';
                                   this.style.color = 'gray';
                                   }"
                               onfocus="if (this.value == '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->__('Type Template Name Here...')); ?>') {
                                   this.value = '';
                                   this.style.color = '';
                                   }"
                        />
                        <input type="hidden" name="template_synchronization_id" id="template_synchronization_id" class="required-entry" value="" />
                        <?php endif; ?>
                        &nbsp;
                        <?php echo $this->getChildHtml('add_new_synchronization_template_button'); ?>
                        <?php if ($this->synchronizationsTemplatesDropDown) echo $this->getChildHtml('reload_synchronization_templates_button'); ?>
                        <p class="note">
                            <?php if ($this->synchronizationsTemplatesDropDown) { ?>
                            <span><?php echo Mage::helper('M2ePro')->__('All Synchronization Templates you have created.'); ?></span>
                            <?php } else {?>
                            <span><?php echo Mage::helper('M2ePro')->__('Search for Synchronization Template you have created.'); ?></span>
                            <?php } ?>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>
