<?php
/**
 * Sofhere SofTicket Magento Component
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU (3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/gpl-3.0.html
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@sofhere.com so we can send you a copy immediately.
 * 
 * @category	design_default
 * @author 		sofhere.com
 * @package		Sofhere_SofTicket
 * @copyright  	Copyright (c) 2008-2009 Sofhere IT Solutions.(http://www.sofhere.com)
 * @version 		1.0
 * @license		http://opensource.org/licenses/gpl-3.0.html GNU GENERAL PUBLIC LICENSE (GNU 3.0) 
 */
?>

<?php $id= $this->getRequest()->getParam('id'); ?>

<div class="padder">
<?php if($this->getTitle($id)): ?>

<div class="head-alt2">
     <h2 class="title"><?php echo $this->getTitle($id) ?></h2>
</div>
<div class="input-text">
     <h5 ><?php echo $this->__('Ticket Edit Instruction') ?></h5>
</div>
        
<?php endif; ?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<br>

<form action="<?php echo $this->getSaveUrl($id) ?>" method="post" id="form-validate">
    <fieldset class="group-select">
    	<input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    	<input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
    	<input type="hidden" name="rep" value="<?php echo $this->getTicket($id)->getRep() ?>" />
    	<input type="hidden" name="ID" value="<?php echo $id ?>" />
    	
        <ul>
            <li>
                <div class="input-text">
                    <label for="name"><?php echo $this->__('Name') ?> : </label><?php echo $this->htmlEscape($this->getTicket($id)->getName()) ?>
                </div>
            </li>
            <li>
                <div class="input-text">
                    <label for="email"><?php echo Mage::helper('softicket')->__('Email') ?> : </label><?php echo $this->htmlEscape($this->getTicket($id)->getEmail()) ?>
                </div>
            </li>
            <li>
                <div class="input-text">
                    <label for="phone"><?php echo Mage::helper('softicket')->__('Phone') ?> : </label><?php echo $this->htmlEscape($this->getTicket($id)->getPhone()) ?>
                </div>
            </li>
            <li>
                <div class="input-text">
                    <label for="phone"><?php echo Mage::helper('softicket')->__('Department') ?> : </label><?php echo $this->htmlEscape($this->getDepartment($this->getTicket($id)->getCat()) ) ?>
                </div>
            </li>
            <li>
                <div class="input-text">
                    <label for="subject"><?php echo Mage::helper('softicket')->__('Subject') ?> : </label><?php echo $this->htmlEscape($this->getTicket($id)->getSubject()) ?>
                </div>
            </li>
            <li>
                <div class="input-text">
                    <label for="message"><?php echo Mage::helper('softicket')->__('Message') ?> : </label><?php echo $this->getMessage($this->getTicket($id)->getId()) ?>
                </div>
            </li>
            <li>
                <div class="input-text">
                    <label for="priority"><?php echo Mage::helper('softicket')->__('Priority') ?> : </label><?php echo $this->htmlEscape($this->getPriority($this->getTicket($id)->getPriority())) ?>
                </div>
            </li>
            <li>
                <div class="input-box">
                    <label for="answer"><?php echo Mage::helper('softicket')->__('Customer Answer') ?> <span class="required">*</span></label><br />
                    <textarea name="answer" id="answer" title="<?php echo $this->__('Answer') ?>" class="required-entry" style="height:150px;width:525px;" cols="50" rows="5"></textarea>
                </div>
            </li>
            
    	</ul>
    </fieldset>
   
    <div class="button-set">
        <p class="required"><?php echo Mage::helper('softicket')->__('* Required Fields') ?></p>
        <a href="<?php echo $this->getBackUrl() ?>" class="f-left">&laquo; <?php echo $this->__('Back') ?></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="form-button" type="submit"><span><?php echo $this->__('Update Ticket') ?></span></button>
    </div>
</form>
<script type="text/javascript">
    var contactForm = new VarienForm('form-validate', true);
</script>  
</div>