<?php
/**
 *
 * Package :- Robots
 * Edition :- community
 * Developed By :- CueBlocks.com
 * 
 */
$path = BP . DS;
$filepath= $path.'/robots.txt';
$filename='robots.txt';
if (file_exists($filepath)) 
{
	$fh =fopen($filename, "r");
	$theData=file_get_contents($filename);
	fclose($fh);
}
else
	$theData='';
?>
<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?=$this->__('Robots Content')?></h3></td>
            <td class="a-right">
                <button onclick="editForm.submit()" class="scalable save" type="button"><span>Save Content</span></button>
            </td>
        </tr>
    </table>
</div>
<div class="entry-edit">
    	<div class="entry-edit-head">
        	<h4 class="icon-head head-edit-form fieldset-legend"><?=$this->__('Save Content')?></h4>
	</div>
        <fieldset id="my-fieldset">
		<?php /***Add Form Starts***/ ?>
		<form id="edit_form" name="edit_form" method="post" action="<?=$this->getUrl('*/*/save')?>">
		<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
		<table cellspacing="0" class="form-list">
		<tr>
			<td class="label"><?=$this->__('Content')?></td>
			<td class="input-ele"><textarea rows="20" cols="80" name="content" id="content"><?php echo $theData;?></textarea></td>
		</tr>
		</table>
		</form>
		<?php /***Search Form Ends***/?>

        </fieldset>

</div>
<script type="text/javascript">
    var editForm = new varienForm('edit_form');
</script>
