<?php
if (!function_exists('trimtodot')){
	function trimtodot($txt, $limit=120){
		$txt = strip_tags($txt);
		$txt = trim($txt, " \t\n\r\0\x0B\"'");
		$txt = str_replace('  ', ' ', $txt);
		$txt = explode(' ', $txt);
		$str = '';
		foreach($txt as $c){
			if (strlen($str) > $limit) {
				$str .= ' ...';
				break;
			}
			else {
				$str .= ' '.$c;
			}
		}
		return $str;
	}
}
?>

<script type="text/javascript" language="javascript">
//<![CDATA[
jQuery.noConflict();
jQuery(function(){
	jQuery("ul.pagination").quickPager({pageSize:"10";pagerLocation:"before"});
});        
        //]]>
        
    </script>

<?php $page_news = $this->getNewsPage();?>

<?php if ($page_news):?>
	<h1 class="tit lane"><?php
		$category = Mage::getModel('news/category')->getPageInfo(str_replace('.html', '', pathinfo(Mage::helper('core/url')->getCurrentUrl(), PATHINFO_BASENAME)));
		echo empty($category['title']) ? 'News' : $category['title'];
	?></h1>

	<div class="news_category_lists">
		<ul class="pagination">
		<?php $i=0; foreach ($page_news as $_news):?>
			<li class="item <?php echo ++$i%2 ? 'odd':'even';?>">
				<a class="title_anchor" href="<?php echo $this->getBaseUrl()?>news/show/<?php echo $_news['url']?>.html"><?php echo trimtodot($_news['title'], 24) ?></a>
				<p class="data_pubb"><?php
					$datetime = explode(' ',$_news['time']);
					$datetime = explode('-',$datetime[0]);
					echo $datetime[2].".".$datetime[1].".".$datetime[0];
				?></p>
				<?php if ($_news['file_preview'] != ''):?>
				<a class="image_anchor" href="<?php echo $this->getBaseUrl()?>news/show/<?php echo $_news['url']?>.html">
					<img class="preview_image" src="/media/news/<?php echo $_news['file_preview']?>" width="200"/>
				</a>
				<?php endif;?>
				<div class="short_description"><?php echo trimtodot($_news['short_desc'], 312) ?></div>
				<div class="stabilizzatore">&nbsp;</div>
			</li>
		<?php endforeach;?>
		</ul>
	</div>
			
		
<?php endif;?>


