<?php
$attachmentTypes = $this->getAttachmentTypes();

$postProductValue = filter_input(INPUT_GET, 'pvalue', FILTER_SANITIZE_SPECIAL_CHARS);
$postAttachmentType = filter_input(INPUT_GET, 'attachment_type', FILTER_SANITIZE_SPECIAL_CHARS);
$postSerialNumber = filter_input(INPUT_GET, 'serial_number', FILTER_SANITIZE_SPECIAL_CHARS);

?>
<div class="results-view aw-as-results-view">
    <div class="page-title">
        <h1><?php echo $this->__('Attachments Advanced Search') ?></h1>
    </div>
    <div class="fieldset advanced-search">
        <h2 class="legend"><?php echo $this->__('Search Settings') ?></h2>

        <form action="<?php echo $this->getSearchPostUrl() ?>" method="get" id="form-validate1">
            <ul class="form-list" id="advanced-search-list">
                <li>
                    <label for="pvalue"><?php echo $this->__('Product Name/SKU') ?></label>

                    <div class="input-box">
                        <input type="text" name="pvalue" id="pvalue" value="<?php echo $postProductValue; ?>"
                               title="<?php echo $this->__('Product Name/SKU') ?>" class="input-text required-entry">
                    </div>
                </li>
                <li>
                    <label for="attachment_type"><?php echo $this->__('Attachment Type') ?></label>

                    <div class="input-box">
                        <select name="attachment_type" id="attachment_type" class="multiselect"
                                title="<?php echo $this->__('Attachment Type') ?>">
                            <option value=""><?php echo $this->__('No attachment type selected') ?></option>
                            <?php foreach ($attachmentTypes as $attachmentType): ?>
                                <?php $selected = ($postAttachmentType == $attachmentType) ? 'selected="selected"' : ''; ?>
                                <option
                                    value="<?= $attachmentType['type']; ?>"<?= $selected; ?>><?php echo $attachmentType['title']; ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </li>
            </ul>
            <div class="buttons-set" style="margin: 0 0 8px 0;">
                <button type="submit" title="<?php echo $this->__('Search') ?>" class="button">
                    <span><span><?php echo $this->__('Search') ?></span></span></button>
            </div>
        </form>
        <form action="<?php echo $this->getSearchPostUrl() ?>" method="get" id="form-validate2">
            <ul class="form-list" id="advanced-search-list">
                <li>
                    <label for="serial_number"><?php echo $this->__('Serial Number') ?></label>

                    <div class="input-box">
                        <input type="text" name="serial_number" id="serial_number" value="<?= $postSerialNumber; ?>"
                               title="<?php echo $this->__('Serial Number') ?>" class="input-text required-entry">
                    </div>
                </li>
            </ul>
            <div class="buttons-set" style="margin: 0 0 8px 0;">
                <button type="submit" title="<?php echo $this->__('Search') ?>" class="button">
                    <span><span><?php echo $this->__('Search') ?></span></span></button>
            </div>
        </form>
        <script type="text/javascript">decorateList('advanced-search-list')</script>
    </div>
    <div class="buttons-set" style="margin: 0 0 8px 0;">&nbsp</div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var dataForm1 = new VarienForm('form-validate1', true);
    var dataForm2 = new VarienForm('form-validate2', true);
    //]]>
</script>