<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Advancedsearch
 * @version    1.3.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="results-view aw-as-results-view">
    <?php if($this->getHasResults()) : ?>
    <ul class="aw-indexes-list">
        <?php foreach($this->getResults() as $index) : ?>
        <?php if($index->getResultsCount()) : ?>
        <?php if($this->getCurrentType() == $index->getData('type')) : ?>
        <li class="active">
            <?php echo $this->getTypeLabel($index->getData('type')) ?>&nbsp;(<?php echo $this->getResultsCount($index) ?>)
        </li>
        <?php else : ?>
        <li>
            <a href="<?php echo $this->getUrl('*/*/*', array(
                    '_query' => array(
                        'q' => $this->getRequest()->getParam('q'),
                        'type' => $index->getData('type')
                    ))) ?>">
                <?php echo $this->getTypeLabel($index->getData('type')) ?>&nbsp;(<?php echo $this->getResultsCount($index) ?>)
            </a>
        </li>
        <?php endif ?>
        <?php endif ?>
        <?php endforeach ?>
    </ul>
    <div class="clear"></div>
    <?php echo $this->getContent() ?>
    <?php else : ?>
    <p class="note-msg">
        <?php echo $this->getNoResultText() ?>
    </p>
    <?php endif; ?>
</div>
