<div class="elementDiv">
	<input name="captacha_code" type="hidden" id="captacha_code" value="<?php echo $code=$this->getNewrandCode(6)?>" /> 
	<label for="security_code" class="required"><?php echo Mage::helper('contacts')->__('Codice di sicurezza') ?><em>*</em>:</label>
	<div class="inputDiv">
		<input id="security_code" name="security_code" type="text" class="required-entry" />
	</div>
</div>
<div class="elementDiv">
	<label>&nbsp;</label>
	<div class="inputDiv">
		<img src="<?php echo Mage::getBaseUrl().'FME_quickrfq/captcha/' ?>CaptchaSecurityImages.php?width=180&height=40&code=<?php echo $code?>" />
	</div>
</div>
<div class="stabilizzatore">
	<?php echo Mage::helper('contacts')->__("Se non riesci a leggere l'immagine riportata qui sopra, ricarica la pagina finchè la scritta non diventa comprensibile.")?>
</div>