

<h1 class="page-title"><?php echo $this->__('Calcola il costo delle card')?></h1>

        
        <p>
        	<?php echo $this->__('Gentile Cliente,')?> <br/><?php echo $this->__('in questa pagina la ')?><span style="font-weight: bold; color: #990099;"><?php echo $this->__("Maga CarDò")?></span><?php echo $this->__(' ti guidera nel calcolo del costo della stampa delle card. Il costo della stampa prevede diverse variabili, tra le quali la quantità, il tipo di stampa, personalizzazioni ed opzioni varie. In questa pagina sarai seguito passo a passo per scegliere le opzioni corrette e il tipo di stampa che rispecchia di più la tua esigenza.')?></p>
        
        <p><strong><?php echo $this->__('Nota: ')?></strong><?php echo $this->__('Versione Beta - alcune funzionalità e calcoli potrebbero essere incorretti - i prezzi calcolati sono da considerarsi solo indicativi e non hanno validità di preventivo ufficiale')?></p>
        
        <br />
        <div class="box_maga">
      		<div class="box_card">
    			<div id="cpf" class="card1">
        			<img alt="punzonatura" title="punzonatura"	class="punz" src="/images/card/punzonatura-[Convertito].png" style="width: 171px; height: 18px; position: absolute; left: 25px; top: 95px;behavior: url(/scripts/iepngfix.htc);" />
                    <img alt="chip" 			title="chip"           class="chip"     src="/images/card/chip.jpg"                            style="position: absolute; top: 62px; left: 25px;" />
                    <img alt="barcode" 			title="barcode"        class="barc"     src="/images/card/barcode.jpg"                         style="position: absolute; left: 142px; top: 125px;" />
                    <img alt="foto" 			title="foto"           class="foto"     src="/images/card/foto-[Convertito].png"               style="position: absolute; top: 36px; left: 181px;" />
                    <img alt="AT24C04" 			title="AT24C04"        class="AT24C04" 	src="/images/card/chip-AR24C04-[Convertito].png"       style="position: absolute; left: 25px; top: 62px;" />
                    <img alt="SLE4428" 			title="SLE4428"        class="SLE4428" 	src="/images/card/chip-SLE4428-[Convertito].png"       style="position: absolute; left: 25px; top: 62px;" />
                    <img alt="SLE4442" 			title="SLE4442"        class="SLE4442" 	src="/images/card/chip-SLE4442-[Convertito].png"       style="position: absolute; left: 25px; top: 62px;" />
                    <img alt="SLE5542" 			title="SLE5542"        class="SLE5542" 	src="/images/card/chip-SLE5542-[Convertito].png"       style="position: absolute; left: 25px; top: 62px;" />
                    <img alt="dati-variabili" 	title="dati-variabili" class="data"     src="/images/card/dati-variabili-[Convertito].png"     style="position: absolute; left: 103px; top: 59px; behavior: url(/scripts/iepngfix.htc);" />
        <img alt="logo-card" 			title="logo-card"           class="logo-card"     src="/images/card/logo-[Convertito].png"               style="width: 156px; margin-right: 54px; height: 41px; position: absolute; left: 20px; top: 16px; behavior: url(/scripts/iepngfix.htc);" />
        <img alt="asolatura card" 	title="asolatura card" class="asol" 	src="/images/card/asolatura-[Convertito].png"          style="position: absolute; left: 102px; top: 8px;behavior: url(/scripts/iepngfix.htc);" />
    </div>
    <div id="cpr" style=" background-image:url(/images/card/blank-[Convertito].png); background-position:left top; background-repeat:no-repeat; height:161px; margin-right:15px; position: absolute; width:250px; margin-left: 270px;">
        <img alt="barcode" 			title="barcode"        class="barc" src="/images/card/barcode.jpg"                         style="position: absolute; left: 142px; top: 127px;" />
        <img alt="dati-variabili" 	title="dati-variabili" class="data" src="/images/card/dati-variabili-[Convertito].png"     style="position: absolute; top: 58px; left: 97px; behavior: url(/scripts/iepngfix.htc);" />
        <img alt="foto" 			title="foto"           class="foto" src="/images/card/foto-[Convertito].png"               style="position: absolute; left: 180px; top: 63px;" />
        <img alt="pannello-firma" 	title="pannello-firma" class="firm" src="/images/card/pannello-firma-[Convertito].png"     style="position: absolute; left: 15px; top: 128px;" />
        <img alt="banda-Hi-Co" 		title="banda-Hi-Co"    class="banh" src="/images/card/banda-Hi-Co-[Convertito].png"        style="position: absolute; left: 8px; top: 22px;" />
        <img alt="banda-Lo-Co" 		title="banda-Lo-Co"    class="banl" src="/images/card/banda-Lo-Co-[Convertito].png"        style="position: absolute; left: 8px; top: 22px;" />
        <img alt="asolatura card" 	title="asolatura card" class="asol" src="/images/card/asolatura-[Convertito].png"          style="position: absolute; left: 102px; top: 8px;behavior: url(/scripts/iepngfix.htc);" />
        <img alt="logo-card" 			title="logo-card"           class="logo-card" src="/images/card/logo-[Convertito].png"               style="width: 156px; height: 41px; position: absolute; left: 17px; top: 76px; behavior: url(/scripts/iepngfix.htc);" />
    </div>
</div>



<div class="step">
	<a class="a_step" href="javascript:void(0);" id="tostepone"><img id="wizard_one"   src="/images/maga1_select.png"/></a>
	<a class="a_step" href="javascript:void(0);" id="tosteptwo"><img id="wizard_two"   src="/images/maga2.png"/></a>
	<a class="a_step" href="javascript:void(0);" id="tostepthr"><img id="wizard_three" src="/images/maga3.png"/></a>
	<a class="a_step" href="javascript:void(0);" id="tostepfou"><img id="wizard_four"  src="/images/maga4.png"/></a>
	<div class="stabilizzatore"></div>
</div>

<div id="cardListCalculatorMask">
    		<form method="post" action="/preventivocard/index/cqs" enctype="application/x-www-form-urlencoded" id="cardListCalculator">
				<fieldset id="fieldset-base">
				
					<legend><?php echo $this->__('Caratteristiche base:')?></legend>
				
				<div class="elementDiv"><label class="optional" for="costoCardQuantita"><?php echo $this->__('Quantità:')?></label>
				<div class="inputDiv">
				<input type="text" value="" id="costoCardQuantita" name="costoCardQuantita"></div></div>
				<div class="elementDiv"><label class="optional" for="spessoreCard"><?php echo $this->__('Spessore Cards:')?></label>
				<div class="inputDiv">
				<select id="spessoreCard" name="spessoreCard">
				    <option label="0.76 mm" value="76">0.76 mm</option>
				    <option label="0.40 mm" value="40">0.40 mm</option>
				</select></div></div>
				<div class="elementDiv"><label class="optional" for="colorifronte"><?php echo $this->__('Colorazione fronte:')?></label>
				<div class="inputDiv">
				<select id="colorifronte" name="colorifronte">
				    <option value="blnk"><?php echo $this->__('Scheda Bianca')?></option>
				    <option value="mono"><?php echo $this->__('Stampa in monocromia')?></option>
				    <option value="quad"><?php echo $this->__('Stampa in quadricromia')?></option>
				</select></div></div>
				<div class="elementDiv"><label class="optional" for="coloriretro"><?php echo $this->__('Colorazione retro:')?></label>
				<div class="inputDiv">
				<select id="coloriretro" name="coloriretro">
				    <option value="blnk"><?php echo $this->__('Scheda Bianca')?></option>
				    <option value="mono"><?php echo $this->__('Stampa in monocromia')?></option>
				    <option  value="quad"><?php echo $this->__('Stampa in quadricromia')?></option>
				</select></div></div>
				<div class="elementDiv"><label class="optional" for="tipostampa"><?php echo $this->__('Tipologia di stampa:')?></label>
				<div class="inputDiv">
				<select id="tipostampa" name="tipostampa">
				    <option value="dir"><?php echo $this->__('Stampa in Termografia diretta')?></option>
				    <option value="ind"><?php echo $this->__('Stampa in Termografia indiretta')?></option>
				    <option value="off"><?php echo $this->__('Stampa in Offset')?></option>
				</select></div></div>
				<div class="elementDiv">
				<button type="button" id="steptwo" name="steptwo"><?php echo $this->__('vai al secondo step')?> ➥</button></div></fieldset>
				<fieldset id="fieldset-opzioni"><legend><?php echo $this->__('Opzioni:')?></legend>
				
				<div class="elementDiv"><label class="optional" for="bandamagnetica"><?php echo $this->__('Banda magnetica:')?></label>
				<div class="inputDiv">
				<select id="bandamagnetica" name="bandamagnetica">
				    <option value="no"><?php echo $this->__('Senza Banda')?></option>
				    <option value="loco">Lo-Co (300 Oe)</option>
				    <option value="hico">Hi-Co (2750 Oe)</option>
				</select></div></div>
				<div class="elementDiv"><label class="optional" for="chipcontatto"><?php echo $this->__('Chip a contatto:')?></label>
				<div class="inputDiv">
				<select id="chipcontatto" name="chipcontatto">
				    <option value="no"><?php echo $this->__('Senza Chip')?></option>
				    <option label="FM4442" value="FM4442">FM4442</option>
				    <option label="SLE5542" value="SLE5542">SLE5542</option>
				    <option label="FM4428" value="FM4428">FM4428</option>
				    <option label="SLE5528" value="SLE5528">SLE5528</option>
				    <option label="ISSI24C02" value="ISSI24C02">ISSI24C02</option>
				    <option label="ISSI24C16" value="ISSI24C16">ISSI24C16</option>
				    <option label="ISSI24C64" value="ISSI24C64">ISSI24C64</option>
				</select></div></div>
				<div class="elementDiv"><label class="optional" for="chipcrfid"><?php echo $this->__('Chip RFID:')?></label>
				<div class="inputDiv">
				<select id="chipcrfid" name="chipcrfid">
				    <option value="no"><?php echo $this->__('Senza Chip')?></option>
				    <option label="EM4100" value="EM4100">EM4100</option>
				    <option label="T5567" value="T5567">T5567</option>
				    <option label="Philips S50" value="PhilipsS50">Philips S50</option>
				    <option label="Fudan F08 (Mifare 1k compatibile)" value="FudanF08"><?php echo $this->__('Fudan F08 (Mifare 1k compatibile)')?></option>
				    <option label="Philips S70" value="PhilipsS70">Philips S70</option>
				    <option label="I-CODE SLI" value="ICODESLI">I-CODE SLI</option>
				    <option label="UHF GEN2" value="UHFGEN2">UHF GEN2</option>
				</select></div></div>
				<div class="checkBox elementDiv"><label class="optional" for="firma"><?php echo $this->__('Pannello Firma')?></label>
				<div class="checkboxDiv">
				<input type="hidden" value="false" name="firma"><input type="checkbox" value="true" id="firma" name="firma"></div></div>
				<div class="checkBox elementDiv"><label class="optional" for="coloreserigrafico"><?php echo $this->__('Colore Serigrafico')?></label>
				<div class="checkboxDiv">
				<input type="hidden" value="false" name="coloreserigrafico"><input type="checkbox" value="true" id="coloreserigrafico" name="coloreserigrafico"></div></div>
				<div class="checkBox elementDiv"><label class="optional" for="stampaacaldo"><?php echo $this->__('Stampa a caldo')?></label>
				<div class="checkboxDiv">
				<input type="hidden" value="false" name="stampaacaldo"><input type="checkbox" value="true" id="stampaacaldo" name="stampaacaldo"></div></div>
				<div class="checkBox elementDiv"><label class="optional" for="asolaturacard"><?php echo $this->__('Asolatura card')?></label>
				<div class="checkboxDiv">
				<input type="hidden" value="false" name="asolaturacard"><input type="checkbox" value="true" id="asolaturacard" name="asolaturacard"></div></div>
				<div class="floatLeftButton">
				<button type="button" id="backtoone" name="backtoone">↵ <?php echo $this->__('ritorna')?></button></div>
				<div class="elementDiv">
				<button type="button" id="stepthree" name="stepthree"><?php echo $this->__('vai al terzo step')?> ➥</button></div></fieldset>
				<fieldset id="fieldset-personalizzazioni"><legend><?php echo $this->__('Personalizzazioni:')?></legend>
				
				<div class="elementDiv"><label class="optional" for="persdativariabili"><?php echo $this->__('Stampa dati variabili:')?></label>
				<div class="inputDiv">
				<select id="persdativariabili" name="persdativariabili">
				    <option value="no"><?php echo $this->__('Senza dati variabili')?></option>
				    <option value="fronte"><?php echo $this->__('Lato fronte card')?></option>
				    <option value="retro"><?php echo $this->__('Lato retro card')?></option>
				    <option value="ambo"><?php echo $this->__('Ambo i lati')?></option>
				</select></div></div>
				<div class="elementDiv"><label class="optional" for="persstampafoto"><?php echo $this->__('Stampa foto:')?></label>
				<div class="inputDiv">
				<select id="persstampafoto" name="persstampafoto">
				    <option value="no"><?php echo $this->__('Senza foto')?></option>
				    <option value="fronte"><?php echo $this->__('Lato fronte card')?></option>
				    <option value="retro"><?php echo $this->__('Lato retro card')?></option>
				    <option value="ambo"><?php echo $this->__('Ambo i lati')?></option>
				</select></div></div>
				<div class="checkBox elementDiv"><label class="optional" for="punzonatura"><?php echo $this->__('Punzonatura a rilievo')?></label>
				<div class="checkboxDiv">
				<input type="hidden" value="false" name="punzonatura"><input type="checkbox" value="true" id="punzonatura" name="punzonatura"></div></div>
				<div class="checkBox elementDiv"><label class="optional" for="codificamagnetica"><?php echo $this->__('Codifica magnetica')?></label>
				<div class="checkboxDiv">
				<input type="hidden" value="false" name="codificamagnetica"><input type="checkbox" value="true" id="codificamagnetica" name="codificamagnetica"></div></div>
				<div class="checkBox elementDiv"><label class="optional" for="codificadatichip"><?php echo $this->__('Codifica/Lettura dati chip')?></label>
				<div class="checkboxDiv">
				<input type="hidden" value="false" name="codificadatichip"><input type="checkbox" value="true" id="codificadatichip" name="codificadatichip"></div></div>
<!-- 				<div class="elementDiv"><label class="optional" for="foto">Foto:</label> -->
<!-- 				<div class="inputDiv"> -->
<!-- 				<select id="foto" name="foto"> -->
<!-- 				    <option label="Senza foto" value="no">Senza foto</option> -->
<!-- 				    <option label="Lato fronte card" value="fronte">Lato fronte card</option> -->
<!-- 				    <option label="Lato retro card" value="retro">Lato retro card</option> -->
<!-- 				    <option label="Ambo i lati" value="ambo">Ambo i lati</option> -->
<!-- 				</select></div></div> -->
				<div class="floatLeftButton">
				<button type="button" id="backtotwo" name="backtotwo">↵ <?php echo $this->__('ritorna')?></button></div>
				<div class="elementDiv">
				<button type="button" id="stepfour" name="stepfour"><?php echo $this->__("vai all'anteprima")?> ➥</button></div></fieldset>
				<fieldset id="fieldset-calc"><legend><?php echo $this->__('Calcolo:')?></legend>
				
				<div class="elementDiv"><label class="optional" for="costounitario"><?php echo $this->__('costo unitario:')?></label>
				<div class="inputDiv">
				<input type="text" disabled="disabled" value="" id="costounitario" name="costounitario"></div></div>
				<div class="elementDiv"><label class="optional" for="costototale"><?php echo $this->__('costo totale:')?></label>
				<div class="inputDiv">
				<input type="text" disabled="disabled" value="" id="costototale" name="costototale"></div></div></fieldset>
				<fieldset id="fieldset-askquotation"><legend><?php echo $this->__('Preventivo:')?></legend>
				
				<div class="elementDiv"><label class="optional" for="nomeprogettocard"><?php echo $this->__('Assegna un nome al tuo progetto:')?></label>
				<div class="inputDiv">
				<input type="text" value="" id="nomeprogettocard" name="nomeprogettocard"></div></div>
				<div class="elementDiv"><label class="optional" for="name"><?php echo $this->__('Nome:')?></label>
				<div class="inputDiv">
				<input type="text" value="" id="name" name="name"></div></div>
				<div class="elementDiv"><label class="optional" for="surname"><?php echo $this->__('Cognome:')?></label>
				<div class="inputDiv">
				<input type="text" value="" id="surname" name="surname"></div></div>
				<div class="elementDiv"><label class="optional" for="company"><?php echo $this->__('Nome azienda:')?></label>
				<div class="inputDiv">
				<input type="text" value="" id="company" name="company"></div></div>
				
				<div class="elementDiv">
					<label class="optional" for="phone"><?php echo $this->__('Telefono:')?></label>
					<div class="inputDiv">
						<input type="text" value="" id="phone" name="phone">
					</div>
				</div>
				
				
				<div class="elementDiv"><label class="optional" for="addresseeEmail"><?php echo $this->__('Email:')?></label>
				<div class="inputDiv">
				<input type="text" value="" id="addresseeEmail" name="addresseeEmail"></div></div>
				<div class="textareaDiv">
					<label class="optional" for="note"><?php echo $this->__('Note al preventivo:')?></label>
					<div class="inputDiv">
						<textarea cols="50" rows="5" id="note" name="note"></textarea>
					</div>
				</div>
				
				<br/>
				<?php  echo $this->getChildHtml('dotcom.magoCaptcha');?>
				
				<br/>
				<div class="floatLeftButton">
					<button type="button" id="backtothree" name="backtothree">↵ <?php echo $this->__('ritorna')?></button>
				</div>
				<div class="floatRightButton">
					<input type="button" style="width:200px" value="<?php echo $this->__('invia il preventivo via email')?>" id="quotation" name="quotation"></div></fieldset>
				</form>	
    
    
    		<div class="legend_maga" id="cardHelp" class="ui-corner-all">
			    <span id="hlp"><?php echo $this->__("Aiuto in linea, clicca sulle opzioni per visualizzare un piccolo aiuto.")?></span>
			    <span id="qty"><?php echo $this->__("Fino a 1000 pezzi viene eseguita la stampa a trasferimento termico, oltre questa quantità consigliamo la stampa in off-set per ridurre i costi. Sopra 100.000 pezzi siete pregati di contattarci per un preventivo personalizzato.")?></span>
			    <span id="frn1"><?php echo $this->__("Per 4 colori si intende la stampa in quadricromia miscelando i 3 colori fondamentali (ciano, magenta, giallo) ed il nero.")?></span>
			    <span id="frn2"><?php echo $this->__("Per 1 colore di solito si intende la stampa con il nero pieno, oppure la stampa di colori serigrafici (colori metallizzati come oro o argento) o colori Pantone (definiti dalla specifica tabella, vedi www.pantone-italia.com). Se volete stampare dei colori pantone o serigrafici selezionate 1 colore e nelle opzioni selezionare questi colori.")?></span>
			    <span id="rtr1"><?php echo $this->__("Per 4 colori si intende la stampa in quadricromia miscelando i 3 colori fondamentali (ciano, magenta, giallo) ed il nero.")?></span>
			    <span id="rtr2"><?php echo $this->__("Per 1 colore di solito si intende la stampa con il nero pieno, oppure la stampa di colori serigrafici (colori metallizzati come oro o argento) o colori Pantone (definiti dalla specifica tabella, vedi www.pantone-italia.com). Se volete stampare dei colori pantone o serigrafici selezionate 1 colore e nelle opzioni selezionare questi colori.")?></span>
			    <span id="sps1"><?php echo $this->__("Lo spessore 0,76mm è lo spessore standard dei bancomat e delle carte di credito.")?></span>
			    <span id="sps2"><?php echo $this->__("Lo spessore 0,40mm è lo standard delle schede di ricarica per telefonici (scrach card) o delle schede telefonche.")?></span>
			    <span id="typ1"><?php echo $this->__("Stampa termografica diretta Viene eseguita utilizzando le comuni stampanti per le carte plastiche. E' adatta per tirature limitate di carte ed in particolare se bisogna personalizzarle. Questo metodo si sconsiglia per la stampa di carte con superficie non perfettamente piana (carte con chip o di prossimità). La stampa monocromatica viene effettuata depositando direttamente sulla superficie dalla carta un solo colore mentre quella a colori rilascia una mescola di 4 colori fondamentali (magenta, ciano, giallo e nero) ricoprendo poi il tutto con una sottile patina di vernice trasparente. La stampa termografica consente di personalizzare le tessere con la stampa di dati variabili (cognome, nome, foto, un numero identificativo, codice a barre, ecc.), codificare la banda magnetica o il chip, ecc.")?></span>
			    <span id="typ2"><?php echo $this->__("Stampa termografica indiretta. Viene eseguita utilizzando le stampanti per carte plastiche a ritrasferimento. La differenza con la stampa diretta sta nel solo fatto che con questo metodo invece di stampare direttamente sulla tessera, si stampa su un film trasparente e poi si fissa il film con l'immagine sulla carta. In questo modo la testina di stampa opera sempre nelle stesse condizioni (superficie del film perfettamente liscia e piana), per cui riesce a stampare ad elevata qualità e ripeterlo innumerevoli volte. Altro elemento non trascurabile sta nel fatto che l'immagine stampata essendo protetta da film trasparente, è più brillante maggiormente resistente all'usura. Proprio per le caratteristiche evidenziate questo tipo di stampa è particolarmente adatto per carte con superficie non perfettamente piana e liscia (carte con chip o di prossimità). E' vantaggiosa per tirature limitate di carte e per esigenze di personalizzazione. Quest'ultima può essere fatta con la stampa di dati variabili (cognome, nome, numero identificativo, codice a barre, ecc.), con la codifica della banda magnetica o del chip, ecc.")?></span>
			    <span id="typ3"><?php echo $this->__("La stampa tipografica off-set è la più complessa e quella che da il massimo risultato. Poiché la sua preparazione ed esecuzione è impegnativa, risulta economicamente vantaggiosa per quantità consistenti (oltre 2-3.000 pz) di carte e per tutti quei casi in cui è impossibile utilizzare altri metodi. Ecco alcuni elementi che bisogna tenere conto nel caso si scelga questo tipo di stampa.")?></span>
			    <span id="cnt"><?php echo $this->__("Sovrastampa di un chip.")?></span>
			    <span id="rfd"><?php echo $this->__("Sovrastampa antenna sempitrasparente.")?></span>
			    <span id="frm"><?php echo $this->__("Il Pannello Firma può essere del tipo roll-on o serigrafico. Fino a 500 pezzi la posizione del pannello è standard centrata sul retro. Il primo è formato da un nastro che viene applicato a caldo e a pressione sulla carta e poi tranciato. Viene utilizzato quando sono richiesti pannelli bianchi di dimensioni standard senza la necessità di essere sovrastampati. Il pannello firma serigrafato può essere standard, fuori standard (come misure), trasparente o bianco. Una particolarità importante è che può essere sovrastampato in litografia aumentando così la sicurezza (tentativi di cancellare la firma lasciano una traccia).")?></span>
			    <span id="pnz"><?php echo $this->__("Stampa dei caratteri a rilievo come nelle carte di credito.")?></span>
			    
			    <span id="cdm"><?php echo $this->__("Consiste nel scrivere sulla banda magnetica dei dati identificativi. La banda magnetica è divisa in 3 tracce: la 1. consente di scrivere dati alfanumerici, la 2. solo numerici, la 3. invece caratteri alfanumerici")?></span>
			    
			    <span id="var"><?php echo $this->__("Ad esempio Nome, Cognome, Numerazione progressiva, ecc.<br />Personalizzazione con codici a barre con numerazione progressiva o da database fornito.")?></span>
			    <span id="fto"><?php echo $this->__("Di solito si intende la stampa della foto del dipendente o associato.")?></span>
			    <span id="asl"><?php echo $this->__("Creazione asola o foro sulla card per poterla collegare ad un moschettone o clip.")?></span>
			    <span id="nme"><?php echo $this->__("Questa è la pagina di riepilogo del preventivo per la stampa delle card. Compilando il form su questa pagina riceverai una copia del preventivo per email con tutte le specifiche che hai scelto.")?></span>
			    <span id="nte"><?php echo $this->__("Di seguito potete inserire le vostre note per chiarire meglio la vostra esigenza.")?></span>
			    <span id="rtr0"><?php echo $this->__("Scheda bianca – non viene eseguita la stampa, rimane lo sfondo bianco.")?></span>
			    <span id="frn0"><?php echo $this->__("Scheda bianca – non viene eseguita la stampa, rimane lo sfondo bianco.")?></span>
			    <span id="bnd0"><?php echo $this->__("Non viene aggiunta nessuna banda magnetica.")?></span>
			    <span id="bnd1"><?php echo $this->__("Lo-Co (Low Coercitivity) indica la banda magnetica a bassa coercitività a 300Oe. Di regola il colore della banda magnetica è marrone.")?></span>
			    <span id="bnd2"><?php echo $this->__("Hi-Co (High Coercitivity) indica una banda magnetica ad alta coercività a 2750Oe (Oersted). Di norma il colore della banda è nero. Ad esempio viene usata con i bancomat o carte di credito.")?></span>
			    <span id="nochip"><?php echo $this->__("Non viene aggiunto nessun chip smart card.")?></span>
			    <span id="chpSLE4442"><?php echo $this->__("Smart card Infineon SLE 4442 con chip eeprom a memoria protetta da 256 byte. Scarica il ")?><a href="http://www.infordata.it/file/index/download/id/2229">Datasheet Smart Card SLE4442</a></span>
			    <span id="chpSLE4428"><?php echo $this->__("Smart card Infineon SLE 4428 con chip eeprom a memoria protetta da 1024 byte. Scarica il ")?><a href="http://www.infordata.it/file/index/download/id/2231">Datasheet smart card SLE4428</a></span>
			    <span id="chpSLE5542"><?php echo $this->__("Smart card Infineon SLE 5542 con chip eeprom a memoria protetta da 256 byte. Scarica il ")?><a href="http://www.infordata.it/file/index/download/id/2250">Datasheet smart card SLE5542</a></span>
			    <span id="chpAT24C04"><?php echo $this->__("Smart card Atmel AT24C04 con chip eeprom a memoria libera da 512 byte. Scarica il ")?><a href="http://www.infordata.it/file/index/download/id/2230">Datasheet Smart Card AT24C04</a></span>
			    <span id="chpnorfid"><?php echo $this->__("Non viene aggiunto nessun chip RFID.")?></span>
			    <span id="chpEM4100"><?php echo $this->__("Tag RFID a 125Khz Read Only codifica Manchester 64 bit. Scarica il ")?><a href="http://www.infordata.it/file/index/download/id/2663">Datasheet chip EM4100 125Khz Read Only</a></span>
			    <span id="chpT5567"><?php echo $this->__("Tag RFID a 125Khz Read Write con UID (serial number) programmabile. Scarica il ")?><a href="http://www.infordata.it/file/index/download/id/2901">Datasheet T5567</a></span>
			    <span id="chpmifare"><?php echo $this->__("Chip RFID Mifare S50 a 13,56Mhz con 1 Kbyte di memoria. Scarica il ")?><a href="http://www.infordata.it/file/index/download/id/2666">Datasheet RFID Mifare 1K S50 13,56Mhz ISO 14443A</a></span>
			    <span id="chpiCode2"><?php echo $this->__("RFID chip iCode2 SLI 13,56Mhz. Scarica il ")?><a href="http://www.infordata.it/file/index/download/id/2904">Datasheet iCode2 SLI RFID 13,56 ISO 15693</a></span>
			    <span id="srg"><?php echo $this->__("Quando si vogliono ottenere dei colori brillanti, pieni, oro e argento, colori metallizzati, colori glitter, fluorescenti o fosforescenti bisogna ripiegare sul metodo SERIGRAFICO. Questo metodo è molto diverso dalla stampa litografica in quanto ogni colore deve essere asciugato singolarmente, per cui il procedimento è più lungo e quindi anche più costoso. Un fattore molto importante in serigrafia è il registro, cioè un’esatta corrispondenza di accostamento o sovrapposizione di più colori sulla stessa carta plastica.")?></span>
    			
    			<span id="stc"><?php echo $this->__("La stampa a caldo consiste nel imprimere ad alte temperature un elemento termotraferibile sulla superfice delle card, di solito si traferisce pigmenti metalizzati o ologrammi. Tipicamente la stampa a caldo viene usata per creare effetti a specchio di vari elementi grafici usando come base l'oro o argento metallizzato. Viene inoltre usato per imprimere sulla card ologrammi personalizzati.")?></span>
			    
			    <span id="pnt"><?php echo $this->__("I Pantone sono dei colori \"pieni\" e si riferiscono ad una specifica tabella. Questa tabella è stata creata per poter classificare i colori e tradurli nel sistema di stampa a quadricromia CMYK (ciano, magenta, giallo e nero) semplicemente grazie a un codice, grazie ad una sorta di libro denominato in italiano \"mazzetta\" è possibile sfogliare i colori e selezionarli. A differenza del CMYK o del RGB il codice pantone è un codice arbitrario composto da due campi, nel primo può essere presente una parola (ad esempio RED - rosso- ) o un numero di due cifre dove i primi due numeri si riferiscono alla famiglia di appartenenza (es. 18 per la famiglia dei Rossi). Per i colori più comuni è disponibile anche una definizione più classica.")?></span>
			    <span id="tps"><?php echo $this->__("Fino a 1000 pezzi viene eseguita la stampa a trasferimento termico, oltre questa quantità viene eseguita la stampa in off-set. Sopra 100.000 pezzi siete pregati di contattarci per un preventivo personalizzato.")?></span>
			</div>
    
    		<div class="stabilizzatore"></div>
    
	</div>

</div>

<script type="text/javascript">
	var storeCode = '<?php echo Mage::app()->getStore()->getCode()?>';
</script>