/* qui scriviamo noi di dotcom le regole css. il local css viene sempre caricato dopo quindi le regole
   lì definite sovrascrivono quelle di questo css. Per favore non editare questo file così evitiamo conflitti
 */
.sales-order-view .consegnastimata {float: left; margin: 10px 0 10px 20px;}
.sales-order-view .consegnastimata .spedprevista {color: #018309; font-size: 13px}
.sales-order-view .order-date {float: left;} body.offerte .sidebar .toolbar {display: none}
.my-account .box-account.box-recent {/*padding-right: 0*/}

.cms-index-index .col-right .right_account_links, 
.category-prodotti .right_account_links,
.category-productos .right_account_links,
.category-products .right_account_links
 {margin: 14px 0 336px -55px;}
.catalog-category-view .col-main .wrap_slider {width:960px;}
.cms-index-index .col-main .wrap_slider {width:1000px;}
.cms-index-index .col-main .widget-category-link a {width: 227px;}
.main-header .form-search p, .search_dealers .form-search p {float: left; font-size: 11px; line-height: 12px; position: relative; top: 12px; font-style: italic;}
#banner_maga_cardo {height: 279px;}
a.button span{
background-color: #A25DAD !important;
    border: 1px outset #E1ACE0;
    clear: both;
    color: #FFFFFF;
    float: left;
    font: bold 12px Tahoma,Verdana,Arial,sans-serif;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}
a.button span span {
    background-position: 100% 0;
    padding: 0 15px;
	}
	
.specialwrapper {float: left;}
#field_provincia .input-box, #field_provincia #provincia, #field_provincia_shipping #provincia, #field_provincia_shipping .input-box {width: 30px}
#field_provincia, #field_provincia_shipping {margin-left: 25px}
	
#num_abbonamento {margin-top: 30px;}
	#num_abbonamento input {margin-left: 10px}
	
