<?php $_product = $this->getProduct() ?>
<?php $_helper  = Mage::helper('awrma') ?>
<?php $_qty     = $this->getProductQty() ?>
<tr class="border" id="order-item-row-<?php echo $_product->getEntityId() ?>">
    <td><h3 class="product-name"><?php echo $this->htmlEscape($_product->getName()) ?></h3>
        <?php echo $this->htmlEscape($_product->getDescription()) ?>
    </td>
    <td><?php echo $this->htmlEscape(Mage::helper('core/string')->splitInjection($_product->getSku())) ?></td>
    <td class="a-right">
        <span class="nobr">
            <?php //if ($_helper->getItemMaxCount($_item) > 0): ?>
            <input type="text" name="orderitems[<?php echo $_product->getEntityId() ?>]" id="orderitem-count<?php echo $_product->getEntityId() ?>" value="<?php echo $_helper->__($_qty) ?>" class="awrma-items-count"/>
            <input type="hidden" id="orderitem-count<?php echo $_product->getEntityId() ?>-maxcount" value="9999"/>
            <?php // endif; ?>
        </span>
    </td>
</tr>
