<?php
/**
 *
 */
?>
<?php
    $products = $this->getProducts();
    $helper   = Mage::helper('awrma');
?>
<table class="candadates-table data-table" id="awrma-candidates-table">
    <thead id="awrma-candidates-head">
        <tr>
            <th><?php echo $helper->__('Product Name'); ?></th>
            <th><?php echo $helper->__('SKU'); ?></th>
            <th><?php echo $helper->__('Price'); ?></th>
            <th><?php echo $helper->__('Add to RMA'); ?></th>
        </tr>
    </thead>
    <tbody id="candidates-products">
        <?php foreach($products as $product) : ?>
            <tr id="candidates-product-row-<?php echo $product->getEntityId(); ?>" class="border">
                <td><h3 class="product-name"><?php echo $helper->__($product->getName()); ?></h3></td>
                <td class="candidates-product-sku"><?php echo $helper->__($product->getSku()); ?></td>
                <td class="candidates-product-price"><?php echo Mage::helper('core')->currency($product->getFinalPrice()); ?></td>
                <td class="candidates-product-add a-right"><a href="#" id="<?php echo $helper->__($product->getEntityId()); ?>"><?php echo $helper->__('+'); ?></a></td>
            </tr>
            <tr id="candidates-insert-product-row<?php echo $product->getEntityId(); ?>" class="border" style="display: none">
                <td><h3 class="product-name"><?php echo $helper->__($product->getName()); ?></h3></td>
                <td class="candidates-product-sku"><?php echo $helper->__($product->getSku()); ?></td>
                <td class="a-right">
                    <span class="nobr">
                        <input type="text" id="orderitem-count<?php echo $product->getEntityId(); ?>" value="1" class="awrma-items-count"/>
                        <input type="hidden" id="orderitem-count<?php echo $product->getEntityId() ?>-maxcount" value="100"/>
                    </span>
                </td>
                <td class="a-center">
                    <a class="btn-remove2" title="Remove item" href="#" onclick="ordersControl.removeItem('candidates-insert-product-row<?php echo $product->getEntityId(); ?>');return false;">Remove item</a>
                </td>
            </tr>
            <span style="display: none" id="search-exclusion-candidates">
                        <input type="number" id="search-exclusion-<?php echo $product->getEntityId(); ?>"
                               name="search_exclusion[<?php echo $product->getEntityId(); ?>]" value=""/>
                    </span>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">
    jQuery('.candidates-product-add a').click(function(e) {
        e.preventDefault();
        var productId       = jQuery(this).closest('tr').attr('id').match(/[0-9]+/);
        var insertTr        = jQuery('#candidates-insert-product-row'+productId);
        var insertExclusion = jQuery('#search-exclusion-' + productId);
        jQuery(this).closest('tr').css('background-color', 'grey');
        jQuery(this).css('pointer-events', 'none');
        jQuery(this).css('cursor', 'default');
        insertTr.find('#orderitem-count'+productId).prop('name', 'productitems['+productId+']');
        jQuery('#awrma-items').append(insertTr);
        insertTr.attr('style', '');
        //set product id to search exclusion
        insertExclusion.val(productId);
        jQuery('#search-exclusion-items').append(insertExclusion);
    });
</script>
