<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.4.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2010 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php $_order = $this->getOrder() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel()) ?></h1>
    <?php if ($this->helper('rss/order')->isStatusNotificationAllow()): ?>
        <a href="<?php echo $this->helper('rss/order')->getStatusHistoryRssUrl($_order) ?>" class="link-rss"><?php echo $this->__('Subscribe to Order Status') ?></a>
        <span class="separator">|</span>
    <?php endif; ?>
    <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
        <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
        <span class="separator">|</span>
    <?php endif ?>
    <a href="<?php echo $this->getPrintUrl($_order) ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Print Order') ?></a>
    <?php if (Mage::helper('awrma')->isEnabled() && Mage::helper('awrma')->isAllowedForOrder($_order)) : ?>
        <span class="separator">|</span>
        <a href="<?php echo $this->getUrl('awrma/customer_rma/createfororder/', array('order_id' => $_order->getEntityId())) ?>" class="link-print"><?php echo $this->__('Request RMA') ?></a>
    <?php endif ?>
    <br />
    <?php /* RIABILITARE PER "PAGA ORA" */ if (false): ?>
    <?php if ($_order->getStatus() == 'pending_payment' || $_order->getStatus() == 'pending_paypal') : ?>
    	<span class="separator">|</span> <a href="<?php echo Mage::getUrl('pagaora', array('order' => $_order->getId())); ?>" class="link-pagaora"><?php echo $this->__('Paga ora') ?></a>
    <?php endif ?> 
    <?php endif ?> 
    <span class="separator">|</span>
    <a href="<?php echo $this->getUrl('helpdeskultimate/customer/', array('order' => $_order->getEntityId())) ?>" class="link-print"><?php echo $this->__('Help desk') ?></a>
</div>
<?php echo $this->getStatusHistoryRssUrl($_order) ?>
<dl class="order-info">
    <dt><?php echo $this->__('About This Order:') ?></dt>
    <dd>
        <?php $_links = $this->getLinks(); ?>
        <ul id="order-info-tabs">
            <?php foreach ($_links as $_link): ?>
                <?php if ($_link->getUrl()): ?>
                    <li><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
                <?php else: ?>
                    <li class="current"><?php echo $_link->getLabel() ?></li>
                <?php endif; ?>
            <?php endforeach; ?>
            <li id="backtoorderlink"><a href="<?php echo Mage::getBaseUrl()."sales/order/history"?>"><? echo $this->__("Back to My Orders");?></a></li>
        </ul>
        <script type="text/javascript">decorateGeneric($('order-info-tabs').select('LI'),['first','last']);</script>
    </dd>
</dl>
<div class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></div>
<p class="consegnastimata">
<?php 

$consegna = "";
$dataconsegna = array();
$datacons = "";
$items = $_order->getAllItems();
foreach ($items as $item){
    $datacons = $item->getDataConsegna();
    if(!empty($datacons)){
        $dataconsegna[] = $datacons;
    }
}
if (!empty($dataconsegna)){
    $rangeinf = min($dataconsegna);
    $rangesup = max($dataconsegna);
    if($rangeinf == $rangesup){
        $consegna = $this->formatDate($rangeinf);
    }
    else {
        $consegna = $this->formatDate($rangeinf)." - ".$this->formatDate($rangesup);
    }
}
if(!empty($consegna)){
    echo "<strong>".$this->__("Data spedizione prevista: ")."</strong>";
    echo "<span class='spedprevista'>".$consegna."</span>";
}
?>
</p>
<div class="stabilizzatore"></div>
<?php if (!$_order->getIsVirtual()): ?>
    <div class="col2-set order-info-box">
        <div class="col-1">
            <div class="box">
                <div class="box-title">
                    <h2><?php echo $this->__('Shipping Address') ?></h2>
                </div>
                <div class="box-content">
                    <address><?php echo $_order->getShippingAddress()->format('html') ?></address>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="box">
                <div class="box-title">
                    <h2><?php echo $this->__('Shipping Method') ?><?php /* | <a href="#"><?php echo $this->__('Track Order') ?></a> */ ?></h2>
                </div>
                <div class="box-content">
                    <?php if ($_order->getShippingDescription()): ?>
                        <?php echo $_order->getShippingDescription() ?>
                        <?php /*
                        if ($_order->getIncrementId()) {
                            $incrementId = explode("/",$_order->getIncrementId());
                            $incrementId = $incrementId[0];
                            if (preg_match("#GLS#",$_order->getShippingDescription())){
                               $trakingUrl ="http://www.gls-italy.com/track_trace_user.asp?locpartenza=TS&numbda=".$incrementId."&tiporicerca=numbda&codice=634&cl=1";
                            }
                            else if (preg_match("#TNT#",$_order->getShippingDescription())){
                                $trakingUrl = "http://www.tnt.it/tracking/getTrack?WT=2&ConsigNos=".$incrementId."&CodCli=215650"; 
                            }
                        }
                        ?>
                        <?php if (isset($trakingUrl)) echo "<p><a href='".$trakingUrl."'>".$this->__("Traccia il pacco")."</a></p>"; */ ?>
                    <?php else: ?>
                        <p><?php echo $this->helper('sales')->__('No shipping information available'); ?></p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
<div class="col2-set order-info-box">
    <div class="col-1">
        <div class="box">
            <div class="box-title">
                <h2><?php echo $this->__('Billing Address') ?></h2>
            </div>
            <div class="box-content">
                <address><?php echo $_order->getBillingAddress()->format('html') ?></address>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="box box-payment">
            <div class="box-title">
                <h2><?php echo $this->__('Payment Method') ?></h2>
            </div>
            <div class="box-content">
                <?php echo $this->getPaymentInfoHtml() ?>
            </div>
        </div>
    </div>
</div>
