<div id="block_notice_ebay_listing_other_synchronization_relist" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Relist'); ?>">
    <?php echo Mage::helper('M2ePro')->__('Define the conditions when you want eBay items relisted.
    '); ?>
</div>

<?php
$formData = Mage::helper('M2ePro/Data_Global')->getValue('temp_data') ? Mage::helper('M2ePro/Data_Global')->getValue('temp_data') : array();
$formData = $formData['relist'];

$defaults = array(
    'relist_mode' => Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_MODE_YES,
    'relist_filter_user_lock' => Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_FILTER_USER_LOCK_YES,
    'relist_send_data' => Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_SEND_DATA_YES,
    'relist_status_enabled' => Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_STATUS_ENABLED_YES,
    'relist_is_in_stock' => Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_IS_IN_STOCK_YES,
    'relist_qty' => Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_NONE,
    'relist_qty_value' => 1,
    'relist_qty_value_max' => '10'
);
$formData = array_merge($defaults, $formData);
?>

<script type="text/javascript">

    Event.observe(window, 'load', function() {
        $('relist_mode')
                .observe('change', EbayListingOtherSynchronizationHandlerObj.relist_mode_change)
                .simulate('change');
        $('relist_qty')
            .observe('change', EbayListingOtherSynchronizationHandlerObj.relist_qty_change)
            .simulate('change');
    });

</script>

<div class="entry-edit" id="magento_block_ebay_listing_other_synchronization_relist_filters">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('General'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Relist Action'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="relist_mode" name="relist_mode" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_MODE_NONE; ?>" <?php if ($formData['relist_mode'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_MODE_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Disabled'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_MODE_YES; ?>" <?php if ($formData['relist_mode'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_MODE_YES): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Enabled'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Activates Relist action.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="relist_filter_user_lock_tr_container" class="relist-options" <?php if ($formData['relist_mode'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_MODE_NONE): echo ' style="display:none;"'; endif; ?>>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Relist When Stopped Manually'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="relist_filter_user_lock" name="relist_filter_user_lock" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_FILTER_USER_LOCK_YES; ?>" <?php if ($formData['relist_filter_user_lock'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_FILTER_USER_LOCK_YES): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_FILTER_USER_LOCK_NONE; ?>" <?php if ($formData['relist_filter_user_lock'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_FILTER_USER_LOCK_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Relists an item by over-riding any manual stop.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="relist_send_data_tr_container" class="relist-options" <?php if ($formData['relist_mode'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_MODE_NONE): echo ' style="display:none;"'; endif; ?>>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Synchronize Data'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="relist_send_data" name="relist_send_data" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_SEND_DATA_NONE; ?>" <?php if ($formData['relist_send_data'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_SEND_DATA_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_SEND_DATA_YES; ?>" <?php if ($formData['relist_send_data'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_SEND_DATA_YES): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Updates title, subtitle, description, price, quantity and shipment on eBay items.'); ?></span>                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit relist-options" id="magento_block_ebay_listing_other_synchronization_relist_rules" <?php if ($formData['relist_mode'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_MODE_NONE): echo ' style="display:none;"'; endif; ?>>

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Relist Conditions'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Product Status'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="relist_status_enabled" name="relist_status_enabled" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_STATUS_ENABLED_NONE; ?>" <?php if ($formData['relist_status_enabled'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_STATUS_ENABLED_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Any'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_STATUS_ENABLED_YES; ?>" <?php if ($formData['relist_status_enabled'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_STATUS_ENABLED_YES): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Enabled'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Product status when item will be relisted.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Stock Availability'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="relist_is_in_stock" name="relist_is_in_stock" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_IS_IN_STOCK_NONE; ?>" <?php if ($formData['relist_is_in_stock'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_IS_IN_STOCK_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Any'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_IS_IN_STOCK_YES; ?>" <?php if ($formData['relist_is_in_stock'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_IS_IN_STOCK_YES): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('In Stock'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Stock Availability when item will be relisted.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Item Quantity'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="relist_qty" name="relist_qty" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_NONE; ?>" <?php if ($formData['relist_qty'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_NONE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Any'); ?></option>
                            <!-- <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_LESS; ?>" <?php if ($formData['relist_qty'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_LESS): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Less'); ?></option> -->
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_MORE; ?>" <?php if ($formData['relist_qty'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_MORE): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('More or Equal'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_BETWEEN; ?>" <?php if ($formData['relist_qty'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_BETWEEN): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Between'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Product(s) quantity when item will be relisted.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="relist_qty_value_container" <?php if ($formData['relist_qty'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_NONE) echo ' style="display: none;"'; ?>>
                    <td class="label">
                        <label for="relist_qty_value">
                            <span id="relist_qty_item" <?php if ($formData['relist_qty'] == Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_BETWEEN) echo ' style="display: none;"'; ?>><?php echo Mage::helper('M2ePro')->__('Item Quantity'); ?>: <span class="required">*</span></span>
                            <span id="relist_qty_item_min" <?php if ($formData['relist_qty'] != Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_BETWEEN) echo ' style="display: none;"'; ?>><?php echo Mage::helper('M2ePro')->__('Min Item Quantity'); ?>: <span class="required">*</span></span>
                        </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input id="relist_qty_value" name="relist_qty_value" value="<?php echo $this->escapeHtml($formData['relist_qty_value']); ?>" type="text" class="M2ePro-required-when-visible input-text validate-digits" />
                    </td>
                </tr>

                <tr id="relist_qty_value_max_container" <?php if ($formData['relist_qty'] != Ess_M2ePro_Model_Ebay_Listing_Other_Synchronization::RELIST_QTY_BETWEEN) echo ' style="display: none;"'; ?>>
                    <td class="label">
                        <label for="relist_qty_value_max"><?php echo Mage::helper('M2ePro')->__('Max Item Quantity'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input id="relist_qty_value_max" name="relist_qty_value_max" value="<?php echo $this->escapeHtml($formData['relist_qty_value_max']); ?>" type="text" class="M2ePro-required-when-visible input-text validate-digits" />
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>