.points-notice-sidebar-msg
{
    margin: 5px;
    padding: 5px;
    background-color: #E1ACE0;
}

.aw-points-widget .block-content {
    font-size:20px;
}

.aw-points-widget {
    text-align:center;
}