<?php
	$news = $this->getMedia();
	$url_preview	= "/news/".$news['file_preview'];
	$url_article	= "/news/".$news['file_article'];
	$url_pdf		= "/news/".$news['file_pdf'];
?>
<style>
.form-list .value img{
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
</style>
<!--<form enctype="multipart/form-data" action="<?php echo $this->getBaseUrl()?>news/front/upload/" method="POST">-->
<div class="entry-edit">
	<div class="entry-edit-head"><h4 class="icon-head head-edit-form fieldset-legend">Media Settings</h4>
		<div class="form-buttons"></div>
	</div>
	<div class="fieldset" id="general">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list media-table" id="news-media-table"><tbody>
			<tr>
				<td class="label"><label for="file_new_preview">Immagine x anteprima</label></td>
				<td class="value">
					<input id="file_new_preview" name="file_new_preview" value="" title="Pictures" type="file" class="input-text"/>
					<p id="note_identifier" class="note"><span>Dimensioni immagine 70px X 70px</span></p>
				</td>
				<td class="value">
				<?php if(strlen(trim($news['file_preview']))):?>
					<div style="float:left; margin-right:10px;">
					<?php if (file_exists(Mage::getBaseDir('media')."$url_preview"))
							echo"<img src='/media$url_preview'>";?>
					</div>
					<input id="file_new_preview_del" name="file_new_preview_del" value="on" title="Delete preview file" type="checkbox"/> delete preview
				<?php endif;?></td>

			</tr>
			<tr><td clospan='3'>&nbsp;</td></tr>
			<tr>
				<td class="label"><label for="file_new_article">Immagine x articolo</label></td>
				<td class="value">
					<input id="file_new_article" name="file_new_article" value="" title="Pictures" type="file" class="input-text"/>
					<p id="note_identifier" class="note"><span>Dimensioni immagine 220px X 278px</span></p>
				</td>
				<td class="value">
				<?php if(strlen(trim($news['file_article']))):?>
					<div style="float:left; margin-right:10px;">
					<?php if (file_exists(Mage::getBaseDir('media')."$url_article"))
							echo"<img src='/media$url_article'>";?>
					</div>
					<input id="file_new_article_del" name="file_new_article_del" value="on" title="Delete foto of article" type="checkbox"/> delete foto of article
				<?php endif;?></td>

			</tr>
			<tr><td clospan='3'>&nbsp;</td></tr>
			<tr>
				<td class="label"><label for="file_new_pdf">PDF version</label></td>
				<td class="value"><input id="file_new_pdf" name="file_new_pdf" value="" title="PDF file" type="file" class="input-text"/></td>
				<td>
				<?php if(strlen(trim($news['file_pdf']))):?>
					<div style="float:left; margin-right:10px;">
					<?php if (file_exists(Mage::getBaseDir('media')."$url_pdf"))
							echo"<a href='/media$url_pdf'><img src='".$this->getSkinUrl('images/news/file_pdf.gif')."'></a>";?>
					</div>
					<input id="file_new_pdf_del" name="file_new_pdf_del" value="on" title="Delete PDF file" type="checkbox"/> delete PDF
				<?php endif;?></td>
			</tr></tbody>
			<?php $files = $this->getFiles();?>
			<?php foreach ((array)$files as $_file):?>
				<tr>
					<td class="label"><label for="file_new_pdf"><?php echo $_file['file']?></label></td>
					<td class="value"><input id="file_new_pdf" name="files[<?php echo $_file['id']?>]" value="" title="File" type="file" class="input-text"/></br>Remove file <input type="checkbox" name="design[remove_file][<?php echo $_file['id']?>]"/></td>
					<td class="value"><a href="<?=Mage::getBaseDir('media').'/news/'.$this->getNewsId().'/'.$_file['file']?>"><img src='<?php echo $this->getSkinUrl('images/news/file_pdf.gif')?>'></a></td>
				</tr>
			<?php endforeach;?>
			</table>

			<div id="news-media-table-insert-before">&nbsp;</div>
			<table><td><td><a href="javascript:void();" onclick="addFile();">Add File</a></td></tr></table>
		</div>
	</div>
</div>
<script>
	var numrows = 1;
	function addFile(){
		$('news-media-table-insert-before').insert({before:'<table class="form-list media-table"><tr><td class="label"><label for="file_new_pdf">File #'+numrows+'</label></td><td class="value"><input id="file_new_pdf" name="new_file['+numrows+']" value="" title="PDF file" type="file" class="input-text"/></td></tr></table>'});
		numrows+=1;
	}
</script>
<!--</form>-->

