<div id="messages">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>
<?php $_rmaRequest = $this->getRMARequest() ?>
<script type="text/javascript">
    var awrmaConfirmText = '<?php echo $this->getPreparedJSConfirmText() ?>';
</script>
<div class="awrma-account">
    <?php if ($_rmaRequest) : ?>
        <?php $_order = Mage::getModel('sales/order')->loadByIncrementId($_rmaRequest->getOrderId()) ?>
        <div class="page-title title-buttons">
            <h1><?php echo $this->__('RMA ') . $_rmaRequest->getTextId() ?>&nbsp;&ndash;&nbsp;<?php echo Mage::getModel('awrma/entitystatus')->load($_rmaRequest->getStatus())->getName() ?></h1>
        </div>
        <div class="fieldset">
            <h2 class="legend"><?php echo $this->__('Request Information') ?></h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('ID:') ?></strong> <?php echo $_rmaRequest->getTextId(); ?>
                    </div>
                    <div class="field">
                        <strong><?php echo $this->__('Initiated at:') ?></strong> <?php echo $this->formatDate($_rmaRequest->getCreatedAt()) ?>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('Order:') ?></strong> <?php if ($this->getGuestMode()) : ?><?php echo $_rmaRequest->getOrderId() ?><?php else : ?><a href="<?php echo $this->getUrl('manager/index/view', array('id' => $_order->getId())) ?>">#<?php echo $_rmaRequest->getOrderId() ?></a><?php endif ?>
                    </div>
                    <?php if (Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType())) : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Request Type:') ?></strong> <?php echo Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType()) ?>
                        </div>
                    <?php else : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Package Opened:') ?></strong> <?php echo Mage::getModel('awrma/source_packageopened')->getOptionLabel($_rmaRequest->getPackageOpened()) ?>
                        </div>
                    <?php endif ?>
                </li>
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('Status:') ?></strong> <?php echo Mage::getModel('awrma/entitystatus')->load($_rmaRequest->getStatus())->getName() ?>
                    </div>
                    <?php if (Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType())) : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Package Opened:') ?></strong> <?php echo Mage::getModel('awrma/source_packageopened')->getOptionLabel($_rmaRequest->getPackageOpened()) ?>
                        </div>
                    <?php endif ?>
                </li>
                <?php if (Mage::helper('awrma/config')->getReasonsEnabled()) : ?>
                    <li class="fields">
                        <div class="field">
                            <strong><?php echo $this->__('Reason:') ?></strong>
                            <?php if ($_rmaRequest->getReasonId() == 0) : ?>
                                <?php echo $this->__('Other'); ?>
                            <?php else: ?>
                                <?php echo Mage::getModel('awrma/entityreason')->load($_rmaRequest->getReasonId())->getName() ?>
                            <?php endif; ?>
                        </div>
                        <?php if ($_rmaRequest->getReasonId() == 0) : ?>
                            <div class="field">
                                <strong><?php echo $this->__('Reason Details:') ?></strong> <?php echo $_rmaRequest->getReasonDetails(); ?>
                            </div>
                        <?php endif ?>
                    </li>
                <?php endif;?>
            </ul>
        </div>
        <h4 style="float:left;"><?php echo $this->__('Items RMA Requested for') ?></h4>
        <table id="awrma-requested-items" class="data-table" style="float:left;">
            <col />
            <col width="100" />
            <col width="1"/>
            <thead>
            <tr>
                <th><?php echo $this->__('Product Name') ?></th>
                <th><?php echo $this->__('SKU') ?></th>
                <th><?php echo $this->__('Qty') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php $_requestedItems = $_rmaRequest->getOrderItems() ?>
            <?php foreach (Mage::helper('awrma')->getItemsHtml($_rmaRequest, array('view_only' => true, 'items' => array_keys($_requestedItems))) as $item) : ?>
                <?php echo $item ?>
            <?php endforeach ?>
            </tbody>
        </table>
    <?php if (!(!$_rmaRequest->getIsActive() && (!$this->getComments() || !$this->getComments()->getSize()))) : ?>
        <div class="fieldset">
            <h2 class="legend"><?php echo $this->__('Messages History') ?></h2>
            <?php if ($this->getComments() && $this->getComments()->getSize()) : ?>
                <ul class="awrma-comments-list">
                    <?php foreach ($this->getComments() as $_comment) : ?>
                        <li>
                            <strong>
                                <?php echo $this->formatDate($_comment->getCreatedAt()) ?> <?php echo $this->formatTime($_comment->getCreatedAt()) ?>
                                <span class="separator">|</span>
                                <?php if ($_comment->getOwner() == AW_Rma_Model_Source_Owner::ADMIN) : ?>
                                    <?php echo Mage::getModel('awrma/source_owner')->getOptionLabel($_comment->getOwner()) ?>
                                <?php else : ?>
                                    <?php echo $_rmaRequest->getCustomerName() ?>
                                <?php endif ?>
                            </strong>
                            <div>
                                <?php echo $this->__($_comment->getText()) ?>
                            </div>
                            <?php if ($_comment->getAttachments()) : ?>
                                <div>
                                    <a href="<?php echo $this->getDownloadUrl($_comment) ?>"><?php echo $_comment->getAttachments() ?></a> (<?php echo Mage::helper('awrma/files')->getTextSize($_comment->getAttachments()) ?>)
                                </div>
                            <?php endif ?>
                        </li>
                    <?php endforeach ?>
                </ul>
            <?php endif; ?>
        </div>
    <?php endif ?>
        <script type="text/javascript">
            decorateTable('awrma-requested-items');
        </script>
    <?php endif ?>
</div>