<?php
/**
 * BelVG LLC.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 *
 *******************************************************************
 * @category   Belvg
 * @package    Belvg_Pricelistexport
 * @version    1.0.0
 * @copyright  Copyright (c) 2010 - 2013 BelVG LLC. (http://www.belvg.com)
 * @license    http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 */ 
$helper = $this->helper('pricelistexport');
?>
<?php if ($helper->isEnabled()): ?>
<?php if ($helper->isCat() && Mage::registry('current_category')): ?>
<?php $catId = Mage::registry('current_category')->getId() ?>
<script type="text/javascript">
var ple_cat_block = '<div class="getprice">'+
					'<a href="<?php echo $helper->getExportUrl('xls') . '/cat_id/' . $catId ?>" rel="nofollow">'+
                    '<? echo $this->__("Listino");?>'+
                    '</a>'+
                    '<a href="<?php echo $helper->getExportUrl('xls') . '/cat_id/' . $catId ?>" rel="nofollow">'+
                    '<img src="<?php echo $this->getSkinUrl('images/belvg/pricelistexport/27x/xls_icon.png') ?>">'+
                    '</a>'+
                    '</div>';
document.observe('dom:loaded', function() {
    $$('.page-title.category-title')[0].insert({ 'after' : ple_cat_block });
});
</script>
<?php endif; ?>
<?php if ($helper->isFull()): ?>
<script type="text/javascript">
var ple_full_block = '<div class="getprice">'+
                     '<a href="<?php echo $helper->getExportUrl('xls') ?>">'+
                     '<img src="<?php echo $this->getSkinUrl('images/belvg/pricelistexport/27x/xls_icon.png') ?>">'+
                     '</a>'+
                     '</div>';
document.observe('dom:loaded', function() {
    $$('.footer-container .footer')[0].insert(ple_full_block);
});
</script>
<?php endif; ?>
<?php endif; ?>